[2021-06-11 03:51] tcNickolas commented on #629
Yes, the reference solution for `TwoBitAdder` uses `Adjoint LowestBitCarry`, so it makes sense it fails in the same manner.

Good point about adjoint! I edited the issue to add it to the controlled.

[2021-06-15 19:51] #629 closed

[2021-07-02 00:10] tcNickolas commented on #542
Hi @born-2learn and @WaywardPhoton,
Are you still working on the PhaseEstimation and QFT workbooks, respectively? Let me know if you want to drop them or need any help from me - I finally have a little breathing room compared to the past few months, and hope to catch up on the open source work on the Katas in the next few weeks!

[2021-07-02 04:22] WaywardPhoton commented on #542
Hi, yes, I am almost done the QFT. Has been a busy two weeks with school.
Just doing some research to figure out part 3. I can send you what I have if you want.

[2021-07-02 18:16] tcNickolas commented on #542
@WaywardPhoton
Oh, I forgot we had part 3 in the QFT kata at all!  You can definitely skip that one, those are tasks from the [Q# Coding Contest #3](https://codeforces.com/contest/1357/) and they're pretty advanced. We have writeups of the solutions at https://assets.codeforces.com/rounds/1357/problems-e1e2-2.pdf, so I'll be able to hunt down the sources from which we generated that pdf and to reu

[2021-07-03 22:42] WaywardPhoton commented on #542
Gone ahead and made the pull request. Thanks!

[2021-07-15 22:45] #416 closed

[2021-07-15 22:51] tcNickolas opened #638 "[BoundedKnapsack] Finish the kata"
A follow-up for #416. The remaining work items:

- [ ] Develop Jupyter Notebook "frontend" for the kata, include it in the list of all katas and the CI build
- [ ] Develop part III "Solving knapsack problems using Grover's search". This will be based on the part III from #457, with the following changes:
    * We should have tasks to solve both 01 and multi-item variants of the problem (4 tasks in

[2021-07-20 00:58] #328 closed

[2021-07-20 07:24] vivanwin commented on #638
I can pickup the first part to create a Jupyter frontend for the kata.

[2021-07-20 07:35] tcNickolas commented on #638
@vivanwin That will be great, thank you!

[2021-07-22 23:21] tcNickolas opened #641 "%kata magic doesn't work with type-parameterized functions"
In #640, task 2.2 of the BoundedKnapsack kata couldn't be migrated to Jupyter Notebook. Both `%kata` and `%check_kata` threw exceptions when running with the generic function used in that task:

![image](https://user-images.githubusercontent.com/10113024/126720470-f683e896-da5f-4b78-84d9-66c0c31535d0.png)

We've seen the "Value cannot be null. (Parameter 'original')" error [in the past](https://gi

[2021-08-06 18:03] tcNickolas commented on #139
Sorry for the delay replying! You're definitely welcome to work on weak coloring!

I'm not sure about reorganizing the kata, though. The advantage of the current organization is that it verifies the learner's results, and while the individual task can be time-consuming, I think there is value for the learner in doing this verification for them.

I would keep parts 1 and 2 as is, then add part 3 fo

[2021-08-06 18:32] Manvi-Agrawal commented on #139
Does that mean that Part 3 would be having 3 tasks similar to Part 2?

Task 3.1, Classical check : IsWeakColouringValid
Task 3.2, Quantum Oracle : Weak ColouringOracle
Task 3.3, Grover's algorithm : FindWeakColoringWithGroversAlgorithm

[2021-08-06 18:39] tcNickolas commented on #139
Yes, plus any sub-tasks you feel can make the implementation easier for the learner.
For example, triangle-free coloring will have a sub-task to check whether the given triangle's coloring is a triangle or not. Weak coloring might have a sub-task to check whether at least one of the qubits is in state 1?

[2021-08-29 09:26] haavardw opened #651 "Invalid URL in README"
The link "Short animated video introducing BB84 protocol" results in a "Video unavailable" on YouTube.

[2021-08-31 23:46] tcNickolas commented on #651
Thank you for reporting! Looks like our broken links checker didn't recognize it, since it's not a 404 page. Let me remove the link.

[2021-09-01 07:51] #651 closed

[2021-09-13 20:38] sandreenko opened #658 "error message points to a wrong line number"
![image](https://user-images.githubusercontent.com/22642771/133152863-c9335819-d70d-48ee-b7d5-e36f092bf435.png)
the problem is that on line 6 the bracket is not closed but the error message tells us about line 5.

[2021-09-13 22:13] tcNickolas commented on #658
Good point! I suspect the culprit is https://github.com/microsoft/QuantumKatas/blob/852009b3ef96db0a7eed0bcc02bbe8b706452697/utilities/Microsoft.Quantum.Katas/KataMagic.cs#L98 - we're stripping the first line (the magic) from the code in the cell before compiling it, so it ends up reporting line numbers that don't match the cell line numbers.

I think it makes sense to wait with the fix until http

[2021-09-14 02:05] Manvi-Agrawal commented on #658
Hi @tcNickolas, I would love to work on this issue. Maybe I can take care of this is in #620 itself

[2021-09-14 17:03] tcNickolas commented on #658
@Manvi-Agrawal That will be great! Generally it's cleaner to keep unrelated changes separate, since this makes troubleshooting easier if anything breaks (allows to check which of the changes was breaking one). Let's wait until #620 is done and do the fix afterwards.

[2021-09-21 16:49] TonyHoldroyd commented on #542
@tcNickolas Ciao, I should like to either: develop a workbook for the Quantum BasicGates kata, or: develop a kata for the Classical language features of Q# (possibly subdidivided into smaller programmatical logocal units) , as per your notifications. As far as I can tell, nobody has taken these on yet.Please would you kindly let me know which, if either, of these, (or both in the fullness of time)

[2021-09-21 17:36] tcNickolas commented on #542
@TonyHoldroyd I'll be happy to support you in both of these endeavors! I recommend starting with the workbook for the BasicGates kata, since it is a well-defined work. Meanwhile I'll think about the way to organize the classical features kata and open a new issue for it - it's been on the roadmap forever and I never got to writing that down (thank you for the reminder!!) It seems that it can be ve

[2021-09-21 18:59] TonyHoldroyd commented on #542
About the scopes of the individual katas for classical features of Q#: sure thing, I expect logical groupings of the features into around about 4 sets might be the order of the day.

[2021-09-23 12:49] TonyHoldroyd commented on #542
Ciao Mariia, to edit the workbooks (and katas) do you recommend working with markdown and Latex directly in Jupyter Notebooks or use some other editor? Thanks

[2021-09-25 06:53] tcNickolas commented on #542
I edit Jupyter Notebooks directly in their environment - they're very
convenient in that you can edit the Markdown of the cells and then
immediately view it in the same environment, and the same with the code
cells, you can write the code and run it in the same place.

On Thu, Sep 23, 2021 at 5:49 AM Tony Holdroyd ***@***.***>
wrote:

[2021-09-25 09:36] TonyHoldroyd commented on #542
@tcNickolas Thank you Mariia, good, yes, that's what I was hoping you would say, I've used Jupyter Notebooks extensively in the past and have started with them for this work.

What do you think about the idea of adding a small extension task at the end of the solution to each Basic Gates  Task please?
The reason I ask is that in the Learning Path, Basic Gates follows Single Qubit Gates; the work i

[2021-09-25 14:03] TonyHoldroyd commented on #542
@tcNickolas Ciao Mariia, I have had a stab at the first two Tasks in the Basic Gates kata and was wondering if you have time to review  them for me  please?

[2021-09-27 20:32] tcNickolas commented on #542
@TonyHoldroyd Sure, you can attach the notebook to this thread and I'll take a look. (You might have to rename it to .txt, I think GitHub is not happy about .ipynb attachments.)
For the actual pull request, I recommend waiting until October 1st if you're interested in participating in [Hacktoberfest](https://hacktoberfest.digitalocean.com/resources/participation) - they have nice t-shirts if you l

[2021-09-27 22:07] TonyHoldroyd commented on #542
@tcNickolas Okay, thank you Mariia, it's attached. And thank you also for the tip, I never wear anything else these days :).

[WorkBook_BasicGatesCopy1ForMariia.txt](https://github.com/microsoft/QuantumKatas/files/7239558/WorkBook_BasicGatesCopy1ForMariia.txt)

[2021-09-29 02:41] tcNickolas opened #662 "Do not prebuild projects that don't have .csproj file"
In prebuild script used by the Binder, we try to do `dotnet build` on all katas and tutorials listed in https://github.com/microsoft/QuantumKatas/blob/main/Dockerfile, regardless of whether they actually have a .csproj file to build:
https://github.com/microsoft/QuantumKatas/blob/a8437af4a1a06d24e6dd0bf915acaef0a4f0a045/scripts/prebuild-kata.sh#L7

We have several tutorials, ComplexArithmetic and

[2021-09-29 10:15] CemNurlu commented on #542
Hello,
If it's still up for grabs, i can start working on Superdense Coding and Teleportation Workbooks. Is there a specific format guideline for the workbooks? If not i can start working now.

[2021-09-29 17:22] tcNickolas commented on #542
@CemNurlu Yes, these are still up for grabs! The workbooks do follow a specific structure, with a standard introduction followed by a sequence of tasks, with a task description, solution description, and solution code, and links to and from the kata notebook to link the respective tasks in both. You can check out any existing workbooks to see the structure; a recent example of a pull request addin

[2021-09-30 05:56] deepto98 commented on #662
@tcNickolas  Hi, I'd like to work on this issue. If it isn't assigned already, can you please assign this to me?

[2021-09-30 07:27] tcNickolas commented on #662
@deepto98 Sure! I recommend holding off the pull request for 24 hours to make sure it qualifies for Hacktoberfest :-)

[2021-10-01 00:22] tcNickolas commented on #542
@TonyHoldroyd I took a quick look your workbook draft, here are a few comments:
* When we reference tutorials or katas from notebooks, we use relative links to .ipynb tutorial files instead of absolute GitHub links - this way, if a person is on Binder or running the notebook locally, the link will take them directly to the tutorial referenced, rather than back to GitHub to find their way back to t

[2021-10-01 09:59] TonyHoldroyd commented on #542
Ciao Mariia, thank you very much for taking the time to leave me such detailed and helpful feedback notes, all of which make total sense.
What I thought was, if I make a pull request for every 4 workbook tasks would that be manageable?  I could do less, whatever would suit you, . Then I can merge all the tasks into one workbook at the end when you have approved them (I have found a little Python p

[2021-10-04 16:18] deepto98 commented on #662
@tcNickolas I added this check in this PR (https://github.com/microsoft/QuantumKatas/pull/667). Do let me know if this would work.
😃

[2021-10-04 18:54] tcNickolas commented on #662
Yes, that looks like it works :-) Thank you!

[2021-10-04 18:54] #662 closed

[2021-10-04 19:25] deepto98 commented on #662
You're welcome. I want to contribute more to the project, do let me know if there are any other issues I can work on.

[2021-10-17 19:28] TonyHoldroyd opened #678 "Still getting conflicting files :( fixed corruption problem :)"
Still getting conflicting files :( fixed corruption problem :)

_Originally posted by @TonyHoldroyd in https://github.com/microsoft/QuantumKatas/issues/672#issuecomment-945138915_

[2021-10-17 20:48] #678 closed

[2021-10-17 20:48] TonyHoldroyd commented on #678
commented elsewhere

[2021-10-27 01:37] ricardo-espinoza opened #683 "Update Quantum Katas project to be based on .NET6"
As part of planned work to change the base version of the QDK from .NET 3.1 to .NET 6, we'll need to update the Katas projects in conformance with this change. The main issue tracking this work can be found below:

https://github.com/microsoft/qsharp-compiler/issues/1224

[2021-11-12 23:49] #139 closed

[2021-12-16 17:44] lwoodyiii opened #710 "Task 1.4 in Basic Gates Kata is unclear"
Task 1.4 in the [Basic Gates Kata](https://github.com/microsoft/QuantumKatas/blob/main/BasicGates/BasicGates.ipynb) is unclear in the last Goal. It says:
_If the qubit is in superposition, change its state according to the effect on basis vectors._

- It is unclear which basis we are using; I think we should be explicit and say computational basis.

- "According to the effect" is unclear. Accordin

[2021-12-21 21:46] tcNickolas commented on #710
This sentence doesn't make a lot of sense on its own, it's supposed to be read in the context of the previous two statements that describe the desired effect of the operation on the basis states. In this context, "basis vectors" are "basis vectors mentioned above", and "effect" is "the effect described above"

[2021-12-27 18:55] #710 closed

[2021-12-30 09:33] ssc1729 commented on #542
@tcNickolas, I would like to contribute on this. I can start with _tutorials/RandomNumberGeneration_. Let me know if it already taken.

[2021-12-30 19:56] tcNickolas commented on #542
@ssc1729 Sounds great - I don't think anybody's working on RandomNumberGeneration so you're welcome to it!

[2022-01-05 21:24] #484 closed

[2022-01-28 19:26] tcNickolas opened #741 "Enable Azure Quantum job submissions from Binder"
`%azure.target` cell in [Part IV of the Deutsch-Jozsa tutorial](https://github.com/microsoft/QuantumKatas/pull/734) fails to execute on Binder. `%azure.connect` cell allows the user to connect to Azure and shows the list of targets, but attempting to set a specific target fails  with the `Unable to find package 'Microsoft.Quantum.Providers.IonQ'.` error.

On Binder, we restore NuGet packages when

[2022-01-30 02:57] tcNickolas opened #742 "Add CI job to validate the Katas on the current M.Q.Katas package"
Currently all CI build jobs in the Katas CI build use the latest released Microsoft.Quantum.Katas package (the version defined in the .csproj files). E2E builds build the package currently defined in the code and then update the katas to use that package before running the validations. This means that when a bad change is introduced to the M.Q.Katas package, Katas CI build can pass but the E2E bui

[2022-02-02 19:49] aeonprincesca opened #743 "PYTHON"
PYTHON is one of the world's largest language programming software's and they're offering a Crash Course

[2022-02-02 19:50] #743 closed

[2022-02-05 01:15] ricardo-espinoza commented on #683
A preview version of the Quantum Development Kit is now available in beta. You can try it out now in the following ways:

- Using the Quantum Katas in Binder, by going to: https://mybinder.org/v2/gh/Microsoft/QuantumKatas/feature/dotnet6?urlpath=/tree/index.ipynb
- Locally, by cloning the Katas repo and using branch `feature/dotnet6` instead of `main`, and then following the regular instructions a

[2022-03-02 18:56] IsraelMiles opened #760 "This is a test issue for ado-sync"

[2022-03-02 19:02] IsraelMiles commented on #760
Adding a comment

[2022-03-02 19:04] IsraelMiles commented on #760
Adding a comment

[2022-03-02 19:13] IsraelMiles commented on #760
Adding a comment

[2022-03-21 19:07] #760 closed

[2022-03-24 18:26] japanavi commented on #542
I can do QEC_BitFlipCode!

[2022-03-24 20:56] tcNickolas commented on #542
@japanavi Sounds good!

[2022-03-31 01:56] tcNickolas commented on #683
The update to .NET6 is complete as of release 0.24.201332.

[2022-03-31 01:56] #683 closed

[2022-04-05 11:12] meltyness opened #775 "%kata T15_Oracle_ProductFunction -- operation Oracle_ProductFunction canonical implementation"
It would seem that one could implement this using https://docs.microsoft.com/en-us/qsharp/api/qsharp/microsoft.quantum.canon.applycontrolledonbitstring however the implementation is supplying a Bool string typed as an int string.

[2022-04-05 12:49] meltyness commented on #775
If you are here, see the following snippet:
[code]

[2022-04-06 14:44] meltyness opened #776 "Q# compiler reports that `using y` grammar is being deprecated"
In the Grover's Search tutorial the following solution may not work permanently -- there may be other instances of this class of issue replicated elsewhere.

It's worth noting too that syntax has been shuffled around on this twice addressing both :
- modifying the keyword: `using` -> `use`
- elimination of the parenthesis surrounding the assignment operator `(eval = Qubit())` -> `eval = Qubit()`

[2022-04-06 18:35] tcNickolas commented on #776
Indeed the `using` syntax was deprecated about a year ago, and we went through the code updating it to the latest one. But evidently, we missed the old syntax in a couple of places! Looks like there are three occurrences in `ExploringGroversAlgorithmTutorial.ipynb` and one in `Qubit.ipynb`, and they're all in the text of the tutorials rather than in the code cells. That explains how we missed them

[2022-04-06 20:07] tcNickolas commented on #775
I don't think Task 1.5 from DeutschJozsaAlgorithm kata can be solved using ControlledOnBitString. ControlledOnBitString allows to mark a single basis state that matches a specific pattern, and this task looks for all basis states that have the right parity of the selected bits.

For example, if we're looking at 3-qubit states and a pattern [1, 0, 0], ControlledOnBitString would mark one state, |10

[2022-04-06 20:18] meltyness commented on #776
Done! And thank you for building wonderful onboarding into this nascent science!

[2022-04-06 21:00] meltyness commented on #775
I concur, I know a lot more now than I did when I typed this up. I'll close it.

[2022-04-06 21:00] #775 closed

[2022-04-06 22:50] #776 closed

[2022-04-07 01:46] PratikSathe commented on #542
Hi @tcNickolas , I would like to work on one of the workbooks or tutorials. It seems to me that the Oracles Tutorial might be up for grabs. Is MagicSquareGame, or any other one taken?

[2022-04-07 02:38] tcNickolas commented on #542
Hi @PratikSathe, welcome back! :-)

Let me check quickly with someone who expressed interest in the workbook for the Oracles tutorial; all others that are not marked as taken are up for grabs!

[2022-04-15 04:09] PratikSathe commented on #542
Hi @tcNickolas , I would like to work on Phase Estimation!

[2022-04-15 17:14] tcNickolas commented on #542
@PratikSathe Sounds good!

[2022-05-16 23:59] FTCEnergy opened #781 "Can't Make Q# Work in Visual Studio 2022"
namespace Quantum.QSharpTestProject1 {
    open Microsoft.Quantum.Canon;
    open Microsoft.Quantum.Diagnostics;
    open Microsoft.Quantum.Intrinsic;

    @Test("QuantumSimulator")
States no namespace for these underlined exists.  I have added package references with various versions for all.  Still nothing.
I'm stuck.

[2022-05-17 16:27] FTCEnergy commented on #781
Thanks

I am using the latest version of the Quantum Development kit.  I downloaded the latest version of the Visual Studio 2022.  I used their samples.

I get this –

With the errors –

I do not know what to do.  I have tried everything I could in the ItemGroup.  This is just the last.  Nothing has worked.

Any directions to fix this would be appreciated.

Joe Shepard

(386) 747-3999

From: Vince

[2022-05-18 07:27] vivanwin commented on #781
Hi,

Are you attaching code or pictures? I cannot see your errors, or other information.

Vincent

[2022-05-18 10:49] FTCEnergy commented on #781
Pictures are attached with this email.

Joe Shepard

(386) 747-3999

From: Vincent van Wingerden ***@***.***
Sent: Wednesday, May 18, 2022 3:28 AM
To: microsoft/QuantumKatas
Cc: FTCEnergy; Author
Subject: Re: [microsoft/QuantumKatas] Can't Make Q# Work in Visual Studio 2022 (Issue #781)

Hi,

Are you attaching code or pictures? I cannot see your errors, or other information.

Vincent

—
Reply to t

[2022-05-18 13:22] vivanwin commented on #781
I still cannot see anything. Could you upload the images via GitHub?

[2022-05-19 02:22] ricardo-espinoza commented on #781
Hi @FTCEnergy , if you are using Visual Studio 2022, you need to use the version of the Quantum Development Kit that targets this product. Can you please confirm that you are using this one? (Notice that there is a 64 at the end of the URL)

https://marketplace.visualstudio.com/items?itemName=quantum.DevKit64

We now have two versions of the Visual Studio extension. One of them is 64-bit and targe

[2022-05-19 17:52] tcNickolas commented on #781
@FTCEnergy This looks weird. When you run "dotnet build" in that folder from command line, ignoring VS 2022 for a moment, does the project build and run successfully? If it does, then it's VS language server being weird rather than the build - it does that sometimes for me too.

[2022-05-19 18:17] FTCEnergy commented on #781
I have really big plans for Quantum because of all my forecasting matrix work with AI.  I want to seriously expand my matrices.  Major firms are looking to use what I know.  But I can't even build one of Microsoft's own software programs.  It's not from lack of trying.

[2022-05-19 18:25] tcNickolas commented on #781
@FTCEnergy Does this mean that running "dotnet build" from the command line gives you the same errors?

[2022-05-19 18:27] FTCEnergy commented on #781
I haven't tried that.  I will later.

[2022-05-19 19:41] tcNickolas opened #784 "[PhaseEstimation] Enable task 1.3 in Jupyter notebook"
Currently task 1.3 (Validate inputs to QPE) is covered by [two types of tests](https://github.com/microsoft/QuantumKatas/blob/main/PhaseEstimation/Tests.cs) - Q# test `TestAssertIsEigenstate_True` that checks that the solution doesn't throw exceptions on inputs that are a valid unitary-eigenstate pair, and C# tests that check that the solution does throw exception on inputs that are not a valid un

[2022-05-23 20:01] microsoft-github-policy-service[bot] opened #786 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-23 23:59] #786 closed

[2022-06-01 20:38] ricardo-espinoza commented on #781
Hi @FTCEnergy , were you able to get the extension to work in VS 2022?

[2022-06-01 20:47] FTCEnergy commented on #781
Yes.

[2022-06-02 15:32] Parisha-Agrawal commented on #542
Hi @tcNickolas  , I would like to work on the tasks in Ripple Carry Adder. I am planning to send 3-4 workbook tasks in a PR so that it is manageable with my college course. Would that be ok with you?

[2022-06-02 22:38] Parisha-Agrawal commented on #542
Thanks @tcNickolas . I will get started on "Ripple Carry Adder" workbook then. I will update this thread when my first draft is ready  :-)

[2022-06-19 17:24] Parisha-Agrawal commented on #542
Hi @tcNickolas , I have created pull request to add workbook tasks 1.1 - tasks 1.3 in pull request. https://github.com/microsoft/QuantumKatas/pull/794

Would be glad to receive your feedback.

[2022-07-09 21:35] ivan-shaporov opened #799 "Sample solutions for task 1.14 of the Superposition katas."
https://github.com/microsoft/QuantumKatas/blob/cd7b60ea618512b0012f16f631c6c780d623841a/Superposition/Workbook_Superposition_Part2.ipynb?short_path=8af21c1#L622

I am looking at the sample solutions for task 1.14 of the Superposition katas. How about another option:
[code]

It is simpler than what is suggested and passes the tests. Isn't it correct?

[2022-07-11 20:51] tcNickolas commented on #799
It looks correct, yes! Passing the tests is a good sign, and I think you can also demonstrate its correctness recursively, since the for loop adds one qubit at a time and keeps the parity of the states even.

Do you want to add it to the workbook as an alternative solution? It's harder for me to come up with solutions which use gates with a "later" qubit as control and an "earlier" one as target,

[2022-07-11 23:26] ivan-shaporov commented on #799
Thank you @tcNickolas for looking into this. I've created a PR #802

[2022-07-15 05:24] #799 closed

[2022-07-18 15:51] ivan-shaporov opened #803 "Mistake in multi-qubit measurement tutorial exercise 2 calculations."
https://github.com/microsoft/QuantumKatas/blob/cf3d7e3cbae6f5a0bfd0cf67381ce613d7412383/tutorials/MultiQubitSystemMeasurements/Workbook_MultiQubitSystemMeasurements.ipynb?short_path=78ffc93#L97-L101

I repeated the calculations and got a different result with the amplitudes of the last two terms swapped:

$\\newcommand{\\ket}[1]{\\left|#1\\right>}$,
$\\newcommand{\\bra}[1]{\\left<#1\\right|}$
$$\\

[2022-07-18 15:58] ivan-shaporov commented on #803
#804

[2022-07-19 16:55] Manvi-Agrawal opened #806 "Enable tests that are currently excluded with multicell solution tag"
In [PR 539 : Updating notebooks validation script to exclude individual tasks](https://github.com/microsoft/QuantumKatas/pull/539), we excluded tasks in CHSHGame and MagicSquareGame because some tasks required implementing two code cells at once before running the test, so the first of the cells implemented is guaranteed to fail.

Currently, the following notebooks have a `multicell_solution`
- CH

[2022-07-23 19:49] tcNickolas opened #807 "[MultiQubitSystemMeasurements] Add code to Exercise 2 solution to show state in Pauli X basis"
Follow up to #804: it is possible to verify the math computation for the state in the Pauli X basis by preparing the given state and then applying an H gate to each qubit - the amplitudes of the computational basis states in the resulting state will match the amplitudes of the Pauli X basis states in the original state. I was tempted to write this code when reviewing the pull request, so it could

[2022-07-23 19:52] #803 closed

[2022-07-28 10:57] remilvus opened #809 "[Qubits and Gates] Fix math mode rendering in browser"
Hi, I've noticed that equations written in math mode are not always rendered correctly in a browser. Fixing this would make the learning experience better for people that use separate devices for reading and solving katas.

### Example of the problem
Equations written in consecutive lines are rendered as one-line equation.

In the [SingleQubitGate kata](https://github.com/microsoft/QuantumKatas/bl

[2022-07-28 14:35] remilvus commented on #807
I can work on this task

[2022-07-28 19:02] tcNickolas commented on #807
Sounds great! It should be rather straightforward, but let me know if you have any questions!

[2022-07-28 23:56] tcNickolas commented on #809
This can be a good thing to fix indeed. We've always assumed that the main use case for the katas is interactive, since the project started with the katas, and added tutorials and workbooks that had valuable reading material only much later! So we never spent time on renderings in GitHub preview mode.

Some things might just not be supported - I'm not sure GitHub previewer handles color at all? An

[2022-07-29 06:44] remilvus commented on #809
GitHub previewer can handle color, but it seems to color everything that comes after the `\color` command until the end of the line. This can be fixed by adding more curly brackets to make the scope of `\color` more explicit.

The note broken up by `>` signs was my mistake. I'm not used to using/seeing notes in notebooks, and I didn't notice that my fix broke the note. It's all fixed now, thanks f

[2022-07-29 16:45] remilvus commented on #809
I've fixed the rendering problems in almost all katas and workbooks from [Quantum Computing Concepts: Qubits and Gates](https://github.com/microsoft/QuantumKatas/tree/ba3f41be5644c6834370666a7c6eb249bfc65b49#quantum-computing-concepts-qubits-and-gates) section of the Learning Path. In this section only the Superposition workbook still has rendering errors.

Unfortunately, I don't have enough time

[2022-07-30 05:53] abrassel opened #815 "Task 1.15 in Measurements Kata says two states are orthogonal."
Task 1.15 seems to make the claim that |S_0> and |S_1> are orthogonal, but it seems as though their inner product is 1.  I sanity checked myself with the following [Wolfram Alpha query](https://www.wolframalpha.com/input?i=inner+product%28%5B1%2C+e%5E%282*pi*i%2F3%29%2C+e%5E%282*pi*i%2F3%29%5E2%5D%2C+%5B1%2C+e%5E%28*pi*i%2F3%29%5E2%2C+e%5E%282*pi*i%2F3%29%5D%29&assumption=%7B%22C%22%2C+%22inner+pr

[2022-07-30 06:48] abrassel opened #816 "Exercise 5 for RandomNumberGenerationTutorial - slightly cleaner solution"
The current approach for the RandomNumberGenerationTutorial tries to generate random numbers from [0, max) until it finds a value in [min, max].  You could make it a bit more efficient this way:

[code]

Also, because the original implementation calls `BitSizeI(max)`, and `RandomNBits(N)` generates values between `[0, 2^N-1]`, if max is a power of 2 (e.g. `2^N`), then RandomNBits will generate val

[2022-08-01 18:04] tcNickolas commented on #815
I believe "inner product" in Wolfram Alpha does not match that used in quantum computing. The one in Wolfram Alpha just performs pairwise multiplication of the input vectors and adds the results, while in quantum computing you multiply one vector by the *adjoint* of the other, taking complex conjugates of the amplitudes of one of the states. The matching Wolfram Alpha query would be [this one](htt

[2022-08-02 01:23] #807 closed

[2022-08-03 14:08] Manvi-Agrawal commented on #816
@abrassel , seems there are three things at play here: efficiency of current algorithm, correctness of existing solution and passing of your solution with and without +1.

- Efficiency: I agree that your solution is slightly more efficient. I think it would be a good idea to have it as an alternative solution in workbook
- Correctness of existing solution: The existing solution is correct because

[2022-08-03 23:53] #815 closed

[2022-08-04 00:02] tcNickolas commented on #809
Yes, the issue is easy to identify, and you did a great job with the first batch of fixes to show how they can be applied (though it takes considerable patience!), so it will make a "good first issue". I can label it as such, and I can add a checklist of tutorials and workbooks that still have to be addressed, like I did for https://github.com/microsoft/QuantumKatas/issues/542, so that the contrib

[2022-08-05 06:00] abrassel commented on #816
Thank you Manvi!

[2022-08-05 06:03] abrassel commented on #815
That makes sense!

[2022-08-05 06:06] abrassel opened #817 "QFT Question"
Hi!  Thanks for these incredible tutorials.  I'm reading the QFT Kata, and trying to understand the step from j/2^k -> 0.j_n...j_n-k in Task 1.7  Would anyone be able to elaborate on the arithmetic there?

[2022-08-05 16:11] remilvus commented on #809
Thanks! A tip for other contributors: almost all problems can be solved by the two techniques I mentioned previously. That is:
- colour problems can be solved by adding additional curly braces `\color{red} <symbol> ` -> `{ \color{red} <symbol> }`
- multiline equation displayed on one line can be fixed by dividing the math mode into two `$$eq1 \\ eq2$$`  -> `$$ eq1 $$    $$ eq2 $$`

[2022-08-05 16:58] remilvus opened #818 "Late introduction of `ControlledOnInt` operation"
### Problem
If someone is flawlessly solving notebooks in order that the "Learning Path" suggests, then they will encounter the `ControlledOnInt` operation for the first time in [Oracles tutorial](https://github.com/microsoft/QuantumKatas/blob/main/tutorials/Oracles/Oracles.ipynb).
This is a quite useful operation, that is used for example in the Superposition workbook (solution to task 1.12).

##

[2022-08-06 11:55] Manvi-Agrawal commented on #817
Hi @abrassel, I did not get your question fully,  so I  am taking liberty to explain the whole solution.

- First, we start by preparing the described state with the qubits reversed. This is important as it allows to prepare the state inplace.
- We are doing this by leveraging `BinaryFractionQuantumInPlace` from Task 1.5. This function changes the state of the register from $|j_1\\rangle \\otimes

[2022-08-06 17:51] abrassel commented on #817
Hi @Manvi-Agrawal , thanks for explaining your solution!  I didn't realize that you could use latex in markdown comments, so I can actually go into a bit more depth about the nature of my question.  My specific understanding gap is in the math, not the gates we are using to implement it.

In Task 1.7, there is a two-step sequence of algebraic transformations.  From $\frac{1}{\sqrt{2^n}}\sum_{k=0}^

[2022-08-09 21:15] tcNickolas commented on #818
That's a good point, indeed Superposition task 1.12 uses it in the solution (as well as ControlledOnBitString) but doesn't offer a hint for it.

Do you want to open a pull request adding a hint to Superposition task 1.12 mentioning ControlledOnInt and ControlledOnBitString as useful library functions to use? A separate task wouldn't really work in the context of Superposition kata, since all the t

[2022-08-10 14:45] Manvi-Agrawal commented on #817
Hi @abrassel, the math of transformation from $\frac{1}{\sqrt{2^{n}}} \sum_{}{} e^{2\pi i \cdot \frac{jk}{2^{n}}} |k\rangle$ to factoring it across various tensor products is a bit intensive and lengthy.

Here is the [binder link](https://mybinder.org/v2/gh/Manvi-Agrawal/QuantumKatas/qft/t17-qft-math?labpath=QFT%2FWorkbook_QFT.ipynb#Math-to-get-qubit-transformation-from-summation) that you can vis

[2022-08-10 14:51] Manvi-Agrawal commented on #817
@tcNickolas, do you think we should add this math in workbook or would it get too intensive? Because I think its not very obvious to understand the transformation from summation to tensor products expression listed in workbook for task 1.7.

[2022-08-10 17:12] Manvi-Agrawal opened #823 "Disable cell id generation while working on jupyter notebooks locally"
### Issue context
While working on some notebooks like `QFT workbook` with jupyter locally, it generates cell ids to all type of cells(code, markdown, etc). This is on not a problem if someone is running a kata locally. However, its extremely frustrating for people who want to contribute to Quantum Katas repo. As a mitigation, we might want to use "git add -patch" or edit the JSON object directly

[2022-08-10 17:26] remilvus commented on #818
Yes, I would like to do that.

When mentioning adding this as a separate task, I was thinking it could be in one of the katas that come before Superposition. For example, Basic Gates Kata looks like a good candidate, as controlled gates are introduced there.
In my opinion, it's good to have both a hint and a task, especially if `ControlledOnBitString` operation is included. What do you think? Divi

[2022-08-10 18:27] abrassel commented on #817
Oh!  This helped immensely @Manvi-Agrawal .  I would definitely have benefited from having this in the work book (or at least a link to the solutions).

[2022-08-11 03:35] Manvi-Agrawal commented on #817
I am glad @abrassel , that I was able to help you

[2022-08-12 03:25] tcNickolas commented on #818
Exercise 5 of the MultiQubitGates tutorial covers `ControlledOnBitString` function in quite a lot of detail, so we probably don't need an infinite number of tasks :-) BasicGates can be a good place for a task "Two-qubit gate - 4" (between the current tasks 2.3 and 2.4) introducing a zero-controlled NOT gate, as a simpler version of that exercise, and you can introduce both ControlledOn* functions

[2022-08-12 03:40] tcNickolas commented on #823
Hmm, that's interesting. I was sure it's a side effect of different versions or different tools that people use to edit the notebooks, rather than something specific to the content of the notebooks. I've noticed before that people editing notebooks would introduce the cell ids, but once I edit them on my setup, the ids would go away again. The BasicGates workbook from your example does not have ce

[2022-08-12 04:20] tcNickolas commented on #817
Yes, if this helps, we definitely can add this to the workbook! (And I didn't know you could use LaTeX on GitHub either! :-) )

[2022-08-12 17:10] Manvi-Agrawal commented on #823
Yes @tcNickolas, you are right.  Interestingly, my local machine is on `nbformat 5.4`. My guess is that jupyter does the following:
- For brand new notebooks, jupyter stores the local version of nbformat in notebook.
- For notebboks that already exists, it does not oveeride the versions but tries to use it as a baseline
    - for older notebooks <4.5, it does not generate cell id
    - for noteboo

[2022-08-12 17:19] Manvi-Agrawal commented on #817
Hmm, this is interesting. This was my first time using LaTex on Github. My idea behind using LaTex in comment was that Github supports markdown in comments. And we use Latex in markdown cells in Jupyter notebook. That being said, Github markdown supports only some LaTex or with a slightly different syntax.

I initially planned to send the math explaination in Github comment by copying from jupyter

[2022-08-12 20:19] #823 closed

[2022-08-14 19:01] Manvi-Agrawal commented on #817
I thought it might be a good idea to introduce a separate task for `Two qubit QFT` so that math for `N bit QFT` does not sound a bit lengthy to the learners.

 Also, I thought that maybe we should give the info about transformation of summation to tensor products in a hint, rather than giving it right away so that learners can spend some time in figuring out math. Also, I have given an option to s

[2022-09-07 17:57] Manvi-Agrawal opened #833 "Validate only changed katas…"
Table of Contents
- [Background](https://docs.google.com/document/d/1qOzedI1VMSBob1MTfo6YVyx4IWGsBvsgJxO84DLIBQo/edit#heading=h.83488oowplva)
- [Approach](https://docs.google.com/document/d/1qOzedI1VMSBob1MTfo6YVyx4IWGsBvsgJxO84DLIBQo/edit#heading=h.pu3xs4w86uz1)
- [Execution plan](https://docs.google.com/document/d/1qOzedI1VMSBob1MTfo6YVyx4IWGsBvsgJxO84DLIBQo/edit#heading=h.5wpo3wr29rt)
    - [Fi

[2022-09-11 04:51] #818 closed

[2022-10-11 07:27] FTCEnergy commented on #781
Pasted them on GitHub.  Can you see them?

Joe Shepard

(386) 747-3999

From: Vincent van Wingerden ***@***.***
Sent: Wednesday, May 18, 2022 9:22 AM
To: microsoft/QuantumKatas
Cc: FTCEnergy; Author
Subject: Re: [microsoft/QuantumKatas] Can't Make Q# Work in Visual Studio 2022 (Issue #781)

I still cannot see anything. Could you upload the images via GitHub?

—
Reply to this email directly, view i

[2022-10-23 19:32] tcNickolas opened #842 "%kata magic doesn't work with lambda expressions"
I tried to solve one of the tasks in https://github.com/microsoft/QuantumKatas/pull/841 using lambda expressions instead of library functions, and it turns out that %kata magic fails if the code in that cell contains a lambda expression. The error is `Expecting only one Q# operation in code. Using the first one`; it looks like behind the scenes the Q# compiler generates explicit operations/functio

[2022-10-24 03:34] tcNickolas commented on #816
I'm sorry for not answering this back in summer! I'm not sure how I've missed it, possibly I've read it and nodded along but got distracted before I actually commented?

I agree that it makes sense to use the more efficient approach you're describing, both as the main reference solution in the `ReferenceImplementation.qs` and in the workbook. Would you be interested in sending the pull request wit

[2022-10-27 20:59] #784 closed

[2022-10-29 01:38] abrassel commented on #816
Hi Nickolas!  I don't have the time at the moment to submit the PR, but you are welcome to copy and paste this solution yourself!

[2022-10-31 17:09] #816 closed

[2022-11-18 13:09] CloudNative90 opened #854 "O(1) time complexity solution to Oracles tutorial, task 4.2"
Task 4.2, "Implement the arbitrary bit pattern oracle (challenge version)" in the Oracles.ipynb tutorial has the following solution in ReferenceImplementation.qs:

`operation ArbitraryBitPattern_Oracle_Challenge_Reference (x : Qubit[], pattern : Bool[]) : Unit is Adj + Ctl {
      within {
          for i in IndexRange(x) {
              if (not pattern[i]) {
                  X(x[i]);

[2022-11-21 14:15] Manvi-Agrawal commented on #854
Hi @CloudNative90 , thanks for coming up with an improvised solution with better time complexity and readability.

Regarding time complexity, could you please help me understand how is your solution O(1) time complexity? This is a very [similar example](https://www.geeksforgeeks.org/tail-recursion-to-calculate-sum-of-array-elements/?ref=rp) with O(N) time complexity. I am afraid we might be adding

[2022-11-21 14:22] Manvi-Agrawal commented on #854
@CloudNative90, you might want to contribute to workbook solution for "Part 4, Graph coloring: Triangle Free Coloring".

This requires an understanding of Oracles, Grover's algorithm and how to apply Grover's algorithm to graph coloring

Related issue: https://github.com/microsoft/QuantumKatas/issues/542

[2022-11-21 16:17] CloudNative90 commented on #854
Thank you for your feedback, @Manvi-Agrawal.

In the proposed solution, ControlledOnBitString is called only once, regardless of Length(x), because we always call it with all elements of x and pattern except their last one. Therefore, the operation can only call itself once, whenever Length(x) > 1, after which we immediately reach the stopping condition because we passed the last element in x and

[2022-11-21 18:19] Manvi-Agrawal commented on #854
@CloudNative90, I think we are making an assumption that `ControlledOnBitString` is `O(1)` time complexity. I took some time to dig into the documentation. From the [documentation](https://learn.microsoft.com/en-us/qsharp/api/qsharp/microsoft.quantum.canon.controlledonbitstring),  it seems that its `O(N)` time complexity. Here is the relevant snippet.

So, we end up traversing the input register t

[2022-11-21 19:10] CloudNative90 commented on #854
@Manvi-Agrawal, Yes, it was a misunderstanding on my part. The documentation clearly states the O(N) behavior of ControlledOnBitString. Going forward, I will confirm my understanding by delving deeper into the documentation.

Thank you for taking the time to answer, investigate, and point me in the right direction :)

[2022-11-23 13:34] CloudNative90 commented on #854
Thank you for your feedback, @tcNickolas.

Since the documentation clearly describes the behavior of ControlledOnBitString, explicitly adding it in the notebooks may be slightly redundant. I admit I felt somewhat silly having opened this issue once @Manvi-Agrawal provided the link to the documentation.

I think it's most efficient for learners to develop the habit of diving into the documentation

[2022-11-26 20:49] tcNickolas commented on #854
I feel a bit odd about adding a note saying something along the lines of "Read the documentation!" explicitly, it's not clear to me where is the best place for that, especially if the learner goes through the content out of order... But adding more links pointing to the specific documentation pages sounds good! That would be just the note in Demo 1.1 of Oracles tutorial saying "This code uses this

[2022-11-27 17:14] CloudNative90 commented on #854
Agreed. I added the note in Demo 1.1 of the Oracles tutorial with this [PR](https://github.com/microsoft/QuantumKatas/pull/855).

Thank you, @tcNickolas and @Manvi-Agrawal!

[2022-11-27 20:01] #854 closed