[2018-07-15 05:24] Grebnedlog opened #1 "Issue with task 9 of the "superposition" kata"
The output of the reference function TwoBitstringSuperposition_Reference doesn't seem to be correct: For the bit string input b1=(false,true); b2=(true, false), calling DumpRegister on the qubit state returns:
`Ids:	[1;0;]
Wavefunction:
0:	1	0
1:	0	0
2:	0	0
3:	0	0
`
The way I understand the problem, I would expect an output such as:
`Ids:	[2;1;]
Wavefunction:
0:	0	0
1:	0.707107	0
2:	0.707107	0
3:

[2018-07-15 17:51] tcNickolas commented on #1
Could you please share the code you're using to get this result?

I ran the following code:

    using (qs = Qubit[2]) {
        TwoBitstringSuperposition_Reference(qs, [false; true], [true; false]);
        DumpRegister("", qs);
    }

And it dutifully printed the expected state:

    Ids:    [1;0;]
    Wavefunction:
    0:      0       0
    1:      0.707107        0
    2:      0.707107

[2018-07-16 01:04] Grebnedlog commented on #1
Strangely enough, when I was running the same code again today, it gave the expected output. Thanks for the feedback!

[2018-07-16 01:04] #1 closed

[2018-07-24 03:51] cuo9958 opened #2 "Does this plan to grow for a long time"
i hope it nice

[2018-07-24 18:21] tcNickolas commented on #2
Yes, we definitely plan to expand the list of the topics, so that this project will be a proper introduction to quantum computing. I think at some point we'll run out of topics, but I don't see this happening in the next several months :-)

[2018-07-24 19:22] YI1990 opened #3 "Q#"

[2018-07-25 09:04] Quuxplusone opened #4 "Unicode nit"
At least BasicGates/Tasks.qs, but probably all of the code files, use a mix of two different Unicode characters to represent the ">"-looking symbol:
[code]
At least in my browser, U+232A isn't even the same width as the other characters in the monospace font, which makes the discrepancy really obvious and distracting.
It would be nice to go through and find all instances of U+232A and replace them

[2018-07-25 14:01] uyaddayu commented on #2
look so cool but i am so poor about it

[2018-07-27 03:31] tornodo commented on #2
maybe not

[2018-07-29 16:51] #2 closed

[2018-07-29 16:51] #3 closed

[2018-07-29 21:18] 7rakir opened #6 "Issue with task 1.4"
Hello,
I'm confused by the solution of task 1.4 for which all tests seem to be passing: `Ry(2.0 * alpha, q);`

[This article](https://docs.microsoft.com/en-us/quantum/quantum-concepts-4-qubit?view=qsharp-preview#single-qubit-operations) states that Ry(a) = S.H.Rz(a).H.S^T where:
- S=S^T={{1,0},{0,i}}
- H=1/sqrt(2)×{{1,1},{1,-1}}
- Rz(a)={{e^(-i×a/2),0},{0,e^(i×a/2),0}}

The result of such multipli

[2018-07-29 22:08] alan-geller commented on #6
@7rakir S^ (S-adjoint) isn't the same as S; it's {{1,0},{0,**-**i}}, not {{1,0},{0,i}}. I believe if you multiple through with the correct matrix for S^ you'll get the correct values.

[2018-07-30 08:16] 7rakir commented on #6
Thank you very much. For some reason I misread that it's conjugate transpose (†) and not a simple transpose (T).
It's all clear now.

[2018-07-30 08:16] #6 closed

[2018-08-06 17:56] #4 closed

[2018-08-06 17:59] tcNickolas commented on #4
@Quuxplusone Thank you again for noticing and fixing this. I wonder what browser did you use for discovering this? None of the browsers and text editors I've tried shows any difference between the characters, and I'd like to prevent U+232A from creeping in the code again.

[2018-08-06 20:10] Quuxplusone commented on #4
I see it in every application I've tried. Safari and Chrome (using Monaco font, maybe?) both show the difference. Terminal (using Menlo Regular 13pt) shows the difference.

However, I might have an explanation at least for the browsers. I think what might be happening is that one of the characters is supported by many fonts, and the other is not supported by many fonts; therefore the browser/termi

[2018-08-08 06:17] CyberMonitor opened #7 "dotnet test have error at BasicGates folder"

[2018-08-08 06:32] #7 closed

[2018-08-27 23:46] CaptainFlint opened #8 "Are Q# matrices transposed?"
There is a discrepancy between what I see in Q# documentation / QuantumKatas tasks, and all the other documentation all over the Internet. In particular, the gates `Y` and `Ry` seem to me to be transposed.

Let's take `Y` for example. All docs, **including Microsoft ones**, tell that
[code]
(I'm using the line-by-line notation)
Therefore, when you apply it to the base states you get:
[code]
And th

[2018-08-28 10:31] CaptainFlint commented on #8
Sorry, disregard this. I completely messed up the vector state representations when multiplying.

[2018-08-28 10:31] #8 closed

[2018-09-08 11:42] AlainChance opened #10 "Issue with task 1.6* Phase change of the "Basic.Gates" kata"
Hello,
Pertaining to task 1.6* Phase change of the "Basic.Gates" kata:
[code]
The reference solution `Rz(alpha, q);` doesn't seem to be correct, since:
Rz(alpha) |0> = exp(-i * alpha/2) |0>
Rz(alpha) |1> = exp(i * alpha/2) |1>
Please check.

[2018-09-08 16:47] tcNickolas commented on #10
If we apply Rz(alpha) to qubit in state `β|0⟩ + γ|1⟩`, we'll get
`exp(-i * alpha/2) β|0⟩ + exp(i * alpha/2) γ|1⟩ = exp(-i * alpha/2) (β|0⟩ + exp(i * alpha) γ|1⟩)`, which is the required state up to a global phase `exp(-i * alpha/2)`. Since the global phase can always be ignored, Rz(alpha) performs the required transformation.

Hope that helps!

[2018-09-08 20:54] AlainChance commented on #10
Yes, it helps!

I suggest updating the goal of task 1.6* Phase change of the "Basic.Gates" kata as follows:
[code]
Thanks!

[2018-09-14 10:06] #10 closed

[2018-10-06 01:02] daniel-melia opened #28 "Cryptography Kata"
Hi.

I'd like to create a kata on quantum cryptography, is it alright to get that put on the roadmap? Intend to introduce the coder to a quantum key distribution scheme, show how it could be used to create a one-time pad, and have them test whether the line is being eavesdropped on when generating the key.

Thanks,
Daniel

[2018-10-08 01:52] daniel-melia commented on #28
Great, quantum key distribution sounds good to me. BB84 is the natural place to start; will see if it feels right to introduce other protocols as part of the same kata as I develop it.

[2018-10-08 01:52] #28 closed

[2018-10-22 08:53] lmrazorea opened #37 "Shor's algorithm kata"
Hi,

I've started work on creating a kata for Shor's algorithm.  Is it possible to update the corresponding item on the roadmap to show that it's being currently developed?

Thank you!

[2018-10-22 16:00] tcNickolas commented on #37
Sure, I'll update it later today.

Do you want to share your thoughts about the breakdown into tasks for it? It's an ambitious topic, I was thinking that it would rely on several other, simpler katas, like quantum arithmetic.

[2018-10-23 06:04] lmrazorea commented on #37
At the moment, my idea is to split the algorithm into the following major steps that will become kata tasks:
1) find appropriate coprime of the number that needs to be factorized;
2) generate the specific function involving the coprime that's mentioned in Shor's algorithm;
3) write the order finding oracle;
4) find the period of the function mentioned at 2) (maybe I'll be able to split this step i

[2018-10-24 01:43] #37 closed

[2018-10-27 19:44] charly37 opened #41 "Exception Microsoft.Quantum.Simulator.Runtime.dll"
Hi,

I followed the instructions here
https://www.microsoft.com/net/download/linux-package-manager/ubuntu18-04/sdk-current
https://docs.microsoft.com/en-us/quantum/install-guide/command-line?view=qsharp-preview

but had issue on various linux versions (you can reproduce with ubuntu:18.04 or centos:7 from dockerhub) with the following error

[code]

The following SO issue help me fixing it (https:/

[2018-10-28 01:43] lazyoracle opened #42 "Failing Tests"
All Tests fail for any Katas in a system that runs fine with the erstwhile Quantum repository.

[2018-10-28 04:00] lazyoracle commented on #42
Thanks. Closed.

[2018-10-28 04:00] #42 closed

[2018-12-20 18:21] tcNickolas commented on #41
Thank you for reporting this!

I've transferred this issue to the documentation repo https://github.com/MicrosoftDocs/quantum-docs-pr/issues/335, since it's not really something that can be addressed on the katas project level.

[2018-12-20 18:21] #41 closed

[2019-01-02 03:47] cherrybuchanan4208 commented on #2
How do I talk to or text or find dr halim I seen the new doc an he is taking me off my clonipin an Subutex an I have no doctor an will not see a doctor unless I get tarq halim back ppl out there help me please I am out of meds an he is the only doc that understand me and my head thank you God bless Cherry

[2019-01-09 19:21] tcNickolas commented on #28
Hey @daniel-melia, just wanted to check whether you're still working on this kata? Please let me know if you need any help from me.

[2019-01-12 21:52] daniel-melia commented on #28
Hi @tcNickolas, had to limit my keyboard time and put personal projects on hold for a few months after developing RSI! Have it under control now so will be cracking on with the kata.

[2019-01-14 00:12] tcNickolas commented on #28
No rush, and glad you're feeling better!

[2019-01-18 11:44] Rufus1123 opened #59 "Math.ArcSin returns NaN"
I am trying to solve the Measurement Task 1.8 AllZerosOrWState. As far as I can tell, I solved correctly, but the test fails. (Actually pasting the solution from referenceImplementation.qs still results in a failing test)

Debugging the test, I noticed a ArgumentOutOfRange exception for the angle returned by ArcSin(). It returns NaN. I tried some more ratios and this is the result:

![image](https

[2019-01-29 09:31] Rufus1123 commented on #59
Somehow, the decimal separator is ignored. I get the expected values when I do:

![image](https://user-images.githubusercontent.com/32542901/51898301-eaae0480-23b0-11e9-833a-df728e04b7f6.png)

![image](https://user-images.githubusercontent.com/32542901/51898340-fb5e7a80-23b0-11e9-86fa-1e1e92e48d31.png)

Any idea why this might be happening?

[2019-01-29 19:17] tcNickolas commented on #59
Could you provide more details on what language and region settings you have, and what OS?

[2019-01-30 09:16] Rufus1123 commented on #59
My language setting is Dutch. The dutch language setting by default uses a , as a decimal separator and a . as a thousands separator. I swapped those around and now it works like it should. I did not expect this Windows setting to affect the passing and failing of tests, but it works.
Thanks for the help.

[2019-01-30 09:17] #59 closed

[2019-01-30 10:10] Padanian commented on #59
It probably means the either the IDE does not honor locale settings or ignores them and pass invalid values along.
At least a warning should be raised.
I would suggest to reopen the issue.

Da: Rufus1123 <notifications@github.com>
Inviato: mercoledì 30 gennaio 2019 10:17
A: Microsoft/QuantumKatas <QuantumKatas@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Oggetto: Re: [Microso

[2019-01-30 17:03] tcNickolas commented on #59
We're looking at it with the compiler team to figure out the best way to fix it. I'm not sure yet whether the fix will be on the compiler side, in the katas or both, but a fix there will be :-)

[2019-02-18 16:47] wsgac opened #66 "Question about Task 2.11 (Superposition of two bit strings)"
Hi,

I've come up with a solution alternative to the one suggested in the reference, which - if it worked - would probably be conceptually simpler. The idea is that, given the qubit register and two boolean registers from the outside (in this case, from the test), I attach one additional qubit, in a way extending my quantum register by one. I then apply Hadamard gate to that qubit, essentially obt

[2019-02-18 18:29] tcNickolas commented on #66
Your solution doesn't actually prepare the superposition of the two given bit strings, it prepares one of the bit strings at random with 50-50 chance.

Consider the simplest example possible: prepare superposition of |0⟩ and |1⟩ basis states (bits1 = [true], bits2 = [false]). After the two loops, right before Reset, the state of the qubits is |00⟩ + |11⟩ (with appropriate normalization). Reset mea

[2019-02-18 20:34] wsgac commented on #66
Thanks for the great explanation! So my means of zeroing the additional qubit (i.e. `Reset`) simply collapses the superposition I've built and by the time I was measuring my qubits proper, there was no more superposition to collapse, is that right?

I also want to clear one detail about your suggestion of 'uncomputing'. So, the configuration of superpositions between the additional qubit and the o

[2019-02-18 20:41] wsgac commented on #66
I've implemented your suggestion and it worked fine. Here's the code:
[code]
Thanks for a very enlightening discussion and keep up the great work :).

[2019-02-18 23:07] #66 closed

[2019-02-21 09:38] moudrick opened #67 "JointMeasurements: Possibly Incorrect task 2 description"
There is literally the same description for Task 1 and Task 2 in the topic of Joint measurements.
At the same time, the solutions in ```ReferenceImplementation.qs``` are different and they are not interchangeable for these tasks.

I guess, the incorrect description is for `ParityMeasurement`, Task 2.

Branch: master
File: \\JointMeasurements\Tasks.qs
Line: 43.
See: https://github.com/Microsoft/Qua

[2019-02-21 16:36] tcNickolas commented on #67
The difference in the descriptions is in the last line (after the output): in task 1 "The state of the qubits at the end of the operation does not matter.", while in task 2 "The state of the qubits at the end of the operation should be the same as the starting state." The solution for task 2 is accepted in task 1, since it performs the same task in a more restricted way.

This pair of tasks shows

[2019-02-21 21:45] moudrick commented on #67
Thanks, @tcNickolas, for explanation. Now I clearly see the difference and its didactic value. So I am closing the issue.

But there is still a question, can there be any practical value in using the solution like in reference for SingleQubitMeasurement instead of that for ParityMeasurement. For example, I know that some quantum operations can consume significantly more energy than others. So are

[2019-02-21 21:45] #67 closed

[2019-02-21 21:50] moudrick commented on #67
Also, some noticeable comment regarding this difference in requirements could be introduced somewhere in task description.
It would be helpful especially for those who go through the katas in parallel with other activities and this is why can easily overlook this important condition.

[2019-02-21 22:35] tcNickolas commented on #67
Usually joint measurements use cases are driven not by their efficiency when compared to single-qubit measurements for the same task, but rather by the need to perform a different task (extract some information about the system without collapsing it all the way to a basis state or perform a certain transformation).

A good place for such questions is [Quantum Computing SE](http://quantumcomputing.

[2019-02-22 15:02] GaurangTandon opened #68 "Measurement Task 1.7 - code passes even with more than one measurement"
The comment description for that task reads:

    // You can use exactly one measurement.

The following code passes:

    operation TwoBitstringsMeasurement (qs : Qubit[], bits1 : Bool[], bits2 : Bool[]) : Int {
        let n = Length(qs);

        for(i in 0..n-1){
            if(M(qs[i]) == One){
                if(bits1[i] && bits2[i]){
                }elif(bits1[i]){
                    retu

[2019-02-22 18:30] tcNickolas commented on #68
Good point, this is one of the older katas and the testing framework doesn't count the operations used, like the later (and more sophisticated) katas do. I'll need to revisit this at some point and see whether the rest of the tasks in the Measurements kata need to have more strict checks as well.

Thank you for pointing this out!

[2019-02-24 20:34] tcNickolas commented on #59
An update: this issue should be fixed in 0.5 release (coming up in the end of February). The compiler will always treat . as a decimal separator regardless of language settings.

[2019-02-26 10:24] GaurangTandon opened #74 "JointMeasurements - Task 7 - invalid code passes"
[code]

The above code passes, even though it is written in the docstring that "Do not use two-qubit gates".

[2019-02-26 15:33] Acarreo opened #75 "DeutschJozsaAlgorithm: Description of task 4.1"
Where it says: Σᵢ (rᵢ xᵢ + (1 - rᵢ)(1 - rᵢ)) should be Σᵢ (rᵢ xᵢ + (1 - rᵢ)(1 - xᵢ))

[2019-02-26 22:00] tcNickolas commented on #75
Nice catch, thank you! The fix is literally one character so I squeezed it in the https://github.com/Microsoft/QuantumKatas/pull/73.

[2019-02-26 22:00] #75 closed

[2019-02-26 22:08] tcNickolas commented on #74
This is similar to #68 - test harness is not sophisticated enough to validate this kind of restrictions. It is a little tricky to validate - it is very easy to check that the code doesn't use `CNOT` or `Controlled X` gates, but `CNOT` can be expressed using a wide variety of other gates (`CCNOT` or `Controlled Z` ), which means that we need indeed to prohibit any 2-qubit gates.

I'll need to think

[2019-02-28 23:30] vishal-ph opened #77 "Minor typo in function description in DJAlgorithm"

[2019-02-28 23:33] #77 closed

[2019-02-28 23:35] tcNickolas commented on #77
I see you've already realized that this is a duplicate of https://github.com/Microsoft/QuantumKatas/issues/75 and should be fixed already in the latest master.

[2019-02-28 23:40] vishal-ph commented on #77
Yes, thankyou! Apologies for the confusion.

[2019-04-15 11:44] hishikitetsuya opened #92 "SolveSATWithGrover - Task 2.2 - infinite loop"
[code]

It looks like the reference code never stops when we face unlucky case. The Grover's algorithm is not deterministic algorithm and the lower bound of possibility where we can obtain correct answer for unknown number of solutions is 0.5 when we increase k = 1,2,...,n for 2^k iterations.

Do we need to add upper bound for the loop? Or, do we need add description on the task such as "the given

[2019-04-17 08:55] friguzzi opened #94 "Quantum counting"
Dear all,
I wrote a quantum counting kata but I'm encountering problems, it works for some functions and doesn't for others, should I submit a pull request?

Best
Fabrizio

[2019-04-17 18:30] tcNickolas commented on #94
Sure, if you need help figuring out how to make the kata work, you can open a pull request, describe what works and what doesn't work, and we can discuss it. I might not answer very fast (and I apologize for that in advance), as I'm working on bringing in the currently open PRs and on porting some of the katas to Jupyter Notebook format, but I'll try to not disappear altogether :-)

[2019-04-17 19:30] tcNickolas commented on #92
My intention for this task was to show that you can use Grover search to solve the problem even if you don't know how many solutions it has (and thus can not estimate the "correct" number of iterations to use). The exact sequence of the numbers of iterations can vary - you can try 1, 2, 3 etc. iterations, or you can try powers of 2, or you can try the number of iterations you'd do if there was 1 s

[2019-04-22 07:25] hishikitetsuya commented on #92
Thanks for rephrasing and that's my point. I was wondering if we could add some sentences as a note for this task.

[2019-04-22 10:22] friguzzi commented on #94
Hi Mariia,
before submitting the kata, I would like to get the implmentation right.
I have this program
https://gist.github.com/friguzzi/84fbba72f7b6ba7bd58b0c4f8a8be60f
https://gist.github.com/friguzzi/3c7b836d572c26450efbdc2380cbc97e
for counting the solutions of the 3 bits formula
(not reg[0] or reg[2]) and (not reg[1] or reg[2]) and (not reg[0] or not reg[1])
This formula has 4 solutions.
I co

[2019-04-22 18:52] tcNickolas commented on #92
I opened PR https://github.com/Microsoft/QuantumKatas/pull/98 to add some notes to this task and an extra exit condition for the loop. Could you please take a look and let me know if this helps?

[2019-04-23 23:18] DOMARS opened #99 "Link in GroversAlgorithm to git database sample in readme file needs to include src to work"
In this readme file for GroversAlgorithm:
https://github.com/Microsoft/QuantumKatas/tree/master/GroversAlgorithm

The link to the Q#
Q# Samples repository has an *implementation of Grover's search*.
https://github.com/Microsoft/Quantum/tree/master/Samples/DatabaseSearch
Returns a 404.

I believe it needs to include the src directory.
https://github.com/Microsoft/Quantum/tree/master/Samples/src/Dat

[2019-04-23 23:59] tcNickolas commented on #99
Nice catch, thank you! Do you want to open a PR to fix the link? If not, I'll get to it later.

[2019-04-24 00:11] DOMARS commented on #99
@tcNickolas  - I will try my hand at a PR in this repo, as I would imagine there are many other things for you to work on.  :-)

[2019-04-24 05:59] tcNickolas commented on #99
Resolved in https://github.com/Microsoft/QuantumKatas/pull/100 - thank you!

[2019-04-24 05:59] #99 closed

[2019-04-26 05:40] tcNickolas commented on #68
This has been resolved as part of #101.

[2019-04-26 05:40] #68 closed

[2019-04-29 23:49] tcNickolas commented on #92
This should be resolved by #98.

Thank you for bringing our attention to this!

[2019-04-29 23:49] #92 closed

[2019-04-30 23:37] tcNickolas opened #105 "Convert the Katas to Jupyter Notebook format"
[The first batch](https://mybinder.org/v2/gh/Microsoft/QuantumKatas/master?filepath=index.ipynb) of the katas is converted to Notebook format. We'll need to convert the rest of the katas, so that all of them are available both as Notebooks and as regular projects.

This is going to take some work, so I'd appreciate some help!

- [x] Basic Gates
- [x] Superposition
- [x] Measurements
- [x] Joint Me

[2019-05-01 19:39] soudy opened #106 "Invalid kata name errors"
I installed IQ# as described [here](https://docs.microsoft.com/en-us/quantum/install-guide/jupyter?view=qsharp-preview), cloned this repository and tried to run the BasicGates Jupyter notebook. However, when trying to run any task I get the following error:
[code]
Some information:
- Ubuntu 16.04
- Python 3.7.1
- Jupyter Notebook 4.4.0
[code]

Removing the `%kata` lines at the top of each block fi

[2019-05-01 22:08] tcNickolas commented on #106
Odd, this looks like the notebook doesn't recognize the test which covers the task (that's what `%kata` defines). Could you try to execute `%workspace reload` (in a separate cell after the `%package Microsoft.Quantum.Katas` cell) and show us the results? This should give us some info about what went wrong.

[2019-05-01 23:04] soudy commented on #106
@tcNickolas Hmm, that just gives an empty output:
![2019-05-02-010353_1045x485_scrot](https://user-images.githubusercontent.com/7383594/57048903-4456f100-6c76-11e9-9222-3329e4273954.png)

[2019-05-01 23:32] tcNickolas commented on #106
Could you try to build the kata as a project from command line (go to BasicGates folder and do `dotnet build`)? If there are any errors building it, it would explain this behavior.

[2019-05-02 09:37] soudy commented on #106
No errors:
[code]

[2019-05-02 18:23] tcNickolas commented on #106
Curiouser and curiouser.... We'll try to reproduce this on our side, but this will take us some time, sorry!

To get you unblocked in the meantime, do you want to try the online version of the Notebooks [on Binder](https://mybinder.org/v2/gh/Microsoft/QuantumKatas/master?filepath=index.ipynb)? The first four katas are available there, and I've checked that they work on Ubuntu.

[2019-05-02 20:34] anpaz-msft commented on #106
As another option to unblock, there is a Dockerfile in the root folder, that should let you build a docker image with everything you need to run. Instructions on how to use it are in the README.md

[2019-05-02 23:29] tcNickolas commented on #94
Sorry for the delay replying, I'll need to dig deeper into this topic to answer, and so far I haven't had time for it. I'll try to figure it out in the next couple of days.

[2019-05-03 01:41] bettinaheim opened #110 "Update Katas to Be Consistent with Style Guide"
It would be nice to update the Katas to follow the style guide and make use of the standard libraries.

[2019-05-03 23:18] anpaz-msft commented on #106
I tried today to reproduce the problem, but no luck.
Created an Ubuntu 16.04 image:
[code]
Installed
- .NET core 2.2.203
- Jupyter 4.4
- IQ# 0.5.1904.1302

And the `BasicGates` kata notebook is working as expected. I had to manually add `~/.dotnet/tools` to the path, but other than that I did nothing special.

My recommendation again is going to be building a docker image from the Dockerfile. If y

[2019-05-04 14:23] soudy commented on #106
@anpaz-msft thanks for checking. Docker image works, must be something on my system.

[2019-05-21 04:34] tcNickolas commented on #106
I finally got to installing IQ# on Ubuntu (though I have 18.04), and couldn't reproduce this issue either - didn't even have to modify any paths manually.

I'll close this issue, since we don't really have a path to further investigation. Sorry we couldn't figure it out, and I hope using Docker image works for you!

[2019-05-21 04:34] #106 closed

[2019-05-22 08:26] friguzzi commented on #94
Hi Mariia,
have you had the chance to have a look at the code?

[2019-06-04 07:19] tcNickolas commented on #94
I spent a couple of hours today looking into the algorithm for quantum counting and your code for it - so far everything you do looks reasonable. Why the answer diverges from the expected one, I don't know yet - I'll have to keep looking. Sorry it's taking me so long!

[2019-06-04 08:34] friguzzi commented on #94
Thanks Mariia

[2019-06-04 09:25] ganesshkumar opened #124 "Should we use 'α' as variable name?"
I am using Jupyter Notebook. In the BasicGates python notebook I saw few parameters as 'α'. One has to copy and paste this variable everywhere they wish to use.

Should we continue using variables like 'α' or should we rename them to 'alpha'?

[2019-06-04 16:03] tcNickolas commented on #124
I thought having Unicode α was cute, but, in retrospect, very few people will be able to type it in (I confess I just copy-pasted the character in this comment 😄), and having a character that you *have* to copy-paste every time you need it is frustrating.

I agree this needs to be renamed, at least in the tasks (in reference solutions it's probably ok to keep it as α, though it can be done either

[2019-06-04 16:21] ganesshkumar commented on #124
Thanks for the quick reply. I shall raise a PR for this 😄

[2019-06-06 18:01] #124 closed

[2019-06-12 01:59] Benjamin-L commented on #94
I'm also writing an implementation of quantum counting (in quipper rather than C# though), and ran into the exact same problem. When I replaced sin²(θ) with 1-sin²(θ) it worked as expected. This means there's probably some shared issue between both of our implementations, rather than just a bug in yours. My current hypothesis is that θ is off by π/2, since 1-sin²(θ)=cos²(θ).

My implementation is

[2019-06-14 00:09] tcNickolas commented on #94
I think I found the issue - I wrote it up as [an answer to your StackExchange question](https://quantumcomputing.stackexchange.com/questions/5973/counting-in-q-number-of-solutions/6446#6446), since GitHub doesn't really do formulas. Sorry it took so long - it was a well-hidden bug!

@Benjamin-L - I don't know enough Quipper to check whether your implementation has the same issue, but an extra glob

[2019-06-17 15:49] inchiosa opened #128 "Wrong test name in Teleportation.ipynb"
To get Teleportation.ipynb to work, change ‘%kata T14_StandardTeleport_Test’ to ‘%kata T14_Teleport_Test’

[2019-06-17 20:02] tcNickolas commented on #128
Good catch! I missed that one when I tested this Notebook.

A better fix would probably be renaming the test to `T14_StandardTeleport_Test` in `Tests.qs` - it will fit the usual test naming scheme of "test number - task name - Test suffix" better. Do you want to do this fix? If not, I'll get to it at some point.

[2019-06-25 06:55] tcNickolas commented on #128
This has been fixed in #133.

[2019-06-25 06:55] #128 closed

[2019-07-01 18:29] tcNickolas opened #138 "Improve Simon's algorithm kata"
Simon's algorithm kata differs from the others in that Simon's algorithm has non-trivial classical processing involved, but the tasks of the kata cover only the (relatively simple) quantum part of the algorithm. This makes it less useful than it could be.

If we want to keep it as a C# project, there will be several steps to improving it:

- [ ] Add C# tasks to cover classical processing in Simon'

[2019-07-01 23:02] tcNickolas opened #139 "Explore more graph coloring problems"
The latest [GraphColoring](https://github.com/microsoft/QuantumKatas/tree/master/GraphColoring) kata covers one type of graph coloring problems - vertex coloring (assigning colors to graph vertices so that no two vertices connected with an edge are assigned the same color).

There exists a variety of other graph coloring problems (see [Wikipedia](https://en.wikipedia.org/wiki/Graph_coloring#Other_

[2019-07-16 19:21] sdimantsd opened #149 "Hi, there is any solutions to the Katas?"
Thanks!

[2019-07-16 20:56] tcNickolas commented on #149
Each kata has all reference solutions for the tasks (in `ReferenceImplementation.qs` file in the project).

We are starting to write "workbooks" for some of the katas, which will provide not only the code answer but also the details on how to arrive to this code (both the math behind the solution and the insights into non-trivial features of Q#, if any are used in the code). These are some time aw

[2019-07-17 06:22] sdimantsd commented on #149
thx

[2019-07-17 06:22] #149 closed

[2019-07-17 13:27] bettinaheim opened #150 "Intellisense support is disabled when using the .code-workspace file"
In order for intellisense to be fully activated, the workspace folder needs to be the top level katas folder. Maybe this can be configured in the file?

[2019-07-17 15:55] tcNickolas commented on #150
Could you please provide more details on which parts of IntelliSense are not activated with the current setup? I don't use VS Code a lot, but I noticed that in Visual Studio the katas which have a dependency on `utilities/Common` (for `CounterSimulator`) can't recognize the namespace or the operations from that project. Is this the same issue or a different one?

[2019-07-20 19:25] sdimantsd opened #153 "How can i convert Int to String?"
Hi,
I want to print out some number. how can i do it?
Message() arguments is only a String...

Thanks!

[2019-07-20 21:15] cgranade commented on #153
Thanks for the question! In general, type conversion functions are in the [`Microsoft.Quantum.Convert` namespace](https://docs.microsoft.com/qsharp/api/qsharp/microsoft.quantum.convert), and are named `XAsY` where `X` and `Y` are the two types being converted between. For example, in this case, the [`IntAsString` function](https://docs.microsoft.com/qsharp/api/qsharp/microsoft.quantum.convert.inta

[2019-07-23 15:27] sdf94 commented on #105
How can I help?

[2019-07-23 18:27] tcNickolas commented on #105
Thank you for the offer! Do you want to try and convert Phase Estimation kata? It is slightly trickier than the ones already converted, since it uses a custom simulator to count the number of qubits allocated in some tasks. You'll need to remove `CounterSimulator.cs` from this project and to replace it with a reference to the simulator in `utilities/Common` - you can see how this is handled in htt

[2019-07-23 19:27] tcNickolas commented on #150
I see that some of the information IntelliSense shows on mouse hover differs in VS Code depending on where the file was opened from - if opened from root it shows full help for, say, X gate, but if opened from one of the kata folders it shows just "Variable X". Is this the behavior you're referring to?

Unfortunately, I'm not familiar with the management of workspace folders in VS Code. A quick se

[2019-07-23 19:50] cgranade commented on #150
I suspect this has to do with multifolder workspace support in the VS Code extension. Ideally, each folder in a workspace would get its own instance of the language server.

One thing that might be helpful is to look at the output log for the extension, as that might mention if there's a project it can't load or something of that form that's easier to knock out. Press Ctrl+Shift+U and then select

[2019-07-29 01:28] sdf94 commented on #105
I am currently having problems with having the q# kernel in jupyter notebook (I already noted it on github), so I am going to have to spend some time with that. Meanwhile, if you have time to finish this last one in the next week, I would recommend it.

[2019-07-29 18:10] bettinaheim commented on #150
When filing this I was basically hoping there might be a handle in the .code-workspace file to define a working directory that we could leverage. From what I gather there unfortunatly isn't. I would hence suggest to actually remove this file from the repo, since the benefit of having it seems a bit limited.

[2019-07-29 18:34] cgranade commented on #150
For Visual Studio Code, a `.code-workspace` file lets you suggest a multifolder workspace and provide settings for the new workspace, much in the same way that the `.vscode` folder lets you provide settings for a single-folder workspace. We've used that in the case of the katas to provide a separate set of test/build tasks for each individual kata, and to provide settings that simplify the present

[2019-07-29 23:53] tcNickolas commented on #150
Looks like the consensus is that there is no action possible in the QuantumKatas repo to mitigate this issue. Closing this issue as "won't fix".

[2019-07-29 23:53] #150 closed

[2019-08-09 13:40] deathstroke111 opened #163 "Can someone explain me Superposition of 4 bit strings solution code."
operation FourBitstringSuperposition_Reference (qs : Qubit[], bits : Bool[][]) : Unit is Adj {
        let N = Length(qs);

        using (anc = Qubit[2]) {
            // Put two ancillas into equal superposition of 2-qubit basis states
            ApplyToEachA(H, anc);

            // Set up the right pattern on the main qubits with control on ancillas
            for (i in 0 .. 3) {

[2019-08-09 15:58] tcNickolas commented on #163
Have you solved the previous task, superposition of two bit strings? One of the possible solutions for it uses a similar approach, which is discussed in issue #66.

This task is based on the same principle; you can read about it in a bit more detail in [the editorial](https://assets.codeforces.com/rounds/1116/contest-editorial.pdf) for the contest in which it was used (problem A2).

Please let me

[2019-08-09 17:57] tcNickolas commented on #105
No worries about the last kata, @jackhyder graciously picked it up.

@sdf94, did you figure out your trouble with the Q# kernel? (I couldn't find your question on our other repos)

[2019-08-10 05:28] deathstorke111 commented on #163
Thanks for the editorial @tcNickolas, It is really useful especially now when there's lack of structured information available on this topic.
And yeah, I have done the task on superposition of two bit strings .
But I am still hazy on the part `(ControlledOnInt(i, X))(anc, qs[j]);`
I am unsure of what exactly is happening here , and though I understand(from issue #66 ) the latter part code(below) i

[2019-08-10 16:44] tcNickolas commented on #163
Let's look at the example from the statement: N = 3 and desired state |010⟩ + |100⟩ + |001⟩ + |110⟩ (I'm dropping normalization here, you can check more carefully that it works out).

After we apply H to the ancillas, we get a state (|00⟩ + |01⟩ + |10⟩ + |11⟩) ⊗ |000⟩ (the first two qubits are ancillas, the last 3 - the ones on which we prepare the state).

`(ControlledOnInt(i, X))(anc, qs[j]);` a

[2019-08-12 13:10] deathstroke111 commented on #163
Okay I worked out the problem as you suggested @tcNickolas and i understood the use of ancillas.
And I abstractly understood the use of ControlledOnBitString function in this problem but could you elaborate on the what exactly it is (I tried the documentation but couldn't understand much perhaps an example of it in different problem would be helpful).

[2019-08-12 15:45] tcNickolas commented on #163
ControlledOnBitString applies an operation to the target register if the control register is in the state described by the given bit string (instead of the |1...1> state like the normal controlled operation does). Internally it does the following steps:

* applies X gate to each qubit that corresponds to a 0 bit in the bit string;
* applies normally controlled version of the operation (apply opera

[2019-08-15 02:09] geduardo commented on #106
@tcNickolas
I had the exact same issue (but on windows) and running %workspace reload in a separate cell solved the issue.
I don't know if this issue is general or very specific. Maybe it is worth to comment in the intro of each kata.

[2019-08-15 02:36] geduardo opened #164 "Notebooks on Binder lose connection"
I was doing the katas online on Binder but each time I leave the notebook inactive for some minutes (maybe 10 (?)) Binder loses the connection and it is impossible to reconnect without restarting the whole Notebook and losing what was written. I tried with Edge and Chrome and in both occurs the same issue. Also with different connections.

This can get frustrating when you're advanced in the noteb

[2019-08-15 07:27] tcNickolas commented on #164
This is expected behavior for Binder - inactive sessions are terminated after 10 minutes (see [the relevant section of the FAQ](https://mybinder.readthedocs.io/en/latest/faq.html#how-long-will-my-binder-session-last)). We are exploring other hosting options, but they will take time to implement. For now, if you're spending significant amount of time working on the tasks, it makes perfect sense to

[2019-08-15 07:30] tcNickolas commented on #106
This is weird... The katas that need `%workspace reload` (the ones that use custom simulator) have this cell right after the `%package` one, and the katas that don't have it shouldn't need it to run.

[2019-08-15 10:03] deathstroke111 commented on #163
Initially i was having a hard time following through the steps but then I did some reading on oracles and controlled operations, now it all makes much more sense.
Thank you @tcNickolas .

[2019-08-15 15:46] #163 closed

[2019-08-16 06:04] tcNickolas opened #166 "%kata magic doesn't recognize C# tests"
PhaseEstimation kata has a test that covers Q# code but is written in C# due to the need to catch and process exceptions thrown by the task. When the kata is approached as Q# project, the test is recognized and executed together with Q# tests just fine. However, when the kata is converted to Jupyter Notebook format, the `%kata` magic command does not recognize the C# test. This is not unexpected,

[2019-08-16 06:12] tcNickolas commented on #105
Thanks to the selfless work of @jimcristofono and @jackhyder, all the katas on the list have been converted to Jupyter Notebook format! Simon's algorithm kata is the only one not included in the list, but it requires a different kind of work, tracked separately in #138.

[2019-08-16 06:13] #164 closed

[2019-08-19 18:52] tcNickolas commented on #94
@friguzzi Are you still working on the quantum counting kata? It would be an interesting one to have, especially the approximate counting.

[2019-08-20 10:15] friguzzi commented on #94
I submitted a pull request with quantum counting

[2019-09-09 21:17] tcNickolas commented on #74
#170 finally fixes this issue.

[2019-09-09 21:17] #74 closed

[2019-09-22 18:08] tcNickolas commented on #94
We're moving the discussion to the pull request #168, so I'll close this issue to keep the discussion in a single place.

[2019-09-22 18:08] #94 closed

[2019-09-26 01:55] tcNickolas commented on #105
The new kata [KeyDistribution_BB84](https://github.com/microsoft/QuantumKatas/tree/master/KeyDistribution_BB84) does not have a Jupyter Notebook version and needs one. Reopening this issue rather than creating a new one.

[2019-10-01 11:56] tcNickolas opened #176 "Improve error messaging for the katas that allow it"
Several katas could have better error messaging:

- [ ] Superposition : the test harness could log the actual state of the system after prep vs the expected state before asserting that they are the same (the change would add state prep and logging using `DumpMachine` to `AssertEqualOnZeroState`)
- [ ] BasicGates : a similar improvement, but a bit more extra code to write a unified test wrapper (si

[2019-10-05 02:59] sdf94 commented on #105
Yes I did. I had to do a clean download.

[2019-10-05 03:07] sdf94 commented on #105
Now that I got the hang of it a little bit, I think I can do this one.

[2019-10-05 06:14] tcNickolas commented on #105
Thank you for the offer!! There is a PR actually open to migrate that kata, https://github.com/microsoft/QuantumKatas/pull/178 - I'm reviewing it now, so that should be covered.

If you're looking for something interesting to do, check out the other issues - I'll be opening some new ones for Hacktoberfest that should hopefully be easy to start with.

[2019-10-05 19:58] #105 closed

[2019-10-06 15:29] tcNickolas opened #187 "Improve testing harness in RippleCarryAdder kata, task 1.7"
Most tasks in this kata take inputs in an arbitrary superposition state and require implementing the right unitary transformation on them; to verify the solutions, the tests compare the learner's solution to the reference one as unitaries using `AssertOperationsEqualReferenced`. (Sometimes one or several inputs are in |0⟩ state, but this does not affect the expected solution, so we still can use t

[2019-10-06 15:48] tcNickolas opened #188 "Update Q# language quick reference to latest syntax"
*This is a great first issue for somebody familiar with LaTeX but not very familiar with Q#!*

The [quick reference](https://github.com/microsoft/QuantumKatas/tree/master/quickref) has last been updated for Q# 0.3, which is almost a year old now. We need to update it to the latest version (currently 0.9) following the [Q# language documentation](https://docs.microsoft.com/en-us/quantum/language/).

[2019-10-07 09:22] wsgac opened #189 "Possible incorrect test data in kata SuperpositionOneMeasurement"
I've been playing around, trying to simplify my solution to kata `SuperpositionOneMeasurement` in the `Measurements` section. The essential part of the reference implementation is the function `FindFirstSuperpositionDiff_Reference`, which detects at which position in the bit arrays occurs a "total difference", i.e. one has only `true` values and the other `false` or vice versa. Building on the ass

[2019-10-07 17:16] tcNickolas commented on #189
You're right, nice catch - thank you!!

Originally PR #167 which introduced these tasks had test data only for both arrays having the same dimensions, but as I was reviewing it, I realized that the solution doesn't really depend on the exact number of terms in the superposition states we're trying to distinguish, so I suggested removing this constraint. Looks like we changed it everywhere except t

[2019-10-07 18:52] tcNickolas opened #190 "Update the katas to use most recent Q# features"
Q# evolution introduced some new language features in the past half a year:

* [within... apply... statement](https://docs.microsoft.com/quantum/user-guide/using-qsharp/operations-functions#conjugations)
* [ranges in array slicing](https://docs.microsoft.com/quantum/language/expressions#array-slices)
* features introduced in Q# 0.6 listed in [this blog post](https://devblogs.microsoft.com/qsharp/q

[2019-10-08 02:48] wsgac commented on #189
Thanks for your clarification. I'll create a PR in the coming day or two.

I'm not participating in Hacktoberfest (yet). I might give it a try. Thanks for the suggestion :).

[2019-10-08 10:21] wsgac commented on #189
Created a [PR](https://github.com/microsoft/QuantumKatas/pull/191) with the change.

[2019-10-08 13:32] wsgac commented on #189
OK, I may have taken your suggestion about Hacktoberfest a bit too seriously :). I have three additional PRs offering conceptual simplifications of reference implementations.

[2019-10-08 14:31] tcNickolas commented on #189
There is no such thing as taking Hacktoberfest too seriously, unless you're well in your third dozen of PRs during the first day 😄 Thank you - I'll take a closer look at them later today.

[2019-10-09 16:28] tcNickolas opened #196 "Add addition/subtraction modulo 2ᴺ tasks to RippleCarryAdder kata"
RippleCarryAdder offers great coverage of traditional addition/subtraction operations; operations modulo 2ᴺ are rather similar, reusing a lot of the same primitives, so it makes sense to add a section covering modular operations. Addition modulo some other number would probably be out of scope for this change - if we want to develop that direction, we should branch it off to a separate kata.

[2019-10-09 16:33] #189 closed

[2019-10-20 01:39] sdf94 commented on #188
Ill take this.

[2019-10-20 02:34] tcNickolas commented on #188
Thank you for picking this up! Please don't hesitate to ask if you have any doubts about anything.

[2019-10-21 17:17] avinashbhat commented on #190
Can I take this up?

[2019-10-21 17:21] tcNickolas commented on #190
Yes, absolutely!

It probably makes sense to make a list of katas and go through them one by one, opening separate PRs for each kata that needs updates - this way each step has a smaller scope (and the overall work doesn't feel overwhelming) and the conflicts are less likely to occur.

[2019-10-23 19:31] tcNickolas opened #201 "DeutschJozsaAlgorithm tutorial: improve messaging for code samples"
In [this tutorial](https://github.com/microsoft/QuantumKatas/tree/master/tutorials/DeutschJozsaAlgorithm) the code cells alternate: some of them are kata-style tasks (are covered with tests and output "Success!" if solved correctly) and some of them (examples of oracles) are demo-style (define some Q# operations without running them, so output the names of the defined operations).

This difference

[2019-10-23 21:27] jackhyder-ms commented on #201
I can take this one if no one has yet.

[2019-10-24 22:25] tcNickolas opened #204 "Write PowerShell script to update QDK to the new version"
Updating QDK to the next version requires doing a fixed set of changes to an ever-growing set of files (see recent #179 and the most recent #235 for a list of files and changes).

Currently we're using a generic Bash script to automate most of the change (see attached [updateQDKVersion.txt](https://github.com/microsoft/QuantumKatas/files/3769677/updateQDKVersion.txt)), but it would be nice to have

[2019-10-24 23:47] tcNickolas opened #205 "DumpUnitary: fix the tool to parse new DumpMachine output format"
DumpUnitary tool (a companion to UnitaryPatterns kata) still assumes pre-0.6 output format of DumpMachine, with just 3 tab-separated entries per basis state. Current output is more sophisticated, so the tool doesn't work. Here is an example of the current output format:

    # wave function for qubits with ids (least to most significant): 0;1;2
    ∣0❭:	 1.000000 +  0.000000 i	 == 	***************

[2019-10-27 19:22] tcNickolas commented on #188
To link the issue with the work in progress, the PR is open at https://github.com/microsoft/QuantumKatas/pull/207.

[2019-10-27 20:22] tcNickolas commented on #190
@avinashbhat Could you let us know much progress you've made on this issue? We're hosting a Hackathon tomorrow, and this issue is one of the easier ones to get started with, so if possible, I'd like to split the work on it among several people. On the other hand, I really don't want several people working on the same kata, so splitting it per kata seems like a good idea.

[2019-10-28 02:11] avinashbhat commented on #190
It sounds like a good idea! These are the list of katas that are to be updated. I've marked the one I'm working on. It would be great if you reference the PRs back to this comment to track things.
- [x] Deutsch–Jozsa algorithm (Notebook Tutorial)
- [ ] Exploring Grover's search algorithm (Notebook Tutorial)
- [ ] Basic quantum computing gates
- [ ] Superposition
- [ ] Measurements
- [ ] Teleportat

[2019-10-28 17:21] tcNickolas opened #208 "Create workbooks for the katas/tutorials, part 1"
The katas offer a set of programming exercises on quantum computing and reference solutions to them, but we often hear that it would be helpful to have the solutions explained, with the logic steps necessary to arrive from the problem description to the code spelled out. It is especially important for people who go through the katas on their own, without a study group to support them.

To address

[2019-10-29 00:38] sshiv opened #209 "Link to "Linear Algebra" notebook from Complex Arithmetic notebook is broken"
Link to "Linear Algebra" notebook from Complex Arithmetic notebook is broken

There is an additional LinearAlgebra in the path which might the cause.

[2019-10-29 00:41] #209 closed

[2019-10-29 00:43] sshiv commented on #209
False alarm. This seems to have stemming from launch path of jupyter. Not an issue.

[2019-10-29 01:01] sterilli-ms commented on #187
I'm looking at this one

[2019-10-29 01:31] sandreenko commented on #176
I will work on the first task (Superposition).

[2019-10-29 01:49] Omelianenko commented on #176
Working on the fourth task, starting from DeutschJozsaAlgorithm

[2019-11-07 17:29] ivylee opened #223 "Running jupyter notebook tutorials locally requires installing pytest"
Hi thanks for putting together the tutorials!

I got started following https://github.com/microsoft/QuantumKatas#running-the-katas-locally-, the jupyter notebook tutorials use `pytest` for evaluation but it was not mentioned in the set up process. It was in the Dockerfile though.

[2019-11-07 17:38] ivylee opened #224 "Possible bug in LinearAlgebra testing module"
I had trouble with LinearAlgebra Exercise 8 after submitting my code

[code]

Notice line 426 `--i` does not decrement the value of `i` in Python:

[code]

`edge_unitary_matrices` has 2 elements https://github.com/microsoft/QuantumKatas/blob/master/tutorials/LinearAlgebra/testing.py#L405.

[2019-11-07 22:14] ivylee opened #225 "Precision issue with LinearAlgebra Exercise 14 validation"
Following is my answer to linear algebra exercise 14, it never passes validation, possibly due to a precision issue:

[code]

Output

[code]

`matrix_mult` output and `scaler_mult` outputs are very close, but the testing module would rule it wrong (https://github.com/microsoft/QuantumKatas/blob/master/tutorials/LinearAlgebra/testing.py#L157). The precision issue seems to only occur with complex va

[2019-11-08 18:02] ivylee opened #226 "Typo in URL of Quirk"
In tutorials/SingleQubitGates, the link to Quirk is incorrect https://github.com/microsoft/QuantumKatas/blob/master/tutorials/SingleQubitGates/SingleQubitGates.ipynb?short_path=511e2f8#L262, should be https://algassert.com/quirk.

[2019-11-08 18:45] tcNickolas commented on #226
Great catch, thank you!

Do you want to send a pull request to fix the link? If not, I'll get to it some time soon.

(Sorry for the delay replying to your other issues, I've been traveling and just now returning to the open-source work - I'll get to them as soon as possible!)

[2019-11-08 19:28] ivylee commented on #226
@tcNickolas Sorry the first PR was misconfigured, the second one should be correct.

[2019-11-08 20:24] tcNickolas commented on #226
Thank you! I merged the PR in the staging branch, will merge into master later today.

[2019-11-08 20:24] #226 closed

[2019-11-08 21:38] tcNickolas commented on #223
True, our instructions for running the katas are rather outdated, I will be taking a closer look at them next week. (You might have a similar problem with `matplotlib` for "Exploring Grover" tutorial)

I wonder which flavor of the installation instructions did you follow when installing Q#? I think my Python came from Miniconda install which already included a lot of Python tools, but that was the

[2019-11-10 02:05] zzz6519003 opened #229 "build error"
https://mybinder.org/v2/gh/Microsoft/QuantumKatas/master?filepath=BasicGates%2FBasicGates.ipynb

[2019-11-10 08:41] tcNickolas commented on #229
Looks like the cached image of the repository somehow got invalidated, and building the new image keeps timing out... We'll keep looking into why this is happening; as a temporary workaround, try using the following link https://mybinder.org/v2/gh/Microsoft/QuantumKatas/drop-prebuild?filepath=index.ipynb - it might take 10-15 minutes to build but so far it hasn't timed out for me.

[2019-11-12 17:38] ivylee commented on #223
I'm on Mac OS, I installed Python3 via Homebrew, it is located at `/usr/local/bin/python3` and version 3.7.4. For Q# I followed the first two sections of https://docs.microsoft.com/en-us/quantum/install-guide/index?view=qsharp-preview#develop-with-python. I have been using jupyter notebook for the tutorials. Hope it helps.

[2019-11-13 00:41] zzz6519003 commented on #229
Thanks！

Love the idea if one build, everyone share XD

[2019-11-13 02:12] tcNickolas commented on #224
Thank you for reporting this! Indeed this test is broken. Weird, I was sure I solved through all the tasks when I was reviewing this...

[2019-11-13 02:14] #224 closed

[2019-11-15 23:22] tcNickolas commented on #225
True, I tried a different solution and it also failed precision check. The first condition on that line is not necessary, `act[i] != approx(exp[i])` should be sufficient (currently it fails as soon as exact equality doesn't happen).

Do you want to send a pull request to fix this? I would like to also include the matrix product and the scalar product in the error message for this task, so that the

[2019-11-17 05:21] tcNickolas commented on #188
This has been fixed in #207 - thank you!

The second part of the change would be to include more information on quantum primitives, such as quantum gates and measurements, and on the commonly used library methods such as `ApplyToEach`, but this can (and should!) be covered by a separate issue/PR.

[2019-11-17 05:21] #188 closed

[2019-11-17 22:47] tcNickolas commented on #229
We've updated the Katas to the release 0.10.1911.1607 (thanks @bettinaheim!) which should fix this issue. Building the Binder image the first time after master is updated now takes ~25 minutes and it is a lot less likely to timeout on any individual kata.

[2019-11-17 22:47] #229 closed

[2019-11-18 18:14] tcNickolas commented on #225
The fix will get into master once I merge #237.
Thank you again for reporting this!

[2019-11-18 18:14] #225 closed

[2019-11-19 08:49] Omelianenko opened #241 "Reference implementation improvement for Task 1.12"
There is a solution for the task using 2 gates instead of 4.

[2019-11-19 16:01] tcNickolas commented on #241
Fixed in #242. Indeed the reference solution was more obscure then necessary.
Thank you!

[2019-11-19 16:01] #241 closed

[2019-11-19 20:18] ivylee commented on #223
You're right, I just got to VisualizingGroversAlgorithm and I had to install `matplotlib` manually, thanks for the heads up.

[2019-11-20 01:43] sdf94 commented on #204
I will take this!

[2019-11-20 02:14] tcNickolas commented on #204
Great, thank you!

[2019-11-21 02:59] sdf94 commented on #204
Could you give me a zipped up version of packages.config and the other folder for testing?

[2019-11-21 03:03] tcNickolas commented on #204
Sorry, I'm not sure what exactly you need? To test the script, you can just run it on the master branch of the Katas with some arbitrary version like 1.2.3.4 and check that the version number has been updated in all the files covered in #235 (except .code-workspace file which was deleted independently), you shouldn't need anything extra.

[2019-11-22 22:47] #205 closed

[2019-11-23 08:51] vxfield opened #243 "(Harmless) Failures when Building the Katas docker image"
I'm not sure if this is by-design, but while building the Katas docker image, it produces a couple warnings and several failures in the NbConvertApp markdown conversion.

Although they seem harmless and don't impede the generation of the docker image, it gives the impression that something went wrong in the process.

**Steps to repro:**
1) Run "docker build -t katas ." at the root of the repo, as

[2019-11-24 00:49] tcNickolas commented on #243
For the `pip install` warning, I agree that it would be nice to get rid of this warning.

* Adding `--user` option doesn't seem to help - I created a [branch](https://github.com/microsoft/QuantumKatas/compare/master...mariia/pip-install) with the change, and building it [on Binder](https://mybinder.org/v2/gh/Microsoft/QuantumKatas/mariia/pip-install?filepath=index.ipynb) still produces this error.

[2019-11-24 22:22] sdf94 commented on #243
I saw that you used
`RUN pip install "matplotlib"
RUN pip install "pytest"`
to:
`RUN sudo -H pip install "matplotlib"
RUN sudo -H pip install "pytest"`

But it is suppose to be like this:
`
RUN sudo pip install "matplotlib"
RUN sudo pip install "pytest"`

Have you tried that?

[2019-11-24 22:27] sdf94 commented on #243
Or adding user root to sudo:
`sudo adduser <username> sudo`

[2019-12-14 23:59] cdberkstresser opened #249 "Recursive Solution to Superposition -> FourBitstringSuperposition"
**Alternative Solution to add to reference implementations**

Would there be any interest in adding a recursive solution to the Superposition.ReferenceImplemention.qs file for the **FourBitstringSuperposition** task?  Personally, I struggled with the ancillae-based solution, but recursion made sense to me.  I wrote the following solution, which passes the unit test cases as well as offers extensib

[2019-12-15 14:05] cdberkstresser commented on #249
Also, as long as the ControlledOnBitString continues to handle the "no control" the same, you can do this with about half the code:
[code]

[2019-12-15 14:26] cdberkstresser commented on #249
The ControlledOnBitString method seems to do the rotation regardless on an empty control.  If that behavior is planned to be maintained, the code contracts nicely to the edit above because the first rotation has to happen.  Hopefully it is readable enough to get the strategy across...
Thanks!

[2019-12-16 20:38] tcNickolas commented on #249
This definitely looks interesting! I think that with a bit more generalization you can get from this solution all the way to [the one we use in our library](https://docs.microsoft.com/en-us/qsharp/api/qsharp/microsoft.quantum.preparation.preparearbitrarystate).

I think it would be a better fit for the [Superposition workbook](https://github.com/microsoft/QuantumKatas/blob/master/Superposition/Wor

[2019-12-17 19:46] cdberkstresser commented on #249
I'd be happy to do that if it helps.

I didn't know about the PrepareArbitraryState() method, so thanks for pointing that out.  It would definitely be more elegant to just use it than recursion
[code]
Would the recursive solution still be useful, or is it better to skip that and utilize the PrepareArbitraryState() approach to superposition problems?

[2019-12-17 21:24] ScottCarda-MS commented on #249
It was my understanding that the PrepareArbitraryState method was not to be used in this Kata as it makes the tasks trivial. @tcNickolas Maybe I misunderstood?

[2019-12-17 23:04] tcNickolas commented on #249
Yea, exactly! We use these tasks as training material to build up skills on state manipulation, and describing a recursive solution would be very useful for this purpose - more useful than just referring to a library function that does all the magic for us but doesn't teach the learner any interesting way of thinking.

[2019-12-18 22:37] cdberkstresser commented on #249
Ok.  Great!  That makes sense.

[2019-12-20 00:03] ulitoo commented on #176
I will be working on the Measurements test output improvement

[2019-12-20 02:19] #187 closed

[2019-12-20 18:58] tcNickolas commented on #190
@avinashbhat Haven't heard from you in a while - are you still working on updating Q# in DJ algorithm tutorial?

[2019-12-20 21:17] anpaz-msft opened #251 "Katas taking 4+ mins to execute on binder"
For some reason, after updating to the latest QDK and launching the Katas in Binder, trying to run a %kata cell takes 4+ minutes.

We're currently investigating this.

[2019-12-30 13:58] vivanwin commented on #208
If there is still help needed I could start working on the first two.

[2019-12-30 17:44] tcNickolas commented on #208
Nobody is working on those yet, help will be most definitely appreciated!

[2019-12-31 06:58] eloiseespel commented on #208
I would love to help too, I'll start working on Measurements!

[2019-12-31 09:09] tcNickolas commented on #208
Sounds great!

@vivanwin and @eloiseespel Please don't feel obliged to do the whole workbook at once (it's a lot of work!) - you can do the first couple of tasks and send them for review to get early feedback. Thank you again for volunteering!

[2020-01-04 00:20] sandramedina commented on #223
Ran into the same issue before realizing I needed to install pytest and also have a similar setup: Mac OS, Python3 via Homebrew

[2020-01-04 00:21] tcNickolas commented on #223
Thank you for confirming! To my great embarrassment, I still have to carve out the time to update our installation instructions...

[2020-01-06 18:52] tcNickolas opened #257 "Quickref compilation produces seemingly benign errors"
Introduced in #252: every `\newbox` block in .tex file produces an `Undefined control sequence` error when generating the .pdf. The only exception is the first block which produces `Missing $ inserted` instead. Trial and error showed that the unrecognized sequence is `\begin{bmatrix} ... \end{bmatrix}`, but the matrices render as expected, so the errors look confusing.

[2020-01-09 17:34] #223 closed

[2020-01-09 18:54] cgranade commented on #251
@crazy4pi314 has reported that this affects non-kata code as well, so I'm moving this issue to the iqsharp repo to track any issue with the image itself.

[2020-01-13 06:00] ivorycirrus opened #261 "Error on exercise :: Value cannot be null. (Parameter 'original')"
When I executed exercises on jupyter notebook. these error shows.
I tested SingleQubitGates.ipynb and MultiQubitSystems.ipynb
Both of qubit examples could not run test codes and show this error below.

[code]

My environments:
* MacOS 10.15.2
* python 3.6 with anaconda

-----------------
I tried these steps.

1. Open SingleQubitGates.ipynb

2. Run ```%package Microsoft.Quantum.Katas::0.10.1911.160

[2020-01-13 06:20] tcNickolas commented on #261
This is odd, looks like you're doing all the right steps, but this should not give you this kind of error... We will investigate and might ask you for more information (I couldn't reproduce this behavior so far).

Meanwhile, you can use Binder to do the tutorial exercises online: https://mybinder.org/v2/gh/Microsoft/QuantumKatas/master?filepath=index.ipynb

[2020-01-13 08:16] ivorycirrus commented on #261
@tcNickolas Thank you for informations.
I tried online tutorial you mentioned, it works well.

It is only fails on Q# text codes start with ```%kata T1_Some_Test_Names_XXX```.
Meanwhile, another exercise(e.g.  Complex arithmetic and Linear algebra) without Q# runs and tests well on my Mac.
And example code of PauliGates_Demo operation runs and works well on jupyter notebook.

I use MacOS 10.15.2,

[2020-01-13 08:34] tcNickolas commented on #261
Here are some steps that might provide more information:
* run `dotnet --version` and `dotnet iqsharp --version` for the detailed info of installed packages.
* set environment variable `IQSHARP_LOG_LEVEL` to `Debug` and try to run the notebooks again and see whether there are any interesting errors in the console output after you try to execute the cell.

[2020-01-13 09:11] ivorycirrus commented on #261
@tcNickolas Thanks for reply

I check versions of installed packages, and debug informations.
But it is hard to find errors. Package infos and debug logs are below.

* Installed packages
[code]

* Debug informations on shell when execute T1_ApplyY_Test of SingleQubitGates
[code]

[2020-01-13 21:08] natelowry opened #264 "Issue with ComplexArithmetic Exercise 1 Solution Code"
Thanks for these awesome tutorials and katas!

In the ComplexArithmetic workbook answers.

The solution code [here](https://github.com/microsoft/QuantumKatas/blob/8c9bc84c8d736577d43e4ec7305da95061e4235d/tutorials/ComplexArithmetic/Workbook_ComplexArithmetic.ipynb?short_path=f7c9afe#L94
) is below:
[code]

While that works for the divisible by 4 case, it doesn't really work for the not-divisible b

[2020-01-13 21:59] tcNickolas commented on #264
I'm glad you're finding this project helpful!

In this task the input promises that n will be even, so either divisible by 4 or give remainder 2 when dividing by 4; thus the result is always an integer. (In the first iteration of this tutorial, we offered the full version of the task, asking to return a complex tuple, but that turned out to be more complicated for the first task of this tutorial t

[2020-01-13 22:04] natelowry commented on #264
@tcNickolas I see!  I didn't read the input correctly.  Thanks!

[2020-01-13 22:04] #264 closed

[2020-01-13 23:35] anpaz-msft commented on #261
Hi @ivorycirrus , are you using JupyterLab by any chance?
There is a known problem with JupyterLab and the IQ# kernel (see https://github.com/microsoft/iqsharp/issues/34).
Which version of Jupyter are you using?

[2020-01-14 02:13] ivorycirrus commented on #261
@anpaz-msft Thank you for helping me.
I didn't modify jupyterLab, but I haven't install before. I guess Anaconda environments are binding  jupyterLab on its base envs.

So, I re-install jupyterLab 1.2.4 from pip repository.
And It works well all of Q# code with testing.

Thank you all, @tcNickolas , @anpaz-msft .

[2020-01-14 02:13] #261 closed

[2020-01-16 18:17] der-datenzauberer opened #269 "The Latex code is not getting displayed properly for LinearAlgebra.ipynb"
![image](https://user-images.githubusercontent.com/11174526/72551230-74086080-38ba-11ea-854d-2bec965f2a87.png)

[2020-01-16 18:47] tcNickolas commented on #269
This is very weird... Big LaTeX formulas look like this indeed in the first few seconds after the notebook is opened, while the earlier formulas load, but they get formatted very quickly after that, I cannot reproduce this unformatted view showing for longer than that...

![image](https://user-images.githubusercontent.com/10113024/72552896-9c597600-384c-11ea-860c-ad8019146192.png)

1. Does this be

[2020-01-17 22:19] sandramedina opened #270 "Typo in QuantumKatas Complex Arithmetic Tutorial Solutions"
https://github.com/microsoft/QuantumKatas/blob/master/tutorials/ComplexArithmetic/Workbook_ComplexArithmetic.ipynb

In the solution to "Exercise 1: Powers of i" there is a table provided with "Power of i" on top and "Result" on bottom. I believe the answers for i^3 and i^7 should be -i instead of i? I thought my math might be wrong but double checked here and it seems correct

https://www.wolframa

[2020-01-17 23:16] tcNickolas commented on #270
You're right, that's a very embarrassing typo - thank you for reporting it!

Do you want to open a pull request with a fix? If not, I'll get to fixing it some time over the weekend.

[2020-01-18 01:11] sandramedina commented on #270
Just made one!

[2020-01-19 10:48] vivanwin commented on #176
I will work on the BasicGates, to log the actual state.

[2020-01-19 14:53] jks-liu opened #273 "Confusing little endian"
These Katas just try to avoid the problem of endian, which just makes me more confused. Some place (I forget where, I even can not find endian information from the API reference like [ControlledOnInt](https://docs.microsoft.com/en-us/qsharp/api/qsharp/microsoft.quantum.canon.controlledonint?view=qsharp-preview)) says it is little endian. Below are my understandings, are they correct? (I use row ve

[2020-01-19 18:13] der-datenzauberer commented on #269
Hi @tcNickolas , looks like the issue got resolved. The Latex is rendering properly both on binder and local Jupyter Notebook.

[2020-01-19 18:13] #269 closed

[2020-01-19 19:31] der-datenzauberer opened #274 "(Suggestion): Kata request under tutorial folder :: the concept/usage of Adj+Ctl in Q# operations is not very clear."
The usage of **Adj+Ctl** in some of the operations is **not very clear**. This  new concept is generally not a part of any general purpose programming language. Hence, a kata dedicated to the usage of the below will be really helpful for newbies like me.

Yes, I checked the documentation below, but this is not very intuitive.
https://docs.microsoft.com/en-us/quantum/techniques/operations-and-funct

[2020-01-19 20:12] tcNickolas commented on #274
`is Adj+Ctl` means that Q# compiler will create adjoint and controlled variants of this operation automatically for you. You include this in operations that allow this (they have to have `Unit` return type and have no mutable variables or measurements in the body), and you skip that when you don't want Q# compiler to generate these for you.

Have you checked out the [documentation on Q# type model

[2020-01-19 20:44] tcNickolas commented on #257
Fixed in #272.

[2020-01-19 20:44] #257 closed

[2020-01-19 20:45] tcNickolas commented on #270
Fixed in #271.

[2020-01-19 20:45] #270 closed

[2020-01-19 20:48] tcNickolas commented on #273
Different katas use different notations. UnitaryPatterns says explicitly that it uses little endian; Superposition says that it uses big-endian (in the task 10 in which it relies on bitstring-to-integer conversion).

Most of the katas use Dirac notation and thus use big-engian implicitly: |01⟩ is 1 and |10⟩ is 2. This corresponds to what you get if you convert Dirac notation to tensor product nota

[2020-01-20 00:57] jks-liu commented on #273
@tcNickolas Thanks. It is very helpful.

[2020-01-20 00:57] #273 closed

[2020-01-20 01:04] jks-liu commented on #273
@tcNickolas Thanks. It is very helpful.

[2020-01-20 23:32] tcNickolas commented on #208
@eloiseespel How are you doing with the Measurements workbook? Do you need any help? Please don't hesitate to reach out with questions! And if you ran out of time after doing just a few tasks, feel free to send them in - Measurements is a massive batch of problems, and doing it in one go is an ambitious endeavor!

[2020-01-21 19:30] eloiseespel commented on #208
@tcNickolas I completed the first 5 tasks early January I thought it merged correctly put since you have not received them I assume it didn't. I will merge again later today. Since then I have finished the first 10 tasks so I will send that, I would love feedback on those once I figure out the merging!

[2020-01-22 12:20] benvial opened #280 "Namespace error"
When running the BasicGates.ipynb notebook I get the error:

No namespace with the name "Microsoft.Quantum.Intrinsic" exists.

Any idea of why?

I am on Linux (CentOS Linux release 7.7.1908)

`
dotnet --version
3.0.100
`
`
python --version
Python 3.7.0
`
`
jupyter --version
4.4.0
`

[2020-01-22 17:53] tcNickolas commented on #280
I have a theory that your installed IQ# version doesn't match the version used by the notebook. What do you get when you execute the first cell of the notebook (`%package Microsoft.Quantum.Katas::<some version>`)? The version of `Microsoft.Quantum.Standard` you'll get is the IQ# version you have installed - if it doesn't match the version of `Microsoft.Quantum.Katas` you'll need to install a match

[2020-01-22 18:59] tcNickolas commented on #243
We're planning to switch to building the Docker image ourselves and publishing it for consumption, so we will polish our Docker build, but not in the context of eliminating that specific warning. I'll close this issue, since it will be part of a larger effort.

[2020-01-22 18:59] #243 closed

[2020-01-22 19:39] tcNickolas commented on #261
For the record, I just got this same error when using IQ# without Jupyter Lab, with normal `jupyter notebook` execution. The reason was the leftover build artifacts from building on a previous version of Q#; once I removed `bin` and `obj` folders and restarted the notebook, the error disappeared.

[2020-01-23 13:25] ryporter commented on #261
Thanks @tcNickolas, that solution just worked for me, too.

[2020-01-27 23:03] seyrans commented on #261
Thanks @tcNickolas, I also had the same problem and when I removed the `./tutorials/SingleQubitGates/obj` folder and restarted the notebook, it fixed the issue.

[2020-01-29 13:43] benvial commented on #280
That was indeed the case, the version of Microsoft.Quantum.Katas (0.10.1911.1607) was matching the one displayed in the notebook but the version of Microsoft.Quantum.Standard was different.

Solved by installing the correct version

`dotnet tool install microsoft.quantum.iqsharp -g --version 0.10.1911.1607`

[code]

Everything works fine now. Thanks for your help!

Closing

[2020-01-29 13:43] #280 closed

[2020-02-04 18:09] tcNickolas commented on #201
Fixed in #285.

[2020-02-04 18:09] #201 closed

[2020-02-05 21:51] jackhyder-ms commented on #176
DeutschJozsaAlgorithm can be checked off here

[2020-02-12 01:50] desireevl commented on #208
Hey @tcNickolas I'd be happy to work on the single qubit gate workbook

[2020-02-12 02:16] tcNickolas commented on #208
@desireevl Sounds great! You can see Superposition workbook as a great example of the kind of explanations we're looking for (although BasicGates ones will be much simpler!) and formatting.

[2020-02-12 19:54] vivanwin commented on #208
Hi @tcNickolas, I can have a look at the multi-qubit gates.

[2020-02-16 14:17] desireevl commented on #208
I am having issues with getting the exercises in `SingleQubitGates.ipynb` to run. I am using version:
Microsoft.Quantum.Standard::0.10.1911.1607
Microsoft.Quantum.Katas::0.10.1911.1607

I am able to run the demo however get the following error for Exercise 1:
[code]

`/snippet_.qs(1,85): error QS3001: Syntax does not match any known patterns.`

@tcNickolas would you have any insight as to what mig

[2020-02-16 15:29] vivanwin commented on #208
Hi @desireevl,

I just tried to reproduce your error, for me this only happens when I have not run the first cell `%package Microsoft.Quantum.Katas::0.10.1911.1607`.
The issue is fixed when you run that cell and try to run your code again. Note that if you use the Binder  Notebook the kernel shuts down every ~10 minutes so you have to rerun that first cell again after the kernel is up again.

Hope

[2020-03-03 19:29] cgranade opened #292 "Add support for rich state display in Jupyter Notebooks."
As of #290, the katas now use a version of IQ# that includes the enhancements from https://github.com/microsoft/iqsharp/pull/81. By calling the `WithJupyterDisplay` extension method at simulator creation time, the `%kata` magic can thus be extended with support for this new functionality.

[2020-03-03 19:36] cgranade opened #293 "Task description for BasicGates / BellStateChange3 doesn't mention `Controlled`"
As discussed in #290, the `BellStateChange3` task in the **BasicGates** kata currently rejects `Y` as a solution as `Y` differs from the intended solution by an unobservable global phase. That is, the task requires that the operation act correctly when called with the `Controlled` functor as well as when called in an uncontrolled manner. The task description doesn't reflect this requirement explic

[2020-03-07 02:05] crazy4pi314 opened #295 "Task description in Key distribution Kata is not correct"
I found that tasks 2.4 and 2.5 in the [Key Distribution Kata](https://github.com/microsoft/QuantumKatas/tree/master/KeyDistribution_BB84) are a bit confusing, and I wanted to make a few suggestions as a researcher in QKD.

Firstly, task 2.5 is _not_ verifying that the key is secure. Task 2.5 really is just checking the error rate/key yield of the raw key exchange process. The error rate is one of

[2020-03-07 02:24] crazy4pi314 opened #296 "Description of the action of the eavesdropper is not correct"
I found that task 3.1 in the [Key Distribution Kata](https://github.com/microsoft/QuantumKatas/tree/master/KeyDistribution_BB84) is incorrect in describing what an eavesdropper does in and to the quantum channel, and I wanted to make a few comments as a researcher in QKD.

The task description is as follows:

The statement "reconstruct the qubit into the original state and send it back to the chan

[2020-03-10 20:04] delbert commented on #190
i would like to work on the Superposition kata, if that is all right?

[2020-03-10 20:24] tcNickolas commented on #190
@delbert Absolutely!

[2020-03-17 19:11] tcNickolas commented on #295
I agree, task 2.5 could use a better task title.

It might be the case that task 2.4 needs a better title and details as well, but I'm not sure they should be swapped. Right now 2.4 filters out the measurement results where measurement basis used by A and B don't match; in the end-to-end scenario this has to happen before task 2.5 in which A and B use subsets of the results of filtering to calcula

[2020-03-17 22:24] tcNickolas commented on #296
Well, reconstructing the qubit state is what Eve would like to do ideally. I don't think it violates the no-cloning theorem, since she wouldn't end up with a copy of the qubit state herself?

I agree that the wording can be changed to be more careful, though. Thank you!

(Again, sorry for the delay replying!)

[2020-03-19 07:42] nathanawmk opened #304 "Hello! Using py to run Katas sample? Possible?"
Hello! Using py to run Katas sample? Possible?

https://docs.microsoft.com/en-us/quantum/install-guide/pyinstall

[2020-03-19 17:51] tcNickolas commented on #304
Hi,

You can run the Katas either as [C# projects](https://docs.microsoft.com/quantum/install-guide/csinstall) using Visual Studio, VS Code or any editor you like with command line, or as [Jupyter Notebooks](https://docs.microsoft.com/quantum/install-guide/qjupyter). Some of the Jupyter Notebook tutorials (the ones dealing with classical computations only or the ones that require visualization) ar

[2020-03-24 18:17] delbert commented on #190
hello Everyone, i would like to work on the Measurements Kata now.

delbert

[2020-03-24 18:17] tcNickolas commented on #190
Sounds great!

[2020-03-25 00:50] tcNickolas commented on #304
I'll close this issue for now; please let us know if you run into any issues using the Katas with Jupyter Notebooks!

[2020-03-25 00:50] #304 closed

[2020-03-25 07:22] vivanwin commented on #293
I will have a look at this

[2020-03-25 17:23] #293 closed

[2020-03-27 19:57] #204 closed

[2020-03-28 02:50] crazy4pi314 commented on #295
I'll take a stab at a new task title and leave the order alone for now.

[2020-03-28 02:52] crazy4pi314 commented on #296
While reconstructing would be ideal for Eve to do, given she has no prior information about what is being sent she cannot reproduce the states with perfect fidelity by no cloning. I'll take a stab at rewording in #297 and see if that's ok.

[2020-03-28 22:07] jkovzels opened #313 "Math expressions would not render correctly when Jupyter notebook used locally in VS Code."
Most likely, it is a problem of VS Code implementation of Jupyter but math expression with `\\` line breaks will render with **$$** and ruin the at block unless closing `&&` moved to the new line.

here is an example from Complex Arithmetic:
![image](https://user-images.githubusercontent.com/351671/77834903-9f27ef80-7148-11ea-9d8c-87516d676da6.png)

[2020-03-28 22:34] tcNickolas commented on #313
I'll admit I've never tried using the Jupyter Notebooks in VS Code, so it will take me a while to reproduce the issue. Thank you for reporting it!

If you have found a simple fix that renders the notebooks better in VS Code (without breaking them in regular Jupyter!), would you be willing to send a pull request with the fix?

[2020-03-29 10:07] jkovzels commented on #313
I'll admit that after digging deeper into it I can recommend not to use  Jupyter Notebooks in VS Code :).
Experience is not good, notebook does not look good, fonts, line length, local links not working, an overall jerkiness. I would recommend people to run the notebooks locally in the browser at this point.

That said, workaround is to regex replace all `([^"\\n])\$\$` with `\1\\n\$\$`: all `$$`

[2020-03-29 10:07] #313 closed

[2020-03-29 10:18] tcNickolas commented on #313
Thank you for the investigation! This is very helpful - now I know not to spend too much time on this :-)

[2020-03-30 09:15] vivanwin commented on #208
Hi,
I can pickup the Multi-quibt systems workbook.

[2020-03-30 09:39] tcNickolas commented on #208
@vivanwin Sounds great, thank you!

[2020-03-30 09:40] tcNickolas commented on #208
@desireevl Are you still working on the single qubit gate workbook? Please let us know if you ran into any issues.

[2020-03-30 10:41] desireevl commented on #208
@tcNickolas Hi yes, sorry for the delay, been a bit hectic with the situation at the moment. Will be finished shortly!

[2020-03-30 11:58] wsgac opened #314 "Alternative solution to Measurements/Hardy State"
Hi,

I was fooling around with an approach slightly different from the one in the reference implementation and was able to come up with the following:
[code]
Feel free to include this as an alternative and to comment if this approach has any downsides.

[2020-03-30 14:20] tcNickolas commented on #208
@desireevl I understand, no rush - just wanted to make sure you're not blocked on something I can help you with.

[2020-04-03 13:33] TTeschitsch opened #316 "VS can't find the tests"
Hello,

My Visual Studio can't find the tests for the katas (I first tried with BasicGates).

I have an error in the ouput pane - Tests (message in attachment). The basic "Hello world" application works great and the build of Basic Gates is successful.

I have VS2019 Pro with .NET Core 3.1 and I cloned the git repository without any modification.

Thanks for your help!
[error.txt](https://github.c

[2020-04-03 14:28] bettinaheim commented on #316
Hi @TTeschitsch,
Could you try adding
`<PlatformTarget>x64</PlatformTarget>`
to the test project file? It shouldn't be needed, but it's a quick thing to try.

[2020-04-03 14:48] TTeschitsch commented on #316
This is already set to x64 :(

[2020-04-03 16:33] tcNickolas commented on #316
Could you please provide more details on your setup?
* The version of .NET Core (can be obtained using `dotnet --version`)
* The version of VS (Help -> About Microsoft Visual Studio)
* The last commit in the katas? (last entry in `git log` - is it "Update QDK to version 0.11.2003.3107" or an earlier commit?)

[2020-04-06 06:21] TTeschitsch commented on #316
- **The version of .NET Core (can be obtained using `dotnet --version`)**
   => Unfortunately, this command line return : "Unhandled exception. System.BadImageFormatException: Tentative de chargement d'un programme de format incorrect. (0x8007000B)". But, in the control panel, I see the installed version is "Microsoft .NET Core SDK 3.1.201 (x64)".

- **The version of VS (Help -> About Microsoft Vi

[2020-04-06 17:51] bettinaheim commented on #316
It looks like your dotnet version is not installed properly. The BadImageFormatException is usually related to a discrepancy between x64 and x86. Could you uninstall the 3.1.201 version using the control panel, then click on the "Download .NET Core Sdk" button [here](https://dotnet.microsoft.com/download), and install the downloaded dotnet? The `dotnet --version` command should hopefully succeed a

[2020-04-07 06:29] TTeschitsch commented on #316
Now, the `dotnet --version` command returns "2.2.203" :( I think this is because I have sdks installed here : `C:\Program Files (x86)\dotnet\sdk`.

I renamed "dotnet" to "dotnet-old" (in the x86 folder) and, this time, the command line returns : "3.1.201" ! And the unit tests work :)

Thanks for the help !

[2020-04-07 06:29] #316 closed

[2020-04-08 08:01] #296 closed

[2020-04-08 08:03] tcNickolas commented on #295
Closing per #297.

[2020-04-08 08:03] #295 closed

[2020-04-09 15:17] delbert commented on #190
hello Folks, i'll take up Teleportation, next, if that makes the most sense.

[2020-04-09 16:00] tcNickolas commented on #190
@delbert Sure!

[2020-04-11 09:29] tcNickolas commented on #249
@cdberkstresser The workbook for task 15 of the Superposition kata is finally [merged to master](https://github.com/microsoft/QuantumKatas/blob/master/Superposition/Workbook_Superposition_Part2.ipynb) (sorry it took me so long to review it!)

If you're still interested in contributing a description of the recursive solution, you're most welcome to do so!

[2020-04-11 19:11] tcNickolas commented on #314
*I'm assuming you mean Superposition/Hardy State task, I don't think we have one about this state in Measurements :-)*

Indeed, you can use H gate here instead of Ry with rotation by PI()/4 freely; those two gates differ only by the second column of their matrix representation (H gate has 1 in the first row and -1 in the second row, and Ry(PI()/4) has -1 in the first row and 1 in the second row),

[2020-04-14 13:32] cdberkstresser commented on #249
@tcNickolas Would be happy to!  Hoping to sit down with this on the upcoming weekend.

[2020-04-14 22:08] mbuchberger1967 commented on #314
Hi,
I agree that in this special case we could use a Controlled H instead of a Controlled Ry, but the maths I just added to this task are guiding the reader to the Controlled Ry gate.
This is why I changed the reference impl to use a Controlled Ry, and just left a comment that in this special case one could also use a Controlled h.
I hope you agree.
BR
Markus

[2020-04-14 22:17] mbuchberger1967 opened #323 "MagicSquareGame problems in understanding"
Hi @tcNickolas
I spent already several days and nights and had a hard time but I cannot understand the MagicSquareGame kata 100%.
I managed to understand the kata, and also the articles up to a certain point, but then the articles end with "as it can be easily verified ...."  and I cannot follow this.
I wanted to ask you Mariia, may I ask you some questions about this kata?
And should I do this vi

[2020-04-15 20:16] cdberkstresser commented on #249
Submitted Pull Request #324 .  Thanks!

[2020-04-16 02:31] tcNickolas commented on #323
You're most welcome to ask questions! However, if the question is more about the algorithm itself than about some Q# issue (which might be the case here?), I would recommend [Quantum Computing SE](https://quantumcomputing.stackexchange.com/), for several reasons:
* it's a lot easier to write math there using LaTeX than on GitHub (which doesn't really support formulas) - one can only get so far usi

[2020-04-16 21:26] #249 closed

[2020-04-18 00:12] cdberkstresser commented on #190
Do you all have a Q# linter addon for VSCode / Visual Studio that can be utilized to help with this?

[2020-04-18 17:33] tcNickolas commented on #190
No, there's no Q# linter at the moment.

I'm not sure this kind of change is straightforward to automate if we're looking to maximize code readability. For example, referring to the 1st element of the array as Head() is a good idea in a context when it is treated differently from the rest of the array (and the rest of the array is treated uniformly, like in GHZ state preparation) but not so good i

[2020-04-19 18:01] tcNickolas commented on #138
Pull request #325 took the second approach, using a companion Python notebook to cover classical parts of the algorithm.

[2020-04-20 06:49] tcNickolas opened #328 "Miscellaneous improvements to existing tutorials"
Here are some ideas for improvements to the [existing tutorials](https://github.com/microsoft/QuantumKatas/tree/master/tutorials):

- [x] Qubit:
   Update section "Demo: Examining Qubit States in Q#" with the new (visual) format of DumpMachine output
- [x] Multi-qubit gates:
  * [x] Add a section on ket-bra notation for multi-qubit gates
  * [x] Describe the usage of multi-qubit gates on non-adjac

[2020-04-20 08:11] tcNickolas commented on #314
https://github.com/microsoft/QuantumKatas/commit/8c59741736d8b5a979f16bc88eacae620849635c added a comment to the solution mentioning that Controlled H is an option in this solution, so I think we can close this issue.

[2020-04-20 08:11] #314 closed

[2020-04-20 10:35] vivanwin commented on #328
Hi can pickup the first point.

[2020-04-28 18:55] vivanwin commented on #292
I can have a look at this. To implement correctly there is an open [issue](https://github.com/microsoft/iqsharp/issues/130) in the IQSharp project which probably needs to be solved first.

[2020-04-30 03:48] sincak commented on #328
What kind of system is the %package Microsoft.Quantum.Katas::0.11.2003.3107 command in your Jupyter notebooks supposed to work on? It doesn't work on Linux or Windows (even after loading #Q SDK)

[2020-04-30 05:25] tcNickolas commented on #328
@sincak It's supposed to work on both Linux and Windows (and macOS too, I think). Did you do all the steps of installing Jupyter Notebooks and IQ# as described in the [installation guide](https://docs.microsoft.com/en-us/quantum/install-guide/qjupyter), so that running `dotnet iqsharp --version` from command line gives you an IQ# version that matches the one in the `%package` command?

[2020-04-30 05:27] tcNickolas commented on #323
@mbuchberger1967 So do you have a specific question about this kata? I'm not sure what's my next action for this issue is, since there is no clear question here...

[2020-04-30 15:43] irunknee commented on #139
I would like to work Triangle-free edge coloring.

[2020-04-30 18:50] mbuchberger1967 commented on #323
@tcNickolas Sorry, I was busy the last week. It is more about the algorithm itself, so I will close thi sissue here and will post my questions to Quantum Computing SE, as you proposed it.

Thanks a lot,
Markus

[2020-04-30 18:50] #323 closed

[2020-04-30 19:18] tcNickolas commented on #323
Sounds good - I'll keep an eye on SE :-)

[2020-05-02 07:14] tcNickolas commented on #274
I also added this request to the [Roadmap](https://github.com/microsoft/QuantumKatas/wiki/Roadmap) of this project, so once somebody gets to implement that tutorial, this information will be more prominent in the katas as well.

[2020-05-02 07:14] #274 closed

[2020-05-02 18:22] mbuchberger1967 commented on #323
Hi,
I created this question:
https://quantumcomputing.stackexchange.com/q/11810/11909

and this one:
https://quantumcomputing.stackexchange.com/q/11812/11909

Would be great if you can help me with those
Thx a lot.
Markus

Von: Mariia Mykhailova <notifications@github.com>
Gesendet: Donnerstag, 30. April 2020 21:19
An: microsoft/QuantumKatas <QuantumKatas@noreply.github.com>
Cc: Markus <markus@mark

[2020-05-02 22:26] theerfan opened #340 "Problem in Qubit tutorial"
In the "Demo: Examining Qubit States in Q#" part of the [Qubit tutorial](https://github.com/microsoft/QuantumKatas/blob/master/tutorials/Qubit/Qubit.ipynb), we have:
![image](https://user-images.githubusercontent.com/11455681/80893620-53d5a380-8ce9-11ea-9a6c-cd09795552e3.png)
Where DumpMachine's results are  inconsistent with the actual state. The |1> portion of the state should have an _i_ coeffi

[2020-05-03 01:25] tcNickolas commented on #340
Indeed, the *i* got lost when converting the example of text output to a screenshot of a visual output. We'll fix that. Thank you for catching this!

[2020-05-03 18:07] #340 closed

[2020-05-08 17:52] tcNickolas commented on #292
This should be addressed in the next release following https://github.com/microsoft/QuantumKatas/pull/344. I'll close this issue for now, and reopen if it turns out more work is needed. Thank you @cgranade for flagging this and @vivanwin for working on this!

[2020-05-08 17:52] #292 closed

[2020-05-09 12:35] BrokenDuck opened #345 "Grover's Algorithm 1.4 error"
I am quite puzzled at how the 1.4 task works. I understood the solution with the phase kickback trick. However, every time I execute it, it is outputting :
`Qubit in invalid state. Expecting: Zero`
`	Expected:	0`
`        Actual:	0,5000000000000007`
`Try again!`
This is quite puzzling as when I am using the `DumpMachine()` function from Microsoft.Quantum.Diagnostics, the machine is in a weird stat

[2020-05-09 18:48] tcNickolas commented on #345
Could you please provide the code you're trying? I have just double-checked the task and the following code passes the test, so the reference solution is correct.

    function OracleConverter (markingOracle : ((Qubit[], Qubit) => Unit is Adj)) : (Qubit[] => Unit is Adj) {
        return OracleConverter_Reference(markingOracle);
    }

[2020-05-10 21:14] BrokenDuck commented on #345
This is the definition of the operation which was put in a cell above the function and was run before :
[code]
And this is the function to call the operation :

[2020-05-10 21:37] tcNickolas commented on #345
Sorry, I was a bit hasty in my earlier copy-paste, of course if you want to write the solution from scratch it should be as you listed. But I cannot reproduce the failure; when I try to do exactly what you did, the test passes:

![image](https://user-images.githubusercontent.com/10113024/81510987-e7e7d200-92ca-11ea-9900-f5a6129a52a3.png)

I'm puzzled as for what could be going wrong - any issues i

[2020-05-11 07:06] BrokenDuck commented on #345
Whilst I was rechecking if there was any difference I changed the name of the function from "OracleConverter_Reference" to "OracleConverter" and ran the cell again (with the operation already defined) and **it suddenly worked**. Black magic ! When I changed it back to "OracleConverter_Reference" it also worked ! I am quite puzzled. I am running this on local on version 0.11.2003.3107.

[2020-05-11 07:06] #345 closed

[2020-05-11 20:52] mbuchberger1967 opened #349 "Problems in understanding the solution for Measurements - Task 2.3**. Peres/Wooters game"
Hi @tcNickolas  and all others,
I have big problems in understanding the solution for 2.3 Peres/Wooters Game:

1. M' is not unitary (cols dont have norm = 1)
2. why do you choose
![grafik](https://user-images.githubusercontent.com/25125667/81611570-90855700-93db-11ea-84e8-fe33e8dc2342.png)
and not orthogonal vectors to A, B, C?
Some how you do this then in the embedding step, I guess??
3. How exac

[2020-05-11 20:54] mbuchberger1967 commented on #349
I thought I could use Markdown to describe the matrices, I try it an other way....

[2020-05-11 20:59] tcNickolas commented on #349
No, GitHub doesn't support LaTeX, you can do the formulas only using Unicode or screenshots.

This problem (and the explanation) was actually written by @martinquantum, so I'm afraid I can't really enlighten you on it. @martinquantum, could you address this question?

[2020-05-11 21:01] mbuchberger1967 commented on #349
Hi Mariia, thx for the quick response. I thought you would know it as I found this link to a paper where you and martin are named as the authors
[](https://assets.codeforces.com/rounds/1116/contest-editorial.pdf)
@martinquantum : maybe you can help me with this?

[2020-05-17 21:36] mbuchberger1967 commented on #349
Hi @tcNickolas , @martinquantum
I have an additional question. Meanwhile I can understand how you constructed M'. And if we use 1/sqrt(3) instead 1/sqrt(2) the matrix is unitary.
At the end you state:
![grafik](https://user-images.githubusercontent.com/25125667/82160605-e607ab00-9896-11ea-8dc9-4cd36b1bf3c3.png)

5. How can this matrix be a rotation around the y-axis if
![grafik](https://user-image

[2020-05-19 09:36] RankJay commented on #208
@tcNickolas I would like to pick up the Measurements (tutorials) if that is available.

[2020-05-25 10:10] vcjob opened #361 "Quantum NN vs Quantum-Inspired NN"
Hello everyone!

I know that it's kinda not the right place for that question, but I don't really know where else I can ask it. So I apologize beforehand.
I can't find the true difference between Quantum Neural Network (QNN) and Quantum-Inspired Neural Network (QINN).
I have multiple guesses:
1. QINN and QNN are absolutely the same thing (all QNNs are actually QINNs unless the true quantum computi

[2020-05-25 18:43] tcNickolas commented on #361
The best place for this kind of quantum computing questions is https://quantumcomputing.stackexchange.com/, so I would recommend you to post this question there. The Quantum Katas are still some time away from featuring either QNN or QINN :-)

[2020-05-25 18:43] #361 closed

[2020-05-25 20:52] MrFa1n commented on #361
I can't find the true difference between Quantum Neural Network (QNN) and Quantum-Inspired Neural Network (QINN).
I have multiple guesses:

1. QINN and QNN are absolutely the same thing (all QNNs are actually QINNs unless the true quantum computing hardware is developed)
2. QINNs are the neural nets ensembles.
3. Something else... ?
Unfortunately, we don’t have time to think, can we get a short an

[2020-05-25 20:53] MrFa1n commented on #361
I can't find the true difference between Quantum Neural Network (QNN) and Quantum-Inspired Neural Network (QINN).
I have multiple guesses:

QINN and QNN are absolutely the same thing (all QNNs are actually QINNs unless the true quantum computing hardware is developed)
QINNs are the neural nets ensembles.
Something else... ?
Unfortunately, we don’t have time to think, can we get a short answer?

[2020-05-27 17:31] tcNickolas opened #362 "Switch SimonsAlgorithm kata to use common CounterSimulator"
[SimonsAlgorithm kata](https://github.com/microsoft/QuantumKatas/tree/master/SimonsAlgorithm) uses its own `OracleCounterSimulator`, which can be replaced with the [`CounterSimulator`](https://github.com/microsoft/QuantumKatas/tree/master/utilities/Common) used by the rest of the katas.

[2020-06-04 07:59] ed1d1a8d commented on #328
A couple suggestions for the reference solutions to the PhaseEstimation kata:

- For task 1.4, perhaps a reference solution based on calling `QFT`/`QFTLE` could be given. Currently the reference solution just calls the `QuantumPhaseEstimation` function from the standard library.
- For task 2.2, the reference solution may be more complicated than necessary. You can first use the circuit in 2.1 with

[2020-06-04 08:24] tcNickolas commented on #328
@ed1d1a8d, these are very good points, thank you!
* For 1.4, yes, it's definitely possible to have an alternate reference solution. The existing one targets the use of libraries rather than lower-level implementation details, both are valid approaches but with different learning focus.
* For 2.2, agreed, the existing solution is quite suboptimal - I was not entirely comfortable with phase estimati

[2020-06-04 08:45] ed1d1a8d commented on #328
Sure, I'd be happy to send in a pull request. I know you guys are probably busy preparing the Codeforces Q# contest :)

[2020-06-08 21:40] akshajgaur opened #368 "Error parsing boolean value. Path '', line 1, position 1. when running first execution"
Whenever, I have been running the first cell in the tutorials, I have been getting this error.

Error parsing boolean value. Path '', line 1, position 1.

I can still check by algorithms with the reference implementation, but I can't run any exercises due to the syntax errror.

I think the problem is that I have an updated version of IQSharp, but even when I change the cell, I get the same error.

[2020-06-08 21:47] tcNickolas commented on #368
That's a new and interesting error. Can you provide your environment details? OS, .NET Core version, IQ# version installed, which tutorial you're running, a screenshot of the error?

[2020-06-08 22:54] akshajgaur commented on #368
Nevermind, it was a small mistake. Thank you though!

[2020-06-08 22:54] #368 closed

[2020-06-08 23:00] tcNickolas commented on #368
My favorite kind of issues :-)

[2020-06-09 22:09] manav28 commented on #261
Thanks @tcNickolas. I had the same issue and deleting the two folders worked.

[2020-06-10 12:06] pj747 opened #370 "Problem in understanding solution for 4.2 in the teleportation kata"
The central solution relies on figuring out which state the fourth qubit will be after all the measurements, and manipulating it to return to the original state of the first qubit.
Now, after doing the math with tensors, and rewriting first two bits into bell states, I believe I understood the states right -
    // 0 0 0 - done
    // 0 0 1 - X
    // 0 1 0 - X
    // 0 1 1 - done
    // 1 0 0 - Z

[2020-06-12 05:49] tcNickolas commented on #362
Resolved via https://github.com/microsoft/QuantumKatas/pull/369.

[2020-06-12 05:49] #362 closed

[2020-06-12 23:38] manav28 commented on #208
@tcNickolas I would like to take up Joint Measurements if no one has started already.

[2020-06-13 00:25] tcNickolas commented on #208
@manav28 Sounds great, thank you!

[2020-06-13 05:22] jainvasu631 opened #374 "Conversion Question"
How to convert LittleEndian into an Array of Qubits

[2020-06-13 06:06] tcNickolas commented on #374
`LittleEndian` is a wrapper type around the `Qubit[]` type, so to treat it as a `Qubit[]` you need to unwrap it: `Length(register!)` to get the number of qubits or `register![i]` to get i-th qubit. You can read more about the "unwrap" operator ! in [this section of the docs](https://docs.microsoft.com/en-us/quantum/user-guide/language/types#access-anonymous-items-with-the-unwrap-operator).

[2020-06-13 06:16] #374 closed

[2020-06-14 13:50] jainvasu631 commented on #328
Hi I can pickup the 2 points on Multi-qubit gates

[2020-06-14 18:31] jainvasu631 commented on #208
If no one has started working on it, I would like to call dibs on Unitary Patterns.

[2020-06-14 18:33] tcNickolas commented on #208
@jainvasu631 Sounds great, thank you!

[2020-06-14 19:55] tcNickolas commented on #208
@jainvasu631 The problems in UnitaryPatterns kata were explained in the editorials for the past contest, for the [warmup round](https://assets.codeforces.com/rounds/1115/warmup-editorial.pdf) and for the [main contest](https://assets.codeforces.com/rounds/1116/contest-editorial.pdf) - here are the LaTeX sources I have for them, in case you want to have a nice starting point for all the formulas an

[2020-06-16 17:38] ArthurConmy commented on #208
@manav28 are you still interested in writing the workbook for joint measurements? If not, I am willing to work on it. Regardless, I have a short solution for task 5:

`%kata T05_DifferentBasis_Test

operation DifferentBasis (qs : Qubit[]) : Int {
    // ...

    CNOT(qs[1],qs[0]);
    H(qs[1]);

    mutable ans=0;

    if(M(qs[1]) == One)
    {
        set ans=1;
    }

    H(qs[1]);
    CNOT(qs[1

[2020-06-16 19:00] manav28 commented on #208
@ArthurConmy I am almost done with it. I just have task 6 pending. I believe task 5 has a clean one liner and I've written some of the math that goes into it
[code]

[2020-06-16 20:56] jainvasu631 commented on #208
@tcNickolas I noticed that Grover's Algorithm though not on this list also doesn't have a Workbook.
Although the problems in it are quite simple. So do you think it needs a Workbook. If yes then I wouldn't mind working on it.

[2020-06-21 19:39] theRomanMercury opened #382 "Tutorials - SingleQubitGates - Exercise 2 - GlobalPhaseI"
Hello,

I tried to solve

// Exercise 2.
    operation GlobalPhaseI (q : Qubit) : Unit is Adj+Ctl {
        // ...
 }

with this code

    namespace _2 {
    open Microsoft.Quantum.Intrinsic;
    open Microsoft.Quantum.Canon;
    open Microsoft.Quantum.Measurement;

    operation Apply() : Result {

        using (qubit = Qubit()) {

              X(qubit);
              Z(qubit);
              Y(

[2020-06-22 18:00] tcNickolas commented on #382
Answered the question at https://quantumcomputing.stackexchange.com/questions/12604/quantum-katas-tutorials-singlequbitgates-exercise-2-globalphasei/12608#12608.

[2020-06-22 18:00] #382 closed

[2020-06-23 05:51] tcNickolas opened #384 "Update updateQDKVersion.ps1 to update Microsoft.Quantum.Sdk version"
In #383 we've modified project structure to use Microsoft.Quantum.Sdk instead of Microsoft.Quantum.Development.Kit package. We need to add a section to [updateQDKVersion.ps1](https://github.com/microsoft/QuantumKatas/blob/master/scripts/updateQDKVersion.ps1) to change the version of the Microsoft.Quantum.Sdk with the new release.

[2020-06-25 18:55] tcNickolas commented on #384
Resolved via  0451ebd. Thank you @joesho112358!

[2020-06-25 18:55] #384 closed

[2020-07-02 20:18] tcNickolas commented on #208
@jainvasu631 I'm a bit on the fence about Grover's algorithm kata - on one hand, if there are tasks, it's good to have a workbook for them; but on the other hand, the tasks follow the algorithm exactly, there's less space for inventing the solution than in some of the other katas (that's why I didn't include this kata in the first wave of workbooks to be developed). I would say it's worth having i

[2020-07-02 20:21] tcNickolas commented on #208
@desireevl Hi. Are you still working on the single qubit gate workbook? Please let me know - if you have it in some partial state but don't have time to finish it, you're welcome to send PR with this partial, and somebody else will pick it up to finish. (We have an internal Hackathon approaching so we'll have extra volunteers looking for something to do, and this workbook is a good candidate :-))

[2020-07-02 23:43] desireevl commented on #208
Hi @tcNickolas, I am so sorry about this. I won't be able to work on this and have unfortunately lost my progress  for what I have done

[2020-07-02 23:48] tcNickolas commented on #208
@desireevl No worries at all, I know how it can be. Thank you for letting me know!

[2020-07-03 02:54] Lukious commented on #208
If there are no applicants for GraphColoring yet, I'd like to work on it. Would that be okay?

[2020-07-03 02:59] tcNickolas commented on #208
@Lukious Absolutely, thank you!

[2020-07-03 05:17] jainvasu631 commented on #208
@tcNickolas I wouldn't mind taking over Single Qubit Workbook from @desireevl . Its relatively simpler and I agree the Grover's algorithm Kata would be too directly related to the algorithm so maybe its not a priority right now.

[2020-07-03 05:22] tcNickolas commented on #208
@jainvasu631 Sounds good!

[2020-07-03 13:12] BrokenDuck opened #391 "Question about task 1.5 of graph coloring"
In the solution proposed, you apply the CNOT operation and if they all return 0 it  means the two solutions are equal. Then you "uncompute" because you stored the result of CNOT in q1. I did not understand this. I think it has to do with the fact that CNOT returns "Unit" [docs](https://docs.microsoft.com/en-us/qsharp/api/qsharp/microsoft.quantum.intrinsic.cnot)? Which I didn't understand either. C

[2020-07-03 13:56] jainvasu631 commented on #391
All Unitaries in Q# return ```Unit``` while performing the required transformation on the input qubits.
Here storing the result in q1 means the unitary represented by
[code]
leaves q0 unchanged and stores the XOR(q0,q1) in q1.

In the proposed solution the ```CNOT``` gate has been used to simulate a XOR gate.  A XOR gate returns 1 if its inputs are different and 0 otherwise. The CNOT gate flips q1

[2020-07-03 16:55] BrokenDuck commented on #391
Ok, I kinda knew all this but couldn't link the code with the actual functioning. Thanks for explaining, all these solutions make me feel like I just saw a clever proof for something !

[2020-07-03 16:55] #391 closed

[2020-07-03 19:05] jainvasu631 commented on #196
I am slightly confused by this issue. The RippleCarryAdder kata has N-bit Adder (Task 1.7 and Task 2.5) and N-bit subtractor (Task 4.1). These are in effect implementations of Addition/Subtraction modulo 2^n.
@tcNickolas can you clarify what tasks you wish to be added when say operations modulo 2^n

[2020-07-03 19:10] tcNickolas commented on #196
The existing tasks cover the normal addition, which ends up having a carry qubit to store the (N+1)-th bit of the sum (most significant). In classical computing, you would've been able to just discard this carry qubit to get the result modulo 2ᴺ, but in quantum computing you can't erase information that easily, so you need to modify the computation itself so that the last carry qubit is not comput

[2020-07-03 19:16] jainvasu631 commented on #196
Ah I see, what you mean. The task should entail either not using the carry qubit or computing it and then undoing the computation to restore it to its previous value.

I would like to take this up.

[2020-07-03 21:06] tcNickolas commented on #196
Sounds good! (Meanwhile I'll try to catch up on the rest of your PRs :-))

[2020-07-03 22:28] tcNickolas commented on #208
@ArthurConmy I finally finished review of JointMeasurements workbook and merged it to master. Looking at [your proposed solution to task 5](https://github.com/microsoft/QuantumKatas/issues/208#issuecomment-644909162), it seems to follow quite a different approach, so I think there is value in adding it (together with the math behind it) after the existing solution, as an alternate solution (the wa

[2020-07-04 19:22] jainvasu631 commented on #328
I can take up first 2 points of Grover's Algorithm. I also wish to expand the Grover's Algorithm Kata to perhaps give a better explanation and analysis of the Algorithm.

[2020-07-04 20:13] tcNickolas commented on #328
@jainvasu631

Sounds good on the first two points of Grover's algorithm!

For expanding the kata, I was thinking that we need a low-level tutorial on Grover's search, a bit similar to what is done in https://github.com/microsoft/MLADS2020-QuantumClassification/, so that the low-level tutorial would cover the implementation of the algorithm itself, and the existing high-level picks it up from there

[2020-07-04 20:52] jainvasu631 commented on #328
@tcNickolas I am slightly confused as to the best way to go about this. The existing Grover's Algorithm Kata essentially breaks down the Algorithm into its primitive steps and asks the reader to implement them. It does not offer any insight into why this works.

Should this proposed tutorial be essentially a walkthrough of the Algorithm which explains what each steps does, the analysis behind it (

[2020-07-11 17:39] BrokenDuck opened #399 "Error updating the kata"
I updated the kata with the instruction but when from version 0.11.2003.3107 to 0.12.20070124 but when I run the same code in the new notebook (after having updated iqsharp and installed it again) it returns `Could not load file or assembly 'Microsoft.Quantum.Standard, Version=0.11.2003.3107, Culture=neutral, PublicKeyToken=40866b40fd95c7f5'. The system cannot find the file specified.`

[2020-07-11 18:51] tcNickolas commented on #399
Looks like there are still some binary leftovers from the previous version. Can you try deleting `bin` and `obj` folders and running the notebook again?

[2020-07-12 13:23] BrokenDuck commented on #399
Thanks, for the answer, had this problen before and I forgot how I fixed it.

[2020-07-12 13:23] #399 closed

[2020-07-15 00:14] FAHADHART commented on #370
We'd

[2020-07-15 00:47] FAHADHART opened #406 "شكرًا"

[2020-07-15 01:12] tcNickolas commented on #406
You're welcome :-) (Assuming that translate recognized this correctly as "Thank you" :-))

[2020-07-15 03:16] #406 closed

[2020-07-16 20:12] jainvasu631 opened #412 "[QEC] Kata: Sign Flip Code and Shor Code"
Right now the Quantum Error Correction Kata is limited to *Bit Flip Code*. However there exists codes which correct for *Sign Flip* and also *Shor's 9 qubit code* which corrects for an arbitrary single qubit error (plus other further developments on this). I was thinking of extending the `QEC_BitFlip` Kata into a general `QuantumErrorCorrection` Kata which includes other error correcting codes bes

[2020-07-17 18:19] jeneyhack007 commented on #412
Hdhdu

[2020-07-17 18:19] jeneyhack007 commented on #412
Good

[2020-07-18 06:56] #370 closed

[2020-07-18 07:09] tcNickolas commented on #370
@pj747 @ashwinmayya's change fixed the reference solution for 4.2, so I'm closing this issue. If you want to write up the workbook for Teleportation, I'd welcome it - it is not on the list at #208 but please let me know if you'd like to add it.

[2020-07-18 18:33] jainvasu631 opened #415 "[DistinguishUnitaries] Kata : Add Problems from Q# Summer 2020 Contests"
The DistinguishUnitaries Kata doesn't currently have all the problems from Microsoft Q# Summer 2020 [Warmup Contest](https://codeforces.com/contests/1356) and [Main Contest](https://codeforces.com/contest/1357). Should we add them to this Kata?

If so, I wouldn't mind working on adding the problems as new Tasks.

[2020-07-19 00:28] tcNickolas commented on #415
Yes, I need to add them - I have them in Kata format already (that's my default development format for the new tasks), it's a matter of me sitting down and adding them to the already existing tasks. I should be able to get to it some time next week.

[2020-07-19 00:35] tcNickolas commented on #412
It is definitely a good idea - those two error correction codes are even on the [roadmap](https://github.com/microsoft/QuantumKatas/wiki/Roadmap) :-) It might make sense to keep the QEC_BitFlipCode kata as is, and to write a tutorial that would have not just the tasks but also some explanations; I think it's pretty hard to come up with Shor's algorithm on one's own without theory/hints. What do yo

[2020-07-19 00:41] jainvasu631 commented on #412
Just to clarify I meant Shor's 9 qubit Error Correcting Code not his factorization algorithm.  Shor's algorithm for factorization would require a tutorial. However, I am not sure if it requires a complete tutorial. I'll go through the ECC paper and then start writing up the jupyter notebook. Once its somewhat done we will probably have a better idea if its a Kata or tutorial.

[2020-07-19 00:44] jainvasu631 commented on #412
Since Sign Flip builds on Bit Flip and then Shor's code builds on them both. I though having them  in same Kata would be better. There would be a better flow and Sign Flip and Shor's 9 qubit code standalone would always reference back to Bit Flip. Hence it was my opinion that making them Part 2 and Part 3 of a more general QEC Kata would be better.

[2020-07-19 00:49] tcNickolas commented on #412
Meh, I was thinking Shor's code and typed algorithm... In the context of error correction we're definitely not talking about factorization :-)

I agree, the tutorial would start with the bit flip code, but the presentation and the tasks used might be different than those used in the kata. Similar to Deutsch-Jozsa algorithm, we started with a kata and then a year later added a tutorial that offers

[2020-07-19 00:51] jainvasu631 commented on #412
I saw the Roadmap. There is an Hourglass figure next to Sign Flip. Is somebody else working on that?

[2020-07-19 00:54] jainvasu631 commented on #412
Alrighty. I will take a better look at the tutorials and start coming up with something.

[2020-07-19 00:55] tcNickolas commented on #412
Somebody was working on it but I haven't heard from them for a very long time (pre-Q# Jupyter notebooks), so I think that hourglass is obsolete :-( Let me update that...

[2020-07-19 00:58] #415 closed

[2020-07-20 07:36] emax-wenjun opened #416 "Quantum Oracle for Solving (Bounded) Knapsack Problem"
Hello,

I would like to contribute by creating a Kata that involves a quantum oracle that can be used to solve the (Bounded) [Knapsack Problem](https://en.wikipedia.org/wiki/Knapsack_problem) using Grover's Algorithm. I have already written most of the code for this oracle, and I have tested that it works. I will need some time to convert my code into a Kata format, though.

Could my proposed cont

[2020-07-20 08:55] jainvasu631 commented on #416
I think the [SolveSATWithGrover]() Kata could provide you with a decent template/guideline on the layout of writing this Kata.

It is probably the closest Kata to what you are proposing since it also aims at solving a classical problem (3SAT) with Grover's Algorithm.

You will have to write tests, reference implementations and other scaffolding to Kata. I guess, they could be done in a similar vei

[2020-07-21 02:19] tcNickolas commented on #416
Hi @emax-wenjun!

Sounds exciting! (Well, I might be biased, since I like Grover's algorithm and its applications a lot, but still exciting :-)) I added it to the Roadmap and linked it to this issue.

As @jainvasu631 mentioned, the good examples of the katas to base this one upon are [SolveSATWithGrover](https://github.com/microsoft/QuantumKatas/tree/master/SolveSATWithGrover) and [GraphColoring](

[2020-07-22 01:38] emax-wenjun commented on #416
Thank you, @jainvasu631 for the reference. I will probably use [GraphColoring](https://github.com/microsoft/QuantumKatas/tree/master/GraphColoring), since I'm more familiar with it, having solved it before.

@tcNickolas, for the splitting of the task into smaller parts, I currently have split the oracle into many operations and layers, but I will need to further decompose them to an extent that wo

[2020-07-22 10:47] msoeken commented on #416
@emax-wenjun I have a suggestion for an alternative implementation of the oracle, which potentially makes it a bit simpler to create the Kata.

Imagine we have a qubit register for the oracle input (in the length of the number of available items) and a target register for the oracle. Then we have a register of size `W`, where `W` is the sum over all item weights. Think of this register being parti

[2020-07-23 05:50] emax-wenjun commented on #416
@msoeken Thank you for your proposal, which would be of great value if it can avoid constant addition and multiplication. First, I would like to make sure we are on the same page regarding the problem. The version of the Knapsack Problem that I'm aiming to solve is the Bounded Knapsack Problem, in which there are n types of items, and each type can have **multiple** instances. Specifically, the i<

[2020-07-23 12:21] vivanwin opened #420 "Update QDK script creates wrong version format for Dockerfile"
### Problem
When you run the updateQDKVersion.ps1 script, the update for the Dockerfile gives a wrong version format for the container repository.
The new version code for the rest of the repo is in this format `mcr.microsoft.com/quantum/iqsharp-base:x.xx.xxxxxxxx` however the container register has this format `mcr.microsoft.com/quantum/iqsharp-base:x.xx.xxxx.xxxx`.

### Solution
The update scrip

[2020-07-29 16:12] BrokenDuck opened #439 "Troubles undertanding the last graph coloring task"
In the last task, the parameters are the number of vertices and the oracle to test the validity of the coloring. We have to output a valid coloring. Formally, a vertex can be alone and not connected to any other vertex. Moreover, how do you test if the returned coloring is correct without knowing the edges. Do we have to return these too ?

There is clearly something that I am missing. I don't wan

[2020-07-29 16:46] jainvasu631 commented on #439
Task 2.2 and Task 2.3 go hand in hand.
In Task 2.2 we are given the task of implementing an Oracle which takes input the Vertices **V** and Edges **E** of the graph, alongwith a candidate coloring. This coloring has one color for each vertex and each color is encoded using 2 qubits hence size of `colorsRegister` is **2V**.
If we create a new `oracle` by fixing the inputs `V` and `edges` of `Vertex

[2020-07-29 20:13] BrokenDuck commented on #439
Ok, I understand now. Thanks, I kinda had trouble linking everything together. I forgot that the oracle was meant to be a black box. I simply have to generate all the possibilities in a superposition. Thanks, the note on the Four Color Theorem is really good.

[2020-07-29 20:13] #439 closed

[2020-07-29 23:47] tcNickolas commented on #420
Thank you for marking this in writing! I stumbled into this after June release and reported it internally, but forgot to follow up on it before July release. I'll see if we can modify our release process to make `iqsharp-base` version format match the general QDK version, otherwise we'll have to modify the script to reflect this difference.

[2020-07-30 03:12] jeneyhack007 commented on #412
Keane comment

[2020-08-01 04:47] emax-wenjun commented on #416
7/31/2020 Updates on the Kata:

- I discovered that the IncrementByInteger operation, which may have been added recently, performs the same task as the custom adder that I had previously described, except more efficiently. Therefore, the kata will no longer need a custom adder, instead using this operation.

- I have essentially finished writing the ReferenceImplementation.qs for the kata, althoug

[2020-08-01 04:53] tcNickolas commented on #416
There is a PR covering quantum counting at https://github.com/microsoft/QuantumKatas/pull/168, though I still haven't gotten to reviewing it :-(

Speaking of the difference in approaches described by you vs @msoeken, it seems that they are solving different problems, and the main difference is the number of instances of each item type that can be used. If this is so, would it make sense to cover t

[2020-08-01 05:16] emax-wenjun commented on #416
@tcNickolas That is a fantastic idea! I had been worrying that my kata would build up in complexity too quickly, and doing the single-instance problem first easily resolves this issue. Thank you very much for your suggestion. I will look into the quantum counting, as well.

[2020-08-01 21:09] BrokenDuck commented on #139
Hello, I normally open new issues when I have questions about the kata, but I this time I will comment here. I am currently trying to implement finding the graph coloring solution with Grover Algorithm completely (I finished the kata completely). I did everything apart from the oracle. Can I simply use the oracle from Task 2.2 ? I kind of find it strange the whole algorithm knows the edges, with t

[2020-08-02 06:42] jainvasu631 commented on #139
Yes you can use the Oracle designed in Task 2.2. However you will have to fix the inputs for `V` and `edges` to make the oracle work for a particular graph

[2020-08-02 09:13] BrokenDuck commented on #208
@Lukious How far are you with the graph coloring workbook ? I can help if you want !

[2020-08-03 06:19] tcNickolas commented on #190
We can finally mark this issue as complete! Fantastic job everyone, thank you for your work on this!

[2020-08-03 06:19] #190 closed

[2020-08-03 06:50] tcNickolas commented on #139
@BrokenDuck  The whole algorithm will know the edges, since that's the input to the algorithm, same as in the classical case. Grover's algorithm itself treats the oracle as a black box, but, as @jainvasu631 pointed out, to solve an instance of the problem for a specific graph you need to pass that graph as an argument and build the oracle for it.

Which functions are you having trouble with? Every

[2020-08-03 12:56] jainvasu631 commented on #328
@tcNickolas  I have added the relevant sections in VisualizingGroversAlgorithm notebook in Pull Request #449

[2020-08-03 14:25] BrokenDuck commented on #139
I finished everything and passed the test correctly. I am now trying to put everything on a Q# file with a python host. However, I recieved a lot of errors when I import qsharp, and the importing doesn't recognise the Q# namespace. I found a couple of related issues on the iqsharp repo and will look further there.

[2020-08-04 08:10] jainvasu631 commented on #176
@tcNickolas What kind of messaging did you have in mind for SolveSATWithGrover?

[2020-08-07 17:37] BrokenDuck commented on #208
@tcNickolas Can I work on the graph coloring workbook then ?

[2020-08-09 08:08] emax-wenjun commented on #416
8/9/2020 Updates:
I have finished writing all of the tasks, tests, and reference implementation for the kata, with the exception of quantum counting. Although I am able to implement quantum counting if necessary, I feel that its complexity requires its own kata to be covered efficiently. I would be willing to help create that kata, but I would like to finalize this kata first, since it is nearly f

[2020-08-10 21:27] tcNickolas commented on #208
@BrokenDuck Sure, sounds good :-)

(Apologies for the delay replying - I was trying to reach somebody who has expressed interest in the same some time ago, but with no success, so I'm assuming they're not interested any longer.)

[2020-08-11 05:33] emax-wenjun commented on #416
@tcNickolas, @msoeken, @jainvasu631 I have finished writing the code for the Knapsack Problem kata, which can be found in the pull request I created. I would appreciate any feedback and any suggestions for improvement so that it can be incorporated into the repository.

[2020-08-12 12:23] zegman opened #458 "Some matrices in Workbook_MultiQubitGates.ipynb are not diplayed properly"
Some of the matrices in Workbook_MultiQubitGates.ipynb are not displayed properly:
![image](https://user-images.githubusercontent.com/1073364/90014471-caeae280-dcaf-11ea-8539-523fe0d89d60.png)

[2020-08-12 17:00] tcNickolas commented on #458
That's odd, I just double-checked them and they look as expected to me (exercise 1 I'm assuming):
![image](https://user-images.githubusercontent.com/10113024/90044284-4b92ea00-dc82-11ea-91bb-d6792ae84942.png)

What kind of environment are you using? We've had reports of the math in the notebooks rendering incorrectly in VS Code (#313) and I think the consensus was that VS Code support for notebook

[2020-08-12 17:10] zegman commented on #458
This is indeed exercise 1.
This is happening in chrome and Safari on Mac.

[2020-08-12 17:23] tcNickolas commented on #458
Hmm, I don't have easy access to a Mac to reproduce... Can you try to find a way to fix the display? If you do and send a PR, we'll be able to check that it doesn't break display in other environments easily.

[2020-08-12 17:25] zegman commented on #458
I looked at the code, and couldn't figure out why it renders this way.
To be clear, this happens when pointing the above mentioned browsers on mac to: https://github.com/microsoft/QuantumKatas/blob/master/tutorials/MultiQubitGates/Workbook_MultiQubitGates.ipynb

[2020-08-12 17:27] zegman commented on #458
I now checked, and the same happens on Chrome using Windows 10.

[2020-08-12 17:34] tcNickolas commented on #458
Ah, you're looking at them on GitHub! GitHub's rendering of the math notebooks is very basic, so it's not going to render properly no matter what we do :-)

The intended way to use the notebooks is to run them using "jupyter notebook" command from command line (you need to install Jupyter and IQ#, as the installation guide suggests). Alternatively, you can use the zero-install version at https://m

[2020-08-12 17:35] zegman commented on #458
OK - thanks.
I will close this.

[2020-08-12 17:35] #458 closed

[2020-08-14 09:55] BrokenDuck opened #459 "Add math to better understand Grover's diffusion operator"
Hi, I quickly wanted to say that I did a Q&A style [answer](https://quantumcomputing.stackexchange.com/questions/13313/how-can-you-decompose-grovers-diffusion-operator-into-gates) on quantum stack exchange to better understand the implementation of Grover's diffusion operator with math. Maybe you could add a quick link under the one given in the ReferenceImplementation.qs file. I think it would be

[2020-08-25 16:03] Manvi-Agrawal commented on #166
Is the magic command %kata specified in this repository(ie Quantum Katas) or some other repository?

[2020-08-25 16:17] tcNickolas commented on #166
It's defined in [`Microsoft.Quantum.Katas` package](https://github.com/microsoft/QuantumKatas/tree/master/utilities/Microsoft.Quantum.Katas) in this repo.

[2020-08-25 16:20] Manvi-Agrawal commented on #166
Thanks @tcNickolas.

[2020-08-25 17:20] Manvi-Agrawal opened #466 "Possible Documentation Error"
At **_line 158_** in _**utilities/Microsoft.Quantum.Katas/KataMagic.cs**_, the documentation of **Simulate** function describes calling **FindRawAnswer** function. But in the implementation of Simulate function **FindRawAnswer** hasn't been used; instead **FindSkeltonAnswer** is used.

       155. /// <summary>
       156. /// Executes the given kata using the provided <c>userAnswer</c> as the act

[2020-08-25 17:41] tcNickolas commented on #466
There is a discrepancy indeed - I suspect `FindSkeletonAnswer` used to be called `FindRawAnswer` at some point in the past. Would you be willing to send a PR with this fix? If not, I'll get to it at some point.

Thank you!

[2020-08-26 01:32] Manvi-Agrawal commented on #466
@tcNickolas I would be willing to work on the issue

[2020-08-27 04:46] Manvi-Agrawal commented on #166
@tcNickolas I would like to take up this issue.

[2020-08-27 17:08] tcNickolas commented on #166
Sure, give it a try and let us know what design you come up with. It's a rather non-trivial issue, so we'll probably want to discuss it with @rmshaffer as well, who is familiar with IQ# internals.

Thank you!

[2020-08-28 17:37] #466 closed

[2020-09-01 21:02] tcNickolas opened #476 "Create troubleshooting guide"
There is a set of "standard" things that can go wrong when running the katas, and it makes sense to write them down in a single place, so that a new user has an easy place to start troubleshooting their issue.

Here are a few examples that come to mind; let's think whether we can come up with more.

* "Syntax does not match any known patterns" when executing notebooks: check that you've executed `

[2020-09-09 19:11] vivanwin commented on #476
I can get started with this.

[2020-09-22 05:47] tcNickolas opened #484 "Create Measurements tutorial"
This tutorial should fill the space between the Superposition kata and the Measurements kata: assuming that the learner is already familiar with the previous topic (i.e., is comfortable with the Dirac notation, the concept of superposition and using quantum gates), introduce the necessary concepts and Q# constructs to use measurements.

Here is the tutorial structure I have in mind (we could frame

[2020-09-24 02:36] tcNickolas opened #485 "Update notebooks validation script to exclude individual tasks"
### Context
Currently [validate-notebooks.ps1](https://github.com/microsoft/QuantumKatas/blob/main/scripts/validate-notebooks.ps1) script excludes several notebooks which would fail validation. There are several reasons for failure (see them documented [here](https://github.com/microsoft/QuantumKatas/blob/main/scripts/validate-notebooks.ps1#L84)), and often they affect one or two tasks from the no

[2020-09-24 03:51] tcNickolas opened #486 "Update Update-QDKVersion script to handle versions imported in Python"
An example can be found in [ExploringQuantumClassificationLibrary notebook](https://github.com/microsoft/QuantumKatas/blob/main/tutorials/QuantumClassification/ExploringQuantumClassificationLibrary.ipynb); the import string looks like this:

    qsharp.packages.add("Microsoft.Quantum.MachineLearning::0.12.20072031")

We should add this to the cases already handled by the [Update-QDKVersion.ps1](ht

[2020-09-24 06:19] tcNickolas commented on #459
That sounds like a good idea. Do you want to send a PR to add that link?

More generally, I've been thinking how to offer a better learning experience for Grover's algorithm - you're right to point out that it's pretty hard to build up intuition for. The current GroversAlgorithm kata is one of the oldest ones we have - it's nearly two years old - and I think we can do much better than that now :-)

[2020-09-24 19:29] tcNickolas commented on #349
I finally got the time (and the right tools!) to sit down and dig into this question. Using the new [DumpOperation functionality](https://github.com/microsoft/Quantum/blob/main/samples/diagnostics/dumping/Dumping%20States%20and%20Operations.ipynb) I could just check which parts of the code correspond to which matrices without doing matrix multiplication manually.

The matrix in question is impleme

[2020-09-24 19:46] tcNickolas commented on #349
I sent a pull request to add this clarification to the workbook - omitting such information is indeed confusing, and we don't yet have a kata that would cover applying row/column permutations, so there is no place to look it up.

[2020-09-24 19:46] #349 closed

[2020-09-26 05:31] tcNickolas opened #488 "Update notebooks validation script to validate workbooks solutions"
### Context
Currently [validate-notebooks.ps1](https://github.com/microsoft/QuantumKatas/blob/main/scripts/validate-notebooks.ps1) script validates the workbook code cells using the same logic as the code cells in notebook versions of the katas: `%kata` magic that invokes test for the code in the cell is replaced with `%check_kata` magic that invokes test for the reference solution (from `Referenc

[2020-09-27 17:34] tcNickolas opened #489 "[RandomNumberGeneration] New task: generate a random number between N and M"
We can reuse task 3 and add repeat-until-success loop to discard numbers less than N or greater than M, similar to how the [Microsoft Learn module](https://docs.microsoft.com/en-us/learn/modules/qsharp-create-first-quantum-development-kit/5-random-number-generator) does it.

[2020-09-27 17:40] tcNickolas opened #490 "[RandomNumberGeneration] New tasks: generating correlated random numbers"
The easiest way to do it is to prepare two entangled registers that will yield the necessary distribution. We'd need to focus on coming up with interesting tasks that cover different scenarios, and then use the skills the learner got from the Superposition kata.

Here is a [relevant QuantumComputing StackExchange question](https://quantumcomputing.stackexchange.com/questions/12130/are-there-patter

[2020-09-27 18:11] jainvasu631 commented on #489
I would love to work on this.

[2020-09-27 18:11] jainvasu631 commented on #490
I would love to work on this.

[2020-09-27 18:50] tcNickolas commented on #489
I think this task might be too easy for you :-) I'm filing a bunch of easy to start with issues with an eye towards [Hacktoberfest](https://hacktoberfest.digitalocean.com/), so that if a new contributor walks in looking for something to try their hand at, they'd have something non-daunting to do.

I appreciate your enthusiasm, but I'd suggest to leave those easy issues (the new ones marked as "goo

[2020-09-27 19:09] Yash-g17 commented on #489
Hey can I work on this ?

[2020-09-28 06:24] tcNickolas commented on #489
@Yash-g17 Sounds good! Let us know if you need any pointers regarding the process.

(I would recommend to send the actual pull request in October, so that it counts for Hacktoberfest :-) I've been part of this event for several years, and I like it a lot)

[2020-09-28 06:25] tcNickolas commented on #490
@jainvasu631 Sounds good! Feel free to post the "design" before the full pull request, so that we can discuss the tasks at a high level before implementing them.

[2020-09-28 11:03] jainvasu631 commented on #490
I will probably send it in October only. I am bit busy during weekdays so I will work on the weekends. I shall try to come up with a design by the coming weekend

[2020-09-28 18:52] Yash-g17 commented on #489
Tysm :)

[2020-09-28 23:18] tcNickolas opened #491 "[GroversAlgorithm] Emphasize global phase in "Conditional phase flip" task"
### Context
[GroversAlgorithm kata](https://github.com/microsoft/QuantumKatas/blob/main/GroversAlgorithm/) has a task "Conditional phase flip", which asks the learner to "Flip the sign of the state of the register if it is not in the |0...0⟩ state.". However, the reference implementation flips the sign of the state if it is in |0...0⟩ state, i.e., implements that transformation up to a global phas

[2020-09-28 23:37] tcNickolas opened #492 "[CHSHGame/GHZGame] Repeat randomized tests multiple times"
Tasks 2.2 and 2.4 in [CHSHGame kata](https://github.com/microsoft/QuantumKatas/blob/main/CHSHGame/Tests.qs) and 2.2 in [GHZGame kata](https://github.com/microsoft/QuantumKatas/blob/main/GHZGame/Tests.qs) can have incorrect solutions (for example, measuring in incorrect basis) that still could pass the tests with non-negligible probability. It would make sense to repeat the test (the operations ins

[2020-09-29 00:20] tcNickolas commented on #139
@BrokenDuck Somehow I missed your last question, terribly sorry about that! Did you resolve the issue successfully? If not, can you share the repro so that we can check it?

[2020-09-29 00:29] tcNickolas commented on #176
@jainvasu631 Apologies for the delay replying!

For the oracle-based tasks, there are two ways to verify that they are done correctly:
* One can compare the solution to the reference implementation using [AssertOperationsEqualReferenced](https://docs.microsoft.com/en-us/qsharp/api/qsharp/microsoft.quantum.diagnostics.assertoperationsequalreferenced) - this is faster but the result it gives is "inc

[2020-09-29 05:23] BrokenDuck commented on #139
@tcNickolas Oh it resolved by itself, I can fully run the graph coloring solve in vs code so that I can finish my student report 😀.

[2020-09-29 06:15] Yash-g17 commented on #489
Hi,
I have a quick question. Do we need to add a completely new package with the test suite or just add in an existing package. I can find a code file doing random number generation ReferenceImplementation.qs
Can you please guide me through this

[2020-09-29 19:21] tcNickolas opened #495 "[QFT] Convert part III of the kata to notebook format"
#493 added two new tasks to the QFT kata, but only to the Q# project version, not to the [Jupyter Notebook frontend](https://github.com/microsoft/QuantumKatas/blob/main/QFT/QFT.ipynb). We need to add them to the notebook as well.

[2020-09-29 19:33] vivanwin commented on #489
Hi @Yash-g17,

To add a task to an existing Kata you do not have to create new packages or files.
You have to add the task to the Jupyter notebook, this is the part where the user will interact with the new task. Next the actual solution should the added to the ReferenceImplementation.qs file.
Lastly, you have to add a unit test to Test.qs, which will compare the solution given by the user in the

[2020-09-29 19:35] #459 closed

[2020-09-29 19:45] BrokenDuck opened #496 "[Graph Coloring] Trouble understanding oracle"
Hello, I am troubled by the oracle proposed as a solution in the Graph Coloring Kata. The `ColorEqualityOracle_Nbit` operation applies the X gate if both colors are equal. This means the "conflicts" qubit array would be equal to |1...1⟩ if all the colors are equal, right ? Then why are we using 0 in `ControlledOnInt(0, X)(conflicts, target)`. Shouldn't it be a 1 ? Thanks for the read, I probably a

[2020-09-29 21:37] tcNickolas commented on #489
A quick note: there is also the Tasks.qs entry which is a different front-end for the task, that matches the operation signature in the notebook (without it the Q# project won't compile). You can find the examples in the tutorial - just look for an entry for the task 1 in each file, and see how operations are named (names are important to make sure all pieces work together) and what they do.

Now

[2020-09-29 23:30] tcNickolas commented on #496
`ColorEqualityOracle_Nbit` flips the target qubit if the colors are equal. For `VertexColoringOracle`, the cases when the colors are equal make the coloring invalid, so to mark the coloring as valid we want no pair of colors to be equal - all qubits in `conflicts` should be in |0⟩ state for the target qubit to be flipped (think of it as "there should be no conflicts"), marking the coloring as vali

[2020-09-30 04:09] tcNickolas opened #497 "[Contribution guide] Add more detailed instructions on adding content"
[Contribution guide](https://github.com/microsoft/QuantumKatas/blob/main/.github/CONTRIBUTING.md) lists the types of things one could contribute, but doesn't go into details on the moving pieces that go into doing each of those things. It makes sense to add a bit more guidance on this:

* Section "Improving Existing Katas" should really be called "Adding New Tasks to Existing Katas"; #177 is an ex

[2020-09-30 08:11] BrokenDuck commented on #496
Of course ! I am feeling pretty dumb right now. Thanks for reminding me what the goal is 😁.

[2020-09-30 08:11] #496 closed

[2020-09-30 23:13] tcNickolas opened #498 "Replace functions deprecated in QDK 0.12.20092803"
* [Zip](https://docs.microsoft.com/en-us/qsharp/api/qsharp/microsoft.quantum.arrays.zip) and [Zip3](https://docs.microsoft.com/en-us/qsharp/api/qsharp/microsoft.quantum.arrays.zip3) used in several projects were renamed to Zipped and Zipped3, respectively.
* [RandomNumberGeneration tutorial](https://github.com/microsoft/QuantumKatas/blob/main/tutorials/RandomNumberGeneration/Tests.qs#L150) has sev

[2020-09-30 23:49] tcNickolas opened #499 "[DumpUnitary] Reimplement the tool using DumpOperation"
[DumpUnitary](https://github.com/microsoft/QuantumKatas/tree/main/utilities/DumpUnitary) is a tool that accompanies the [UnitaryPatterns kata](https://github.com/microsoft/QuantumKatas/tree/master/UnitaryPatterns) - it allows the learner to dump the unitary implemented by an operation and extracts the "pattern" of zeros and non-zeros according to the rules defined in the kata. It predates the rece

[2020-10-01 17:32] cgranade commented on #499
You should be able to use the  `OnDisplayableDiagnostic` event of the `QuantumSimulator` class to directly get the `DisplayableUnitary` object emitted by `DumpOperation` without needing to write to a file and read it back. Happy to point to that if it would be helpful. Thanks!

[2020-10-01 18:05] tcNickolas commented on #499
Yes, please do - it can be tricky to locate which repo the specific functionality resides at.

[2020-10-01 18:12] cgranade commented on #499
This is the event where displayable diagnostics are emitted: https://github.com/microsoft/qsharp-runtime/blob/main/src/Simulation/Common/SimulatorBase.cs#L60
This is the type of the diagnostic object corresponding to the output emitted by `DumpOperation`: https://github.com/microsoft/QuantumLibraries/blob/main/Standard/src/Diagnostics/Emulation/DataStructures.cs#L19

You can use the two together t

[2020-10-02 14:21] Manvi-Agrawal opened #502 "Reference Implementation of Task 2.1 in QFT kata doesnt lead to Success!"
I get the following error in Task 2.1 of the QFT kata
`C:\snippet_.qs(5,9): error QS5022: No identifier with the name "BigEndian" exists.`

**Code Segment for Reference Implementation of Task 2.1 in QFT kata**
%kata T21_PrepareEqualSuperposition_Test
operation PrepareEqualSuperposition (register : Qubit[]) : Unit is Adj+Ctl {
    QFT(BigEndian(register));
}
X------------------------X--------------

[2020-10-02 17:03] tcNickolas commented on #502
The library QFT implementation uses `Microsoft.Quantum.Arithmetic.BigEndian` data type which is not open in the notebooks by default (I think only `Canon` and `Intrinsic` are open by default), so you'll need to add `open Microsoft.Quantum.Arithmetic;` to your cell (or indeed use a fully qualified type name like you did). `ReferenceImplementation.qs` opens several namespaces on top of the file, so

[2020-10-02 19:01] #495 closed

[2020-10-02 21:29] #502 closed

[2020-10-03 06:29] tcNickolas commented on #486
(Putting this issue on hold, since it looks like #468 will make it unnecessary.)

[2020-10-03 18:31] Manvi-Agrawal commented on #491
Raising a new PR due to git issues

[2020-10-04 23:38] jainvasu631 commented on #490
The rough idea that I worked out was a task with generates correlated random numbers.
We are given the P(0), P(1) and rho representing coefficient of correlation. Based on this we need to create a state
of the form a|00> + b|01> + c|10> + d|11> such that on measuring any one qubit the probabilities are P(0) and P(1).
However on measurement both qubits. Their results are correlated with correlation

[2020-10-05 00:07] jainvasu631 commented on #176
Since I worked on the SolveSATWithGrover Workbook, I remember that the testing harness is incredibly slow for certain tasks. Specifically it takes significant time for Tasks 1.5, 1.6 and Task 2.2. When I investigated the slowdown I saw that they include the check AssertOracleImplementsFunction which essentially does what you describe (iterating through basis states and checking the answer), we jus

[2020-10-05 02:01] jainvasu631 commented on #499
@tcNickolas
I remember using this tool while writing and debugging the Unitary Patterns Kata. I can work on this, unless you or someone else is already working on it.  I would love to check out the DumpOperation utility which was so needed, requested and awaited before it came out.

[2020-10-05 02:21] jainvasu631 commented on #208
@tcNickolas
I was recently going through the QFT Kata Notebook after Section III was added. I felt that while Section I is maybe tutorial-ish,
Section II and especially Section III need a Workbook. None currently exists. The list should be updated with the QFT as well.

PS: I notice that its almost been a year since this Issue was opened (in the last Hacktoberfest). We have almost completed it and

[2020-10-05 03:00] jainvasu631 commented on #497
@tcNickolas
I have a few suggestions based on my experience contributing  for whoever works on this Issue.
**Tutorial vs Kata**
I felt that the difference between a tutorial and a normal Kata should be present in the contributions guide. While writing a tutorial an author needs to take into account the prior information or content the reader has consumed as well as the fact the reader may be novic

[2020-10-05 05:03] tcNickolas commented on #208
@jainvasu631
Agreed on both counts - I was hesitant to add new workbooks here, since this would delay the joy of completing the issue for everyone who worked so hard on the first batch of the workbooks :-)
I'm thinking we can file a new issue, "Create workbooks, batch 2", so that we can both complete this one and have more workbooks to work on.

Which reminds me... @BrokenDuck, how are you doing w

[2020-10-05 19:58] BrokenDuck commented on #208
@tcNickolas I am working on it, but school has been quite ruthless (4h of French, Maths and Physics exam), so I am a bit late. I would greatly appreciate some help on part 1, I am more interested in part 2. Do I just commit the partially finished workbook, or are there extra steps ?

[2020-10-05 20:02] tcNickolas commented on #208
@BrokenDuck I think it's fine to send a pull request for a partially finished workbook - we've done that with Superposition, which took a join effort of 4 or 5 people and probably around 10 PRs.

[2020-10-05 20:13] jainvasu631 commented on #208
@BrokenDuck  I would love to help out on GraphColoring's Workbook. If you can maybe send a draft PR or share whatever you have worked on, I would be glad to help out.

[2020-10-05 20:19] tcNickolas commented on #208
@BrokenDuck @jainvasu631 Here's the [history of commits on Superposition workbook](https://github.com/microsoft/QuantumKatas/commits/main/Superposition/Workbook_Superposition.ipynb), as an example of what we did when different people work on different sections.

[2020-10-05 20:25] jainvasu631 commented on #208
@tcNickolas @BrokenDuck
Perhaps we could commit Part 1 and Part 2 independently. I am not sure how much progress @BrokenDuck has made on Part 1 but I could build on that and finish it before end of October.

@BrokenDuck How does that sound?

[2020-10-05 20:38] BrokenDuck commented on #208
I didn't really start part 1, so you could do that part and I can continue on part 2 with the oracle

[2020-10-05 20:42] tcNickolas opened #507 "[SolveSATWithGrover] Refactor tests for 1.6 and 2.2 to run faster"
Currently the tests for tasks [1.6](https://github.com/microsoft/QuantumKatas/blob/main/SolveSATWithGrover/Tests.qs#L264) and [2.2](https://github.com/microsoft/QuantumKatas/blob/main/SolveSATWithGrover/Tests.qs#L330) generate the SAT instances randomly, with up to 7 variables and 14 clauses, which can cause significant test slowdown if several tests are generated on the larger side (the more vari

[2020-10-05 20:46] tcNickolas commented on #176
@jainvasu631
Sounds good - I would start with one of them (probably SolveSATWithGrover) so that we can polish our approach, and then carry it over to the other two once it's polished.

You make a good point about the tests as well. I spent a bit of time looking into why are they so slow when I was reviewing your workbook PR, and opened #507 for refactoring them - we can make them faster without mo

[2020-10-06 04:40] jainvasu631 commented on #208
@tcNickolas @BrokenDuck
I have written the first draft of the Workbook Part 1. The Part of the Workbook can then be merged into this. I have right now created an empty coming soon Solution cells for the tasks in Part 2. Later on these can be filled in.

[2020-10-06 05:27] Yash-g17 commented on #489
I hope this issue is not very urgent, I'm quite busy with my assignments and tests right now, I'll create a pull request as soon as I'm done with them.

[2020-10-06 05:29] #486 closed

[2020-10-06 05:50] vivanwin commented on #489
Hi,
Not urgent, but Hacktoberfest only runs to the end of October 😃.

[2020-10-06 13:34] sgalpha01 commented on #507
Hey @tcNickolas, can you please assign this issue to me? It would be my good first issue in this topic. Also, I may need a bit of help as I am a beginner.

[2020-10-06 16:58] rmshaffer opened #511 "QuantumClassification tutorials don't work when using Docker image (e.g., Binder)"
Example: Open the "InsideQuantumClassifiers" tutorial on Binder:
https://mybinder.org/v2/gh/Microsoft/QuantumKatas/main?filepath=tutorials/QuantumClassification/InsideQuantumClassifiers.ipynb

When executing the third cell, the following error appears:
[code]

I believe this is because the [`Dockerfile`](https://github.com/microsoft/QuantumKatas/blob/main/Dockerfile) currently doesn't pre-build an

[2020-10-06 17:17] #498 closed

[2020-10-06 17:38] Manvi-Agrawal opened #512 "Errors : Syntax does not match any known patterns & Tasks not recognised errors"
It seems there is some issue in Jupyter Notebooks due to some recent update to this repository. I am getting the following errors :
- C:\snippet_.qs(1,1): error QS3001: Syntax does not match any known patterns.
- Tests not recognised

It seems the error is because the following lines have been removed from many Jupyter notebooks :
<code>
%package Microsoft.Quantum.Katas::0.12.20082513
</code>
<cod

[2020-10-06 17:47] rmshaffer commented on #512
Hi @Manvi-Agrawal - can you make sure you please make sure you are running the latest version of IQ#? Here are the update instructions:
https://docs.microsoft.com/quantum/quickstarts/update?tabs=tabid-conda#update-the-iq-jupyter-kernel

If you run `%version`, it should report the following:
![image](https://user-images.githubusercontent.com/3620100/95240436-3f7a6300-07c1-11eb-8a3e-36bd5bbaa136.png

[2020-10-06 18:55] tcNickolas commented on #512
@vivanwin That's the updated scenario for the troubleshooting guide from #476 - the errors are the same but the root cause (and the fix) is slightly different.

[2020-10-06 23:55] tcNickolas commented on #511
Good catch! Binder execution of this kata is rather slow, so I've been treating it as a read-only (and only checking that it works locally).

The fix might need a bit of experimentation: `./scripts/prebuild-kata.sh` might be rather slow and time out Binder builds. When this tutorial was standalone, [RUN dotnet build QuantumClassification](https://github.com/microsoft/MLADS2020-QuantumClassificatio

[2020-10-07 00:04] tcNickolas opened #513 "Update Update-QDKVersion script to handle all mentions of QDK versions"
After the recent changes we have the following [list of mentions of the QDK version](https://github.com/microsoft/QuantumKatas/search?l=PowerShell&q=20100504) in the Katas:

* [x] `*.csproj` files
* [x] `scripts/install-iqsharp.ps1`
* [x] `Dockerfile`
* [ ] `scripts/Update-QDKVersion.ps1` (comment)
* [ ] `.github/CONTRIBUTING.md` (comment)

The current script Update-QDKVersion.ps1 handles the firs

[2020-10-07 00:18] tcNickolas commented on #490
Hmm, I'm not sure how I'd approach the task if it is framed in terms of correlation coefficient - I'll admit the definition is not very fresh in my mind... If we use that, we'll need to take care to explain what it is and provide ample examples (maybe even a rewording of each task with and without it).

I was thinking about starting with tasks that are easy to explain, for example, generate two ra

[2020-10-07 00:40] lwoodyiii opened #514 "In the Linear Algebra tutorial, its says Matrices are 0-indexed, but most books have them 1-indexed."
In Part I. Matrices and Basic Operations - Matrices and Vectors
It says:
 _𝐴𝑖,𝑗  refers to the element in row  𝑖  and column  𝑗  of matrix  𝐴  **(all indices are 0-based)**. In the above example,  𝐴0,1=2 ._

But Wikipedia says:

The individual items in an m×n matrix A, often denoted by ai,j, where i and j usually vary from 1 to m and n, respectively, are called its elements or entries.
https://en.

[2020-10-07 00:48] tcNickolas commented on #514
That really depends on the convention. In programming (in most modern languages... not talking about Fortran) arrays typically use 0-based indices, and since this tutorial is heavily on programming, we chose to use 0-based indices to match the notation.

[2020-10-07 02:10] lwoodyiii commented on #514
You're right :) Sorry about that. I was thinking from just a math perspective. I didn't think from a programming perspective. Indeed, numpy uses 0 based indexing for their matrices. Taking Linear Algebra this semester, so have math on the brain :)

[2020-10-07 02:10] #514 closed

[2020-10-07 02:27] jainvasu631 commented on #490
The common theme is that all these tasks are drifting towards using entanglement.

Task 0: Boils down generating Bell States which the readers will almost certainly be familiar with and hence I am not sure if that is necessary. Maybe expressing Task 1 in terms of a correlation coefficient is unnecessary. It can just be as easily be stated as that both bits are same with a certain given probability

[2020-10-07 06:44] tcNickolas commented on #484
(I think I know somebody who is interested, putting this on hold until I can confirm)

[2020-10-07 08:53] Manvi-Agrawal commented on #512
Updating iqsharp works @rmshaffer . Although I found a new interesting bug:

Output of <code>conda -f "iqsharp"</code>
Name                    Version                   Build  Channel
iqsharp                   0.12.2010.504            py37_0    quantum-engineering

whereas when I run
<code>%version in jupyter notebook</code>
Component	Version
iqsharp	0.12.20082513
Jupyter Core	1.4.0.0
.NET Runtime

[2020-10-07 08:54] #512 closed

[2020-10-07 14:50] rmshaffer commented on #512
Hi @Manvi-Agrawal, thanks for confirming! The mismatched version you are reporting could happen in some cases if you had previously installed a version of IQ# via `dotnet tool install -g Microsoft.Quantum.IQSharp` followed by `dotnet iqsharp install --user`.

To check this, you can run `jupyter kernelspec list`. It should show a path to the installed `iqsharp` kernelspec. If you are inside the `co

[2020-10-07 15:53] Manvi-Agrawal commented on #512
Thanks @rmshaffer. Now, I am getting the matching version numbers.

[2020-10-07 16:43] rmshaffer commented on #511
@tcNickolas That's a good point. In fact, I believe just `RUN dotnet restore QuantumClassification` would be all that's needed for the packages to get cached in the image and therefore for the notebook to work properly.

[2020-10-07 21:26] BrokenDuck commented on #208
@tcNickolas I finished the graph coloring workbook, I sent a push request.

[2020-10-08 00:00] #511 closed

[2020-10-08 00:50] tcNickolas opened #518 "Replace CounterSimulator with QuantumSimulator where possible"
In #478 we migrated to the new way of marking Q# unit tests using `@Test` attribute (compared to the old way that involved a C# wrapper calling certain Q# operations). This means that we're no longer restricted by the inconvenience of directing different tests in one kata to run on different simulators. In multiple cases there are only one or two tasks in a kata which require `CounterSimulator`, t

[2020-10-08 04:23] Manvi-Agrawal commented on #518
@tcNickolas, I would like to work on this issue.

[2020-10-08 05:10] Manvi-Agrawal commented on #491
Recreating a new PR due to git issues

[2020-10-08 06:30] vivanwin commented on #518
Hi @Manvi-Agrawal,

Great to hear, go ahead! If you have any questions don't hesitate to ask.

[2020-10-09 02:34] Manvi-Agrawal opened #522 "Specify the task1 of TruthTable kata clearly in qsharp and jupyter frontend"
Currently, the Truth Tables kata asks learner to define two new truth tables x2 and x3, but the intention is not clearly specified.

Therefore some description can be added, specifying that :<br>
x2 should be true for : 010,011,101,110
x3 should be true for : 100,101,110,111

[2020-10-09 02:35] Manvi-Agrawal commented on #522
Would be happy to send in a fix.

[2020-10-09 03:19] ziqi-ma commented on #492
Why is this possible? I'm assuming the simulator uses state vectors, and if the adjoint of reference cancels implemented solution then the answer must be correct?

[2020-10-09 06:20] #492 closed

[2020-10-09 08:37] msoeken commented on #522
I think that this would give away too much information. The task states that `x2` and `x3` are projective functions for elementary variables, and provides the on-set for `x1` as an example. The readers of this task should determine the on-sets should determine the on-sets for `x2` and `x3` themselves. One might point to the `x2` column in the table above as a hint.

[2020-10-09 08:51] #518 closed

[2020-10-09 16:30] Manvi-Agrawal commented on #522
Thanks @msoeken for the clarification

[2020-10-10 09:15] BrokenDuck opened #526 "Fail to import Microsoft..Quantum.Standart.Visualisation during merge pipeline tests of notebooks"
Hi, I recently finished the graph coloring notebook and created a pull request. However, the pipeline tests fail for the notebook part 2 job (Validate notebook part ) for Linux, Windows and mac OS. Particularly, when it runs the notebook with iqsharp, it fails to import `'Microsoft.Quantum.Standard.Visualization'` because it cannot find `/opt/hostedtoolcache/Python/3.6.12/x64/lib/python3.6/site-pa

[2020-10-10 10:06] tcNickolas commented on #526
The failure to import `Microsoft.Quantum.Standard.Visualization` is a red herring here - you'll see that in successful runs as well. There are some nuances in loading the packages that we introduced in https://github.com/microsoft/QuantumKatas/pull/515 which mean that by the time the notebooks try to load that package, NuGet package loading is disabled.

Looking at the logs, it looks like the actu

[2020-10-10 11:03] BrokenDuck commented on #526
@tcNickolas  So I simply delete the "init" cell ?

[2020-10-10 11:29] #513 closed

[2020-10-10 15:09] rmshaffer commented on #526
@BrokenDuck yes, you should delete the cell containing `%package Microsoft.Quantum.Katas::0.12.20082513` and the associated instructions.

[2020-10-11 20:17] #507 closed

[2020-10-12 06:57] Manvi-Agrawal commented on #522
Hi, @msoeken @tcNickolas , I was thinking if we could add a couple of new tasks in Truth Tables kata.
Honestly I was confused about the intension of task1. From the example in the explaination of truth table of  (x1 AND x2), I was expecting a similar kind of task, ie ( (x1 AND x2 AND x3), (x1 AND x2 AND x3) or any descriptive task like either one of x1,x2 and x3 is true).

Also, I felt example of

[2020-10-12 08:29] msoeken commented on #522
Hi @Manvi-Agrawal. I think the two tasks you are mentioning is interesting. I don't quite agree with explaining AND, OR, and XOR as 2-input truth tables instead of the bitwise operators. These are two different things. For the latter, we perform the AND of the two truth tables, which is essentially performing the 2-input AND on each pair of bits. This can be done efficiently on an int by using bit

[2020-10-12 09:21] Manvi-Agrawal commented on #522
Hi @msoeken. Thanks for the compliment. Also, got the point of not explaining the truth tables of AND, OR and XOR as it would complicate the things for the learner.

[2020-10-12 09:24] Manvi-Agrawal opened #531 "Add new tasks to the Truth Table kata"
Add the following tasks in Truth Table kata
- Specify truth table for 3-bit input function if exactly 1 bit out of x1, x2 or x3 is true
- Specify truth table for 3-bit input function if exactly 2 bits out of x1, x2 or x3 are true

[2020-10-12 09:28] Manvi-Agrawal commented on #522
Hi @msoeken @tcNickolas, can I go ahead with adding these new tasks in the Truth Tables kata? Thinking of raising a new issue and raising a new PR for the same.

[2020-10-13 19:23] tcNickolas commented on #526
Looks like in the latest PR this is resolved, so I'm closing this issue.

[2020-10-13 19:23] #526 closed

[2020-10-13 21:23] tcNickolas opened #532 "Remove _Test suffix from Q# test names"
Now that we have switched to using `@Test` attribute (#478), we are not using `_Test` suffix in operation names to identify tests any longer. We should be able to remove that suffix from all Q# tests.

Each test is defined in `Tests.qs` file of the corresponding kata/tutorial, and mentioned in the `%kata` cells of the Jupyter notebook frontend of the kata and the matching workbook, if it exists, s

[2020-10-15 11:36] #532 closed

[2020-10-16 13:53] Manvi-Agrawal commented on #485
Hi @tcNickolas. Is it necessary to specify the tasks that need to be excluded in the <code>validate_notebooks.ps1</code> script as <code>CHSHGame.ipynb#T12_ClassicalStrategy_Test</code>? <br>

I have a slightly different strategy to solve the problem.
- Firstly add a tag to the <code>exclude_from_validation</code> to the operations <code>AliceClassical</code> and <code>BobClassical</code> in <code

[2020-10-16 17:40] tcNickolas commented on #485
This looks like a really neat approach! (I didn't dig deep enough into the Notebooks to find this feature.) I like that the meta-information that defines whether the cell needs to be checked is stored next to that cell itself, rather than in a separate script.

We'll need to document that carefully - probably somewhere in the contribution guide, and add a link pointing there from `validate_noteboo

[2020-10-16 17:43] Manvi-Agrawal commented on #485
I would like to work on this issue.

[2020-10-17 06:12] tcNickolas commented on #499
@jainvasu631 Apologies for missing your comment - sure, I don't think anybody is working on this issue, so you're welcome to it :-)

[2020-10-17 06:55] Manvi-Agrawal commented on #488
Hi @tcNickolas.

I would prefer this issue to get resolved before the issue https://github.com/microsoft/QuantumKatas/issues/485 as it effects the 2 workbooks(CHSHGame and SolveSATWithGrover)

I have one approach in mind :

- Copy the workbooks to Check.ipynb validation artifact...
<pre>
<code>
if($Notebook -match 'Workbook_*') {
		# Write workbook data to Check.ipynb artifact
		(Get-Content $Note

[2020-10-17 07:01] tcNickolas commented on #488
Sounds good!

[2020-10-17 07:03] tcNickolas commented on #208
With the GraphColoring workbook finished, I officially declare this issue complete! Thank you everybody who contributed to it!

I'll go through the remaining katas and put together a plan for the second batch of the workbooks soon.

[2020-10-17 07:03] #208 closed

[2020-10-17 07:23] Manvi-Agrawal commented on #488
Cool will raise a PR shortly...

[2020-10-17 09:03] Manvi-Agrawal commented on #485
Hi @tcNickolas , I would like to discuss a few things before sending the PR:<br>

Based on some experimentation on my local machine, here is a high level summary of a few things:
- Some of the notebooks which can be removed from <code>not_ready</code> list without excluding any tasks in the notebook. Validation of these notebooks is successful on my local machine :
  - **ComplexArithmetic** and **

[2020-10-18 04:08] #488 closed

[2020-10-18 04:51] tcNickolas commented on #485
Let's see...
* **SolveSATWithGrover** and **GraphColoring** (and corresponding workbooks) indeed would have their last tasks time out often - since they are randomized, even the reasonable solution will sometimes give incorrect answer on the first few attempts, and if we have 4 notebooks like this in each CI run and run CI several times per day, the probability of one of them timing out is quite h

[2020-10-20 05:23] #485 closed

[2020-10-20 06:01] #491 closed

[2020-10-20 22:12] Yash-g17 commented on #489
I'm afraid due to less familiarity with jupyter notebook and Q# language , I won't be able to complete the task even after spending a lot of time with the issue , I deeply regret for all the inconvenience caused and would like to withdraw myself from this for other hacktoberfest aspirants while the time allows .

[2020-10-21 04:23] tcNickolas commented on #522
@Manvi-Agrawal Are you thinking new tasks should be similar to the first task, so that the truth tables would have to be hardcoded rather than obtained by some manipulations from simpler ones like the later tasks? I agree, this could be helpful to practice converting truth tables to integers before we move on to manipulating those integers. Feel free to send a PR (well, probably after the CI build

[2020-10-21 05:54] #522 closed

[2020-10-21 07:29] Manvi-Agrawal commented on #522
Hi @tcNickolas.  I like your suggestion to extend these two tasks so that they can be obtained by some manipulations from simple truth tables. I was thinking of new tasks so that truth tables would have to be hardcoded. So, maybe after the first task, learner can be asked to implement the these truth tables as hardcoded values. After learning the AND, OR, XOR,NOT, and if then else, the learner can

[2020-10-21 09:01] tcNickolas commented on #522
These specific tasks look like they'd be easier done hardcoded than using elementary operations, so I'd probably just keep them hardcoded.

Sure, no rush - I have plenty of reviews to catch up on! (not to mention everything else...)

[2020-10-21 09:25] Manvi-Agrawal commented on #522
Sounds good

[2020-10-22 02:10] tcNickolas opened #542 "Create workbooks for the katas/tutorials, part 2"
(This issue is the second part of #208)

The katas offer a set of programming exercises on quantum computing and reference solutions to them, but we often hear that it would be helpful to have the solutions explained, with the logic steps necessary to arrive from the problem description to the code spelled out. It is especially important for people who go through the katas on their own, without a

[2020-10-24 00:46] tcNickolas opened #544 "Switch from CounterSimulator.GetMaxQubitCount to AllowAtMostNQubits"
**Context**

Currently we implement the tests for the tasks that restrict the number of qubits the solution can allocate using a custom simulator `CounterSimulator`, which offers [several counting operations](https://github.com/microsoft/QuantumKatas/blob/main/utilities/Common/Utils.qs), in particular `ResetQubitCount` and `GetMaxQubitCount`.

**Improvement**

We should be able to use the recently

[2020-10-24 16:47] Manvi-Agrawal commented on #531
As per discussion in https://github.com/microsoft/QuantumKatas/issues/522#issuecomment-706914502

[2020-10-27 09:45] pandasamanvaya commented on #489
Hi, @tcNickolas, I have added the new task in #549. Check it out it.

[2020-10-27 23:27] tcNickolas opened #551 "Create Oracles tutorial"
This tutorial should be the first in the "Quantum Oracles and Simple Oracle Algorithms" topic: assuming that the learner is already familiar with the previous topics (i.e., is comfortable with the Dirac notation, the concepts of superposition and measurements and using quantum gates), introduce the concept of quantum oracles, some simple tricks to implementing them and Q# exercises to internalize

[2020-10-28 20:30] swernli opened #552 "Measurement counting mechanism should be updated for target package feature."
When the feature work related to https://github.com/microsoft/qsharp-runtime/issues/249 is merged into main, the behavior of `M` will change such that each call to `M` ends up calling `Measure` underneath. This means that places like [Tests.qs](https://github.com/Microsoft/QuantumKatas/blob/main/Measurements/Tests.qs#L190) that validate measurement counts by adding together the number of calls to

[2020-10-28 20:50] swernli commented on #552
Per conversation with @tcNickolas we think the best way to address this is fix the counting mechanism right when the target package feature gets merged. That will have correct behavior for anyone using beta QDK while being slightly over permissive for anyone using the release QDK until the feature makes it into a release. No one should experience any failures during that time, but some invalid kat

[2020-10-30 08:45] Manvi-Agrawal commented on #166
Hi @tcNickolas @rmshaffer, do you have any idea about where to see the Logger messages defined in `KataMagic.cs`?

Some examples are
- [`Logger?.LogWarning(e, "Unexpected error.");` ](https://github.com/microsoft/QuantumKatas/blob/main/utilities/Microsoft.Quantum.Katas/KataMagic.cs#L149)
- [`Logger.LogDebug($"Registering {answer.Key.FullName}");`](https://github.com/microsoft/QuantumKatas/blob/mai

[2020-10-30 12:15] rmshaffer commented on #166
@Manvi-Agrawal Yes, you should set the environment variable `IQSHARP_LOG_LEVEL=Debug` (case-sensitive) and then restart the IQ# kernel. You should then see the log messages output to the console window where you launched Jupyter Notebook.

This logging is very noisy, but hopefully it is manageable.

[2020-10-31 16:09] born-2learn commented on #542
I would love to work on them, @tcNickolas. Will it be okay if I move with a slow pace for these?

[2020-10-31 17:57] tcNickolas commented on #542
@born-2learn Sure! Usually I recommend to pick one workbook to work on and claim it, so that if somebody else wants to take another one, they can; once that one is complete, can pick another one if you want, and so on. The #208 took about a year to complete :-) (though it had more workbooks in it)

[2020-10-31 17:59] born-2learn commented on #542
@tcNickolas Alright, I would like to try out the Phase Estimation workbook then.

[2020-11-02 04:44] JimmyHamel commented on #544
I Would like to work on these!

Also, while testing GraphColoring, task 1.5 using the reference implementation i got errors. It looks like either the solution allocated twice the qubits, or the current simulator counts double the qubits.

Not sure if im doing something wrong but im copying :
 within {
            for ((q0, q1) in Zip(c0, c1)) {
                // compute XOR of q0 and q1 in place

[2020-11-02 05:01] tcNickolas commented on #544
I was literally just typing the message to ask whether you got the latest version :-)

[2020-11-02 13:49] JimmyHamel commented on #544
haha yeah, my fault for writting comment at midnight :-) thanks for the quick answer tho! There is some tests that used the QuantumCounter to print the number of extra qubits that were used. Is that something that we want to loose using these new calls? or is there a way to fetch that information using AllowAtMostNQubits and  AllowAtMostNCallsCA?

[2020-11-02 22:47] tcNickolas commented on #544
Good catch, I missed the second task in PhaseEstimation - yes, please!

[2020-11-02 22:59] JimmyHamel commented on #544
on it!
A little note on what im doing right now: the first 2 were pretty straightfoward, howerver im having issues with:  AllowAtMostNCallsCA. Right now im debuging without even considering the maxqubit constraint.

My test are failing at : Test1BitPEOnOnePair(X, BoundCA([X, H]), -1);

The framework output saysthat X is called more than once. It seems that for AllowAtMostNCallsCA(1, Controlled U,

[2020-11-02 23:10] tcNickolas commented on #544
@cgranade Do you know whether AllowAtMostNCallsCA allows to differentiate between controlled and not-controlled variants of a unitary in this scenario?

[2020-11-03 19:58] PratikSathe commented on #484
I will work on this.

[2020-11-05 00:40] #531 closed

[2020-11-05 04:28] williamdolsen commented on #551
Hi, this is William Olsen and I will be creating a tutorial to encapsulate the requested information.  I will provide an introduction to quantum oracles, what they are, why they matter, and how to use them as well as different types of oracles.  Then the tutorial will move into constructing an oracle and finally testing that oracle.  This tutorial will also set remedy some common questions and mis

[2020-11-05 06:37] #489 closed

[2020-11-05 22:34] tcNickolas commented on #544
@JimmyHamel If AllowAtMostNCallsCA doesn't work in this scenario, I would switch just the qubit counting to AllowAtMostNQubits and leave operation counting as is, and probably file an issue on the libraries repo describing the behavior, similar to https://github.com/microsoft/QuantumLibraries/issues/343. We won't be doing a mass switch to AllowAtMostNCallsCA until that one is resolved, so it's ok

[2020-11-05 22:47] tcNickolas opened #557 "[RandomNumberGeneration] Refactor tests"
In #549 we introduced a new task (generating random numbers from an interval) that uses testing logic very similar to task 3 (generating random numbers with a certain number of bits). It makes sense to refactor the tests as follows:

* Unify `CheckFlatDistributionRange` and `CheckFlatDistribution` to become `CheckUniformDistribution` that would take as input an operation (with no parameters) that

[2020-11-06 01:47] tcNickolas opened #558 "[MagicSquareGame] Split task 1.1 in two parts"
Currently [task 1.1 of MagicSquareGame kata](https://github.com/microsoft/QuantumKatas/blob/main/MagicSquareGame/Tasks.qs#L40) consists of two parts - Alice's and Bob's moves validation, respectively. Both parts are covered with [one test](https://github.com/microsoft/QuantumKatas/blob/main/MagicSquareGame/Tests.qs#L25). However, this is not necessary, since the test validates Alice's and Bob's mo

[2020-11-09 18:09] JimmyHamel commented on #544
Sounds good! I'll keep the CounterSimulator for PhaseEstimation, tasks 2.1 only and change only the qubit counter part.

I created an issue in the QuantumLibraries repo, you can find it here: https://github.com/microsoft/QuantumLibraries/issues/367

thank you!

[2020-11-09 23:46] JimmyHamel commented on #544
Related merge request: https://github.com/microsoft/QuantumKatas/pull/560

[2020-11-10 23:22] #544 closed

[2020-11-13 05:22] Manvi-Agrawal commented on #557
Hi @tcNickolas. Wanted to know your opinions on a few things
- for `lowRange` and `highRange` : I think it should be enough to set them within 3 units of standard deviation(99.9% accuracy)
- For `minimumCopiesGenerated`, I am thinking to use
` minimumCopiesGenerated = 0.8*numberOfIdealCopies > 40 ? 0.8*numberOfIdealCopies | 0`  ,where
 `numberOfIdealCopies : nruns/(max-min+1)`
- how to use Delay o

[2020-11-13 05:47] Manvi-Agrawal commented on #558
Hi @tcNickolas, I would like to take up this issue

[2020-11-13 06:57] tcNickolas commented on #558
Sounds good!

[2020-11-16 18:12] BrokenDuck opened #563 "Graph coloring bounds"
Hi, I wanted to ask why we only search for solutions to graphs with maximum 4 colors. Doesn't this take out a big amount of graphs that we cannot color ? I know the four-color theorem states that planar graphs can be colored with 4 colors. Is it linked ?

[2020-11-16 18:59] tcNickolas commented on #563
This is related not to the nature of the problems we're solving, but rather to the limitations of the simulation we're using. We want our solutions to be small enough to be possible (and fast!) to simulate on an average laptop, and this means we should use under ~30 qubits. To represent a graph, we need (the number of vertices) * (the number of bits per color) qubits to represent the coloring, plu

[2020-11-17 09:07] BrokenDuck commented on #563
Ok, thanks a lot for the answer !

[2020-11-17 09:07] #563 closed

[2020-11-17 12:53] vykrum opened #564 "MultiQubitGates Typo"
Typo in the section [Other Types of Control Gates](https://hub.gke2.mybinder.org/user/microsoft-quantumkatas-wfqqa75j/notebooks/tutorials/MultiQubitGates/MultiQubitGates.ipynb) of the Multi Qubit Gates tutorial

<img width="1003" alt="Screenshot 2020-11-17 at 6 19 52 PM" src="https://user-images.githubusercontent.com/5621624/99392407-ab440580-2901-11eb-9daa-c2f8a3edc725.png">

Should be _control,_

[2020-11-17 16:17] vykrum commented on #564
Towards the end of the same section
<img width="1019" alt="Screenshot 2020-11-17 at 9 42 13 PM" src="https://user-images.githubusercontent.com/5621624/99415614-fe2bb600-291d-11eb-90ee-b25592741167.png">

Should be _but_, not _by_

PS: Apologies for creating a new issue for these typos. Creating pull requests is beyond me.

[2020-11-18 05:13] #564 closed

[2020-11-18 05:15] tcNickolas commented on #564
Thank you @vykrum for noticing these, and @nitish-awasthi for fixing them - excellent teamwork :-)

[2020-11-18 06:00] tcNickolas commented on #557
For the first two questions, looks reasonable :-)

For the `Delay` operation, I haven't tried it in code yet, but I believe it would work as follows.
* Currently `CheckFlatDistribution` takes as an argument a random number generator with signature `(Int => Int)`, with one `Int` parameter and an `Int` return; this means that for the first tasks in which the random number generator is parameterless

[2020-11-18 09:06] #558 closed

[2020-12-09 18:03] #497 closed

[2020-12-21 19:37] tcNickolas opened #580 "`%kata` magic should use the simulator specified in `@Test` attribute"
Currently executing a cell with `%kata` or `%check_kata` selects the simulator to use in [this code](https://github.com/microsoft/QuantumKatas/blob/5eb28be678c3bb1cd819a212545ca51657c60481/utilities/Microsoft.Quantum.Katas/KataMagic.cs#L206) - which always uses `CounterSimulator`. This works for now, since all tests are configured to use either `CounterSimulator` or `QuantumSimulator` from which t

[2020-12-22 06:52] #551 closed

[2020-12-29 08:16] #196 closed

[2021-01-02 04:10] MarrickLip opened #582 "[CHSHGame] Dead-link in README.MD"
"The [Lecture 20](https://cs.uwaterloo.ca/~watrous/CPSC519/LectureNotes/20.pdf) by John Watrous." link in [CHSHGame/README.md](https://github.com/microsoft/QuantumKatas/blob/main/CHSHGame/README.md) is dead.

https://cs.uwaterloo.ca/~watrous/CPSC519/LectureNotes/20.pdf is no longer available and I can't find a mirror -_-

[2021-01-02 19:44] tcNickolas commented on #582
Looks like John Watrous did some reorganizing of his lecture notes, and it now resides at https://cs.uwaterloo.ca/~watrous/QC-notes/ (still as lecture 20).

We'll need to go through the rest of the [links to his lecture notes](https://github.com/microsoft/QuantumKatas/search?q=watrous) and fix them as well.

Thank you for reporting!

[2021-01-04 08:05] #582 closed

[2021-01-25 02:25] Aisuko opened #588 "[Feature] Decrease the static resource size of the repo"
Hello, guys. I'm new to QuantumKatas and thanks for the Microsoft Quantum computing tutorial. I'm enjoying the quantum computing learning journey.

And I'm a maintainer of several opensource projects, so there may a little suggestion, please take a look on https://github.com/Aisuko/QuantumKatas/pull/1

I mean the ImgBot will make the file size go down, but leave the dimensions and quality untouche

[2021-01-25 05:25] tcNickolas commented on #588
Hi @Aisuko,
I'm glad you're enjoying the tutorials!

Do you think that there is a scenario in which size of images is a problem for the user? The size of non-image files alone in the Superposition kata (to which majority of the affected images belong) is over 200KB, which is order of magnitude more than the savings offered by the image compression. I imagine in most cases the user downloads the wh

[2021-01-25 06:45] Aisuko commented on #588
Thanks for the quick reply @tcNickolas, in my personal experiences. I'd like to let the static resource (especially format `png` or `jpg` images) as small as it can. Especially for opensource projects, there may attract many contributors to contribute, as far as the number of contributor ingress, the ImgBot can help maintainer control the size of the images.

And another reason, may some situation

[2021-01-28 23:28] tcNickolas commented on #588
I spent some time looking into it, and for now I won't be adding this bot. As I mentioned, the improvement in the size of the images offered by it is less than 0.1% of the total size of the repository, and I just don't think it's high enough priority at this time.

I'll keep this idea in mind, though, so if we ever get to a point that the repository grows to a size (and the number of contributors)

[2021-01-28 23:28] #588 closed

[2021-01-29 18:35] swernli commented on #552
The work for https://github.com/microsoft/qsharp-runtime/issues/249 has completed the feature branch has been merged, so it's time to circle back to this issue and fix the katas as described above. I'll open a PR soon.

[2021-01-29 20:47] #552 closed

[2021-02-13 21:28] mbuchberger1967 commented on #349
It is still helpful, thank you.

[2021-02-18 07:55] Manvi-Agrawal commented on #166
Hi @rmshaffer @tcNickolas, I am not able to see the modified error messages in the console window. For eg I tried to modify
- [`Logger.LogDebug($"Resolved {userAnswer.FullName} to {skeletonAnswer}");`](https://github.com/microsoft/QuantumKatas/blob/main/utilities/Microsoft.Quantum.Katas/KataMagic.cs#L223) to
`Logger.LogDebug($"Hi Resolved {userAnswer.FullName} to {skeletonAnswer}");` and built the

[2021-02-23 05:04] tcNickolas commented on #166
Yes, you need to update the Microsoft.Quantum.Katas project, build a NuGet package with a custom version out of it and use that package instead of the published NuGets.

Here's the sequence of steps that I use to build and use a private NuGet package:
1. Build the Microsoft.Quantum.Katas project to produce a NuGet package (you can set version field in [this file](https://github.com/microsoft/Quant

[2021-02-23 07:34] Manvi-Agrawal commented on #166
Hi @tcNickolas , seems that these steps aren't sufficient to see updated messages in IQ#.
Also, a more general doubt: is there any smart way to debug `kata` and `check_kata` magic; or do we need to rely on log messages in IQ# console window?

[2021-02-23 09:23] tcNickolas commented on #166
Hmm, then this might take a different path... I don't recall debugging these magics, but I'll try to set it up locally and ask around in the team to see how it's done.

Meanwhile, it sounded like you were going to work on #557 - I'd suggest doing that one first, since it only involves plain Q# :-)

[2021-02-23 09:50] Manvi-Agrawal commented on #166
Thats a nice suggestion. I would be doing #557 first.

[2021-02-26 04:41] Manvi-Agrawal commented on #557
- Geeting the following error when I tried to use delay operation:
QS6201	The shape of the given tuple does not match the expected type. Got an argument of type (((Int, Int) => Int), Int, Int, _), expecting one of type (('T => 'U), 'T, Unit) instead.		~\QuantumKatas\tutorials\RandomNumberGeneration\Tests.qs	163

	My changes:
	- Syntax : `CheckFlatDistributionRange(Delay(RandomNumberInRange,1,3,_),

[2021-02-26 05:03] Manvi-Agrawal commented on #557
And as for reduction in parameters, I think I miscalculated earlier for lowRange and highRange. Seeting lowRange and highRange variables within three unit of standard deviation is  allowing mean to go out out of (min,max) range for some cases :-(

I talked with @pandasamanvaya who told me that that currently the values for `lowRange` and `highRange` are based on experimentation by running the test

[2021-02-26 05:14] Manvi-Agrawal commented on #557
And as for retrying calls to CheckUniformDistribution, I require some time for experimentation since the operation returns a Unit, so how do I assure if a test passed? I am a beginner wrt to Unit Testing.

[2021-02-26 14:14] pandasamanvaya commented on #557
Hi @Manvi-Agrawal. After carefully observing the CheckUniformDistribution function, here are some of the insights I would like to share. The distribution generated by the random number generator must be uniform. So, mean = median. This makes median checking redundant if we are checking frequency of each number over nRuns(minimumCopiesGenerated).
If we consider mean as a random variable then its di

[2021-02-26 14:24] Manvi-Agrawal commented on #557
Thanks @pandasamanvaya. This helps a lot. Actually, when I calculated this time, I forgot to divide variance by nRuns, which led to variance going out of range :-( . Do you want to do this task?

[2021-02-26 14:40] pandasamanvaya commented on #557
You have already done the hard work. Its better if you continue. I would have to start from the beginning.

[2021-02-26 14:42] Manvi-Agrawal commented on #557
Ok @pandasamanvaya.

[2021-02-27 14:10] Manvi-Agrawal opened #600 "Possibly switch back to Counter Simulator in Random Number Generation Tutorial"
I am not able to see additional output when tests in `RandomGenerationTutorial` fail. I am testing this in `Visual Studio 2019`.

I think that is because `ResetOracleCallsCount()` function is defined in `CounterSimulator` and is used by `CheckFlatDistribution()`, `CheckFlatDistributionRange()` and `CheckXPercentZero()`
Because tests pass majority of the time after switching to `CounterSimulator` f

[2021-02-28 19:14] Manvi-Agrawal commented on #557
Hi @tcNickolas, how many times do we want to retry a function? I was thinking of 5 times.

[2021-03-02 20:39] tcNickolas commented on #600
The file `Tests.qs` should definitely use `@Test("Microsoft.Quantum.Katas.CounterSimulator")` instead of `@Test("QuantumSimulator")` - otherwise the tests will fail when running from VS or VS Code because of undefined operation, as you correctly pointed out. Nice catch!

However, when this tutorial is executed as a Jupyter Notebook (which is the main use case scenario, as it is a tutorial, not a k

[2021-03-02 20:51] tcNickolas commented on #557
* For the number of retries, I imagine that correct solutions will only need the second retry most of the time, and the third one would bring the failure probability negligibly low, so 3 should be enough. Going higher will make testing incorrect solutions (the ones that fail every time reliably) slower, so I wouldn't go too high.
* With the retries in place, I don't think we need to be super preci

[2021-03-02 23:33] Manvi-Agrawal commented on #600
I was thinking of doing this in PR related to #557 since it's a small change. Or do you want me to raise a separate PR for easy review?

[2021-03-02 23:39] tcNickolas commented on #600
Yes, combining these two changes in one PR will be fine.

[2021-03-19 16:19] Manvi-Agrawal commented on #166
Hi @tcNickolas ,
Now I am able to see updated log messages while running IQ# kernel in debug mode. I did the following additional steps:
1) Set the environment variables `IQSHARP_LOG_LEVEL='Debug'` and `IQSHARP_SKIP_AUTO_LOAD_PROJECT='True'`
2) Added `<RootNameSpace>Microsoft.Quantum.Katas</RootNameSpace>` to the `<PropertyGroup>` tag in `Microsoft.Quantum.Katas.csproj`
3) Used `%package` magic to

[2021-04-01 06:00] Manvi-Agrawal commented on #166
Hi @tcNickolas @rmshaffer, I think a good approach to solve this issue would be after the following issue is resolved https://github.com/microsoft/iqsharp/issues/277. Because currently IQ# recognises all Q# files in the root folder of jupyter notebook and compiles them into a DLL file like this
<pre><a href = "https://github.com/microsoft/iqsharp/blob/main/src/Core/Workspace/Project.cs#L206">__ws_

[2021-04-02 18:26] Manvi-Agrawal commented on #580
Hi @tcNickolas, a couple of questions to understand the scope of this issue :
- Can [custom simulators](https://devblogs.microsoft.com/qsharp/build-your-own-q-simulator-part-1-a-simple-reversible-simulator/) be used by using `@Test` attribute? Is it in scope of this PR?
- For [`ToffoliSimulator`](https://docs.microsoft.com/en-us/azure/quantum/user-guide/machines/toffoli-simulator):
Currently, it s

[2021-04-02 20:53] tcNickolas commented on #580
* Yes, custom simulators can be used with the `@Test` attribute; you can see an example of a test using `CounterSimulator` [here](https://github.com/microsoft/QuantumKatas/blob/fb048f3d6e46f48788d54cdc93087967ab12049f/PhaseEstimation/Tests.qs#L102), and there is an (unfortunately, internal) example of the `@Test` attribute used with a simulator that is defined in the same project as the Q# code. I

[2021-04-03 04:10] Manvi-Agrawal commented on #580
Hi @tcNickolas, no issues for delayed review. I understand that it requires a lot of efforts goes into planning what tutorials and challenges would go into QCHack event. Looking forward to the event. Meanwhile, I think I would need to revisit a few things in the code to do this task after this clarification.

[2021-04-21 17:21] Manvi-Agrawal commented on #580
Hi @tcNickolas, got a few things working on my local machine. Just a few questions.
- Do you need design first or a direct PR would be good?
- Currently, I am able to create all simulators of the type `SimulatorBase` which are either derived from it directly(like `QuantumSimulator`); or indirectly as in the case of `CounterSimulator`(derived from `QuantumSimulator`) and `ReversibleSimulator`(deriv

[2021-04-26 06:18] Manvi-Agrawal commented on #580
Hi @tcNickolas , kindly find the [design document](https://docs.google.com/document/d/1APDB3G9mmfx7aJEe8zd7gm9XUv9JK4nCEzB7O3wbBwI/edit?usp=sharing) for this issue.

I agree this is a bit lengthy, but last 3 pages aren't that important, so you might want to skip them :-) They contain some nitty-gritty details about the code and some other things.

[2021-04-26 20:15] tcNickolas commented on #166
A quick answer to the comment-before-last one: yes, documenting these steps in the contributor's guide would definitely be helpful!

Let me try and think of a workaround for this - I feel like I had an idea a couple of weeks ago which involved calling a Python test instead of C# one, but I can't promise that I'll recall it or that it will actually make sense :-)

[2021-04-28 01:32] #557 closed

[2021-04-28 01:32] #600 closed

[2021-04-28 04:04] Manvi-Agrawal opened #616 "How to use DumpUnitary utility in UnitaryPatterns notebook"
I tried the following steps:
1. Built the DumpUnitary project to produce a NuGet package.
2. Copied the generated .nupkg file to the UnitaryPatterns kata.
3. Set up NuGet.config file so that it allows the project to discover a NuGet package in the current folder in addition to the standard sources.
4.  Added the following cells in IQ# notebook
[code]

Getting the following error when running simul

[2021-04-28 17:16] tcNickolas commented on #616
I've never tried calling DumpUnitary from Q# notebooks (it's so old it predates the notebooks support for Q#!), but I think `%simulate` doesn't like taking a callable as a parameter. I'd suggest writing a wrapper operation without any parameters that would call DumpUnitary with the parameters you want, and `%simulate` that operation.

[2021-04-28 17:57] Manvi-Agrawal commented on #616
Thank you @tcNickolas for the help. Now, I am able to call it through UnitaryPattern notebook

[2021-04-28 17:57] #616 closed

[2021-04-28 17:59] tcNickolas commented on #616
Great!
Just to offer another option, you can use [DumpOperation](https://docs.microsoft.com/en-us/qsharp/api/qsharp/microsoft.quantum.diagnostics.dumpoperation) similarly to dump the raw matrix, without conversion to a pattern, if you need more information about the unitary.

[2021-04-28 18:02] Manvi-Agrawal commented on #616
Thank you @tcNickolas. Would be glad to try it out.

[2021-05-03 17:57] Manvi-Agrawal commented on #580
Hi @tcNickolas.
- I was thinking about raising a prototype PR for this issue. This would contain
    -  Example notebook that has tests running on different simulators
    -  Custom NuGet package that I built on my local machine.
- Or would you prefer reviewing the [design document](https://docs.google.com/document/d/1APDB3G9mmfx7aJEe8zd7gm9XUv9JK4nCEzB7O3wbBwI/edit?usp=sharing) first?

[2021-05-05 01:05] anjbur commented on #580
Hi @Manvi-Agrawal! Your design document looks good to me. For 3a, determining the simulators specified, [this](https://github.com/microsoft/iqsharp/blob/252088342ff3dd6bc7be374ded2b0c0e750a003d/src/Kernel/Extensions.cs#L101) iqsharp code should be useful reference. In that line we're retrieving details about documentation, but it should be similar logic to retrieve the specified simulator so that

[2021-05-05 04:20] Manvi-Agrawal commented on #580
Thank you @anjbur for providing the reference to the iqsharp code.

[2021-05-10 18:25] Manvi-Agrawal commented on #580
Hi @tcNickolas @anjbur , makes sense to not change `Dockerfile` and the `validate-notebooks.ps1` script since they might cause the build failures.
I would like to know if we want to retain the `Prototype` notebook or not as mentioned in https://github.com/microsoft/QuantumKatas/pull/621

[2021-05-11 08:22] Manvi-Agrawal commented on #580
Hi @tcNickolas. How much manual testing are you expecting for #620?
I have tested the effects of changes of `CheckKataMagic` for all notebooks using `%check_kata` locally. So, do you want exhaustive testing for `KataMagic` too? I think that might not be very necessary since `KataMagic` uses logic almost similar to the `CheckKataMagic`. The only difference was the rich jupyter state display for the

[2021-05-12 12:04] Manvi-Agrawal commented on #139
Hi @tcNickolas , I would like to work on weak coloring.
I have a doubt, do we re-organise the structure of the GraphColoring kata? I was thinking that perhaps I could add the classical and quantum parts for weak coloring as tasks 2.3 and tasks 2.4 and move Grover's algorithm implementation to part 3 and follow a approach similar to Grovers algorithm kata. So, the current task 2.3 GroversAlgorithm

[2021-05-29 04:22] WaywardPhoton commented on #542
@tcNickolas  Is there anything I can work on? I'd be happy to create workbooks for QFT if that is something that would be needed.  It seems like there isn't one currently available.

[2021-05-29 04:22] WaywardPhoton commented on #542
@tcNickolas  Is there anything I can work on? I'd be happy to create workbooks for QFT if that is something that would be needed.  It seems like there isn't one currently available.

[2021-05-29 18:10] tcNickolas commented on #542
Hi Ana,
Absolutely! I'm not aware of anybody else working on the QFT kata workbook,
so you're welcome to it! Please let me know if you need any help from me to
get started.

On Fri, May 28, 2021 at 9:22 PM Ana Madalena ***@***.***>
wrote:

[2021-05-29 21:51] WaywardPhoton commented on #542
@tcNickolas  I'd love some general guidelines on content. I know that the solution already exists (and all I have to do is explain it) but if there is anything specific that explanations are required to have I'd like to know!

[2021-05-30 17:55] tcNickolas commented on #542
The best way to get an idea of how the workbook should look is probably
checking out the ones for other katas. Typically we want to explain the way
to come to the solution mathematically, and then to highlight some Q#
features/library operations that come in handy but can be not obvious for
someone who is just getting started with the language.

On Sat, May 29, 2021 at 2:51 PM Ana Madalena ***@***

[2021-06-10 01:02] tcNickolas opened #629 "DumpOperation doesn't work inside %kata cells"
A Q# Jupyter Notebook cell like this:

    %kata T_TestName

    operation OperationName () : Double {
        // ...
        DumpOperation(2, ApplyToFirstTwoQubitsCA(CNOT, _));
        return 0.0;
    }

does not print a matrix of a CNOT operation, as expected. Instead, it either prints nothing (if I run it on a local IQ# installation) or prints DumpMachine output for a state which I suspect is t

[2021-06-10 04:00] Manvi-Agrawal commented on #629
Hi @tcNickolas @anjbur , adding this following line to the `KataMagic.cs` inside `Simulate()` seems to fix the bug.
[code]

[2021-06-10 06:58] tcNickolas commented on #629
That looks very promising! Could you send a pull request with the fix so
that we can validate it? Thank you!!

On Wed, Jun 9, 2021 at 9:01 PM Manvi-Agrawal ***@***.***>
wrote:

[2021-06-10 07:28] Manvi-Agrawal commented on #629
I would love to do that. But I think it doesn't fix the problem completely

In **Superposition** kata, if I add `DumpOperation(2, ApplyToFirstTwoQubitsCA(CNOT, _));` , it works perfectly fine.
![Screenshot (79)](https://user-images.githubusercontent.com/40084144/121482252-95577880-c9ea-11eb-941f-d9f7639f1246.png)

However, in **BasicGates** kata, if I add `DumpOperation(2, ApplyToFirstTwoQubitsCA(

[2021-06-10 07:37] Manvi-Agrawal commented on #629
@tcNickolas , I am trying to figure out to figure out the cause of this odd behaviour b/w the **Superposition** and the **BasicGates** kata since they use a similar testing harness.

Initially I thought it might be due to the initial state preparation step in the **BasicGates** kata which converts **|0>** to **0.6*|0> + 0.8*|1>**, so I commented out the `statePrep` step but its not helping as evid

[2021-06-10 17:16] tcNickolas commented on #629
One difference I see between Superposition and BasicGates is that Superposition only uses [plain version of the task operation](https://github.com/microsoft/QuantumKatas/blob/86c7a44e703187f7dafc4615e9cd5efa45f7d1e3/Superposition/Tests.qs#L39), and BasicGates uses both the [plain version](https://github.com/microsoft/QuantumKatas/blob/86c7a44e703187f7dafc4615e9cd5efa45f7d1e3/BasicGates/Tests.qs#L6

[2021-06-10 17:31] Manvi-Agrawal commented on #629
Hi @tcNickolas ,  I also initially thought on the same lines.

Finally found the culprit in `BasicGates`. It was the call to `AssertOperationsEqualsReferenced` function in the test. Removing this line now doesn't give the additional output. Unfortunately a large number of tests use this operation, so would need to think a fix for the same.

[2021-06-10 17:48] tcNickolas commented on #629
Yeah, that operation is the core part of a lot of tests :-)
But [internally](https://github.com/microsoft/qsharp-runtime/blob/main/src/Simulation/TargetDefinitions/Decompositions/AssertOperationsEqualReferenced.qs#L56) it only calls the test operation again, so I would understand if we got two matrices in BasicGates, but not the DumpMachine output instead...

[2021-06-10 17:50] Manvi-Agrawal commented on #629
Hi @tcNickolas, the controlled version of the operation is indeed troubling. Passing the basic version, gives two matrices.

[2021-06-10 17:58] tcNickolas commented on #629
Aha, so it looks like there are two things in play here:
1. Enabling printing DumpOperation output from the %kata magic, which your fix addresses.
2. `Controlled DumpOperation(new Qubit[0], (2, ApplyToFirstTwoQubitsCA(CNOT, _)));` prints DumpMachine output instead of matrix, but that happens regardless of the katas, I can reproduce this behavior in a regular Q# Jupyter Notebook cell.

I suggest we

[2021-06-11 03:41] Manvi-Agrawal commented on #629
Hi @tcNickolas , I am observing same `DumpMachine` output in `RippleCarryAdder` kata, if I add `DumpOperation(2, ApplyToFirstTwoQubitsCA(CNOT, _));` in `LowestBitCarry` operation and then try to implement `TwoBitAdder` in Task 1.6.

I am able to reproduce the behaviour of Adjoint DumpOperation in regular Q# Jupyter Notebook cell as you did for the Controlled Variant [here](https://github.com/micro